<style>
    .important {
        background: #FFEBEB;
    }
</style>
<meta charset="utf-8">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-8">
                <h2>{{ 'PRODUCT_MENU' | translate }}</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#/dashboard">Home</a>
                    </li>
                    <li>
                        <a href="#/statistic/1">{{ 'STATISTIC_SINGLE_STATISTIC' | translate }}</a>
                    </li>
                    <li class="active">
                        <strong>{{ProductDetailCtrl.currentProduct.name}}</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
                <div class="row">
                    <br/>
                    <h3>{{ 'SOURCE_SOURCE' | translate }}</h3>
                </div>
                <div class="row" style="margin-right:10px">
                    <select class="form-control" style="width: 100%" ng-model="ProductDetailCtrl.source">
						<option value="ALL">{{ 'STATISTIC_PERIOD_ALL' | translate
							}}</option>
                        <option ng-repeat="source in ProductDetailCtrl.sourceService.sources| orderBy:'name'" value="{{source.name}}">{{source.name}}</option>
					</select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="row">
                    <br/>
                    <h3>{{ 'STATISTIC_PERIOD' | translate }}</h3>
                </div>
                <div class="row" style="margin-right:10px">
                    <select class="form-control" style="width: 100%" ng-model="ProductDetailCtrl.dateRange">
						<option value="DAILY">{{ 'STATISTIC_PERIOD_TODAY' |
							translate }}</option>
						<option value="WEEKLY">{{ 'STATISTIC_PERIOD_WEEK' |
							translate }}</option>
						<option value="MONTHLY">{{ 'STATISTIC_PERIOD_MONTH' |
							translate }}</option>
						<option value="YEARLY">{{ 'STATISTIC_PERIOD_YEAR' |
							translate }}</option>
						<option value="ALL">{{ 'STATISTIC_PERIOD_ALL' | translate
							}}</option>
					</select>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="ProductDetailCtrl.productFound" class="wrapper wrapper-content animated fadeInRight">
    <div product chart="ProductDetailCtrl.productStatisticColumnChart" daterange="ProductDetailCtrl.dateRange" source="ProductDetailCtrl.source"
        productobj="ProductDetailCtrl.currentProduct"></div>
</div>