<div ng-if="statisticCtrl.currentTab==1">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">{{ statisticCtrl.dateRange | translate }}</span>
                    <h5>{{ 'STATISTIC_PROFIT' | translate }}</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{statisticCtrl.getProfitTotal()| currency:'\u20AC'}}</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">{{ statisticCtrl.dateRange | translate }}</span>
                    <h5>{{ 'STATISTIC_TURNOVER' | translate }}</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{statisticCtrl.getTurnoverTotal() | currency:'\u20AC'}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">{{ statisticCtrl.dateRange | translate }}</span>
                    <h5>{{ 'STATISTIC_SALES' | translate }}</h5>
                </div>
                <div class="ibox-content">
                    <ul class="stat-list m-t-lg">
                        <li>
                            <h2 class="no-margins">{{statisticCtrl.getSaleAmount()}}/{{statisticCtrl.getLeadAmount()}}</h2>
                            <small>{{ 'STATISTIC_SALES_OF_LEADS' | translate }}</small>
                            <div class="progress progress-mini">
                                <div ng-style="{'width':statisticCtrl.getLeadConversionRate()+'%'}" class="progress-bar progress-bar-danger"></div>
                            </div>
                        </li>
                        <li>
                            <h2 class="no-margins">{{statisticCtrl.getSaleAmount()}}/{{statisticCtrl.getOfferAmount()}}</h2>
                            <small>{{ 'STATISTIC_SALES_OF_OFFERS' | translate }}</small>
                            <div class="progress progress-mini">
                                <div ng-style="{'width':statisticCtrl.getOfferConversionRate()+'%'}" class="progress-bar progress-bar-warning"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">{{ statisticCtrl.dateRange | translate }}</span>
                    <h5>{{ 'STATISTIC_PROFIT_ON_SALES' | translate }}</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{statisticCtrl.getEfficiency() | number:2}}%</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">{{ statisticCtrl.dateRange | translate }}</span>
                    <h5>{{ 'STATISTIC_PROFIT_PER_SALE' | translate }}</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{statisticCtrl.getProfitPerSale() | currency:'\u20AC'}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">{{ statisticCtrl.dateRange | translate }}</span>
                    <h5>{{ 'STATISTIC_CONVERSIONRATE' | translate }}</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{statisticCtrl.getLeadConversionRate() | number:2}}%</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">{{ statisticCtrl.dateRange | translate }}</span>
                    <h5>{{ 'STATISTIC_PARTS' | translate }}</h5>
                </div>
                <div class="ibox-content">
                    <highchart id="SingleStatisticWorkflowPieChart" config="statisticCtrl.getChartModelById('SPLOS').chartConfig"></highchart>
                </div>
            </div>
        </div>
    </div>
</div>