<style>
div.loginscreen div.tooltip div.tooltip-inner {
		width: 300px;
		max-width: 300px;
        }
</style>
<div class="loginscreen text-center">
		<div style="margin-bottom: 30px;">
			<h2 class="animated fadeInDown" style="color: whitesmoke; font-size: 100px; font-weight: 800; letter-spacing: 10px;">lead+</h2>
		</div>
		<h3 class="animated fadeInDown" style="color: white">{{ 'REGISTRATION_SUBDOMAIN_GET_FREE_TRIAL' | translate }}</h3>
		<i class="fa fa-question-circle animated fadeInDown" style="font-size: 2em; color: white;" tooltip-placement="right" uib-tooltip="{{'REGISTRATION_SUBDOMAIN_TOOLTIP' | translate}}" ></i>
		<br>
</div>	
<form name="validation" novalidate role="form" class="animated fadeInDown">
	<div class="row">
		<!-- Sitename -->
		<div class="col-md-4 col-md-offset-4">
			<label style="color: whitesmoke;">{{ 'REGISTRATION_SUBDOMAIN_SITE' | translate }}</label><span style="color:red" > *</span>
			<span style="color:red" ng-show="registrationCtrl.registrationService.tenantKeyExist&&!validation.tenantKey.$pristine&&!validation.tenantKey.$error.maxlength&&!validation.tenantKey.$error.minlength&&!validation.tenantKey.$error.required"> {{ 'REGISTRATION_VALIDATE_SUBDOMAIN_IN_USE'| translate }}</span>
			<span style="color:red" ng-show="validation.tenantKey.$error.required&&!validation.tenantKey.$pristine"> {{ 'COMMON_VALIDATE_REQ' | translate }}</span>
			<span style="color:red" ng-show="validation.tenantKey.$error.maxlength"> {{ 'REGISTRATION_VALIDATE_PASSWORD_TOO_LONG' | translate }}</span>
			<div class="form-group" ng-class="{'has-error': validation.tenantKey.$invalid
												|| registrationCtrl.registrationService.tenantKeyExist }">
				<div class="input-group">
					<input type="text" class="form-control" name="tenantKey" placeholder="{{ 'REGISTRATION_SUBDOMAIN_YOUR_SITENAME' | translate }}" required ng-pattern="/^[a-zA-Z]*$/"
						ng-minlength="3" ng-maxlength="20" ng-model="registrationCtrl.tenant.tenantKey" ng-model-options="{ debounce: 600 }" ng-change="registrationCtrl.uniqueTenantKey()">
					<div class="input-group-addon">.leadplus.me</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Package -->
	<!--
	<div class="text-center">
		<h2><i class="fa fa-suitcase" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>Basic:</b> Basic functionallity!; <b>Pro:</b> See Statistics!; <b>Ultimate:</b> Get special support!'"></i></h2>
		<label style="color: #ffffff;">Choose your package</label>
	</div>
	</br>
	<div class="row">
		<div class="form-group" ng-class="{ 'has-success has-feedback': !validation.license.$error.required&&
																					!validation.license.$pristine,														
													'has-error has-feedback': 		validation.license.$error.required &&  
																					!validation.license.$pristine	 }">
			<div class="col-xs-4 col-sm-4 col-md-4">
				<label> <input class="i-checks form-control" iCheck type="radio" ng-model="registrationCtrl.tenant.license.licenseType" value="BASIC" name="license" ng-required="!registrationCtrl.tenant.license.licenseType"> <i></i> Basic </label>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<label> <input class="i-checks form-control" iCheck type="radio" ng-model="registrationCtrl.tenant.license.licenseType" value="PRO" name="license" ng-required="!registrationCtrl.tenant.license.licenseType"> <i></i> Pro</label>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4">
				<label> <input class="i-checks form-control" iCheck type="radio" ng-model="registrationCtrl.tenant.license.licenseType" value="ULTIMATE" name="license" ng-required="!registrationCtrl.tenant.license.licenseType"> <i></i> Ultimate</label>
			</div>
		</div>
		<span ng-show="validation.license.$error.required &&!validation.license.$pristine" class="help-block">{{ 'COMMON_VALIDATE_REQ'| translate }}</span>
	</div>
	-->

	<!-- fullname -->
	<div class="row">
		<div class="col-md-2 col-md-offset-4">
			<label style="text-align: left;color: whitesmoke;">{{ 'COMMON_FIRSTNAME' | translate }}</label><span style="color:red" > *</span>
			<span style="color:red" ng-show="validation.firstname.$error.required &&!validation.firstname.$pristine"> {{ 'COMMON_VALIDATE_REQ'| translate }}</span>
			<span style="color:red" ng-show="validation.firstname.$error.maxlength &&!validation.firstname.$pristine"> {{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
			<div class="form-group" ng-class="{ 'has-error': validation.firstname.$invalid}">
				<input required ng-minlength="2" ng-maxlength="20" type="text" ng-model-options="{ debounce: 600 }" name="firstname" id="firstname" class="form-control" placeholder="{{ 'COMMON_FIRSTNAME' | translate }}"
					ng-model="registrationCtrl.user.firstname">
			</div>
		</div>
		<div class="col-md-2">
			<label style="text-align: left;color: whitesmoke;">{{ 'COMMON_LASTNAME' | translate }}</label><span style="color:red" > *</span>
			<span style="color:red" ng-show="validation.lastname.$error.required &&!validation.lastname.$pristine"> {{ 'COMMON_VALIDATE_REQ'| translate }}</span>
			<span style="color:red" ng-show="validation.lastname.$error.maxlength &&!validation.lastname.$pristine"> {{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
			<div class="form-group" ng-class="{ 'has-error': validation.lastname.$invalid}">
				<input required ng-minlength="2" ng-maxlength="20" type="text" ng-model-options="{ debounce: 600 }" name="lastname" id="lastname" class="form-control" placeholder="{{ 'COMMON_LASTNAME' | translate }}"
					ng-model="registrationCtrl.user.lastname">
			</div>
		</div>
	</div>

	<!-- Email -->
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<label style="text-align: left;color: whitesmoke;">{{ 'COMMON_EMAIL' | translate }}</label><span style="color:red" > *</span>
			<span style="color:red" ng-show="validation.email.$error.required&&!validation.email.$pristine"> {{ 'COMMON_VALIDATE_REQ'| translate }}</span>
			<span style="color:red" ng-show="validation.email.$error.email&&!validation.email.$pristine"> {{ 'COMMON_VALIDATE_EMAIL' | translate }}</span>
			<div class="form-group" ng-class="{ 'has-error': validation.email.$invalid}">
				<input type="email" id="email" name="email" class="form-control" ng-model-options="{ debounce: 600 }" placeholder="{{ 'REGISTRATION_VALIDATE_TENANT_EMAIL' | translate }}"
					required ng-model="registrationCtrl.user.email">
			</div>
		</div>
	</div>

	<!-- Password -->
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<label style="text-align: left;color: whitesmoke;">{{ 'COMMON_PASSWORD' | translate }}</label><span style="color:red" > *</span>
			<span style="color:red" ng-show="validation.password.$dirty && validation.password.$error.required&&!validation.password.$error.maxlength"> {{ 'COMMON_VALIDATE_REQ' | translate }}</span>
			<span style="color:red" ng-show="validation.password.$error.minlength"> {{ 'COMMON_VALIDATE_PASSWORD_MIN' | translate }}</span>
			<span style="color:red" ng-show="validation.password.$error.maxlength"> {{ 'SIGNUP_VALIDATE_PASSWORD_TO_LONG' | translate }}</span>
			<div class="form-group" ng-class="{ 'has-error': validation.password.$invalid}">
				<input type="password" id="password" name="password" ng-model-options="{ debounce: 600 }" class="form-control" placeholder="{{ 'COMMON_PASSWORD' | translate }}"
					required ng-model="registrationCtrl.password1" ng-minlength="6" ng-maxlength="20">
			</div>
		</div> 
	</div>

	<!-- Password Confirm -->
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<label style="text-align: left;color: whitesmoke;">{{ 'COMMON_PASSWORD' | translate }}</label><span style="color:red" > *</span>
			<span style="color:red" ng-show="validation.password2.$dirty && validation.password2.$error.required&&!validation.password2.$error.maxlength"> {{ 'COMMON_VALIDATE_REQ' | translate }}</span>
			<span style="color:red" ng-show="validation.password2.$error.minlength"> {{ 'COMMON_VALIDATE_PASSWORD_MIN' | translate }}</span>
			<span style="color:red" ng-show="validation.password2.$error.maxlength"> {{ 'SIGNUP_VALIDATE_PASSWORD_TO_LONG' | translate }}</span>
			<span style="color:red" ng-show="validation.password2.$error.pwmatch && !validation.password2.$pristine &&!validation.password2.$error.minlength &&!validation.password2.$error.maxlength"> {{ 'COMMON_VALIDATE_PASSWORD_NOT_MATCH' | translate }}</span>
			<div class="form-group" ng-class="{ 'has-error': validation.password2.$invalid}">
				<input type="password" id="password2" name="password2" class="form-control" ng-model-options="{ debounce: 600 }" placeholder="{{ 'COMMON_PASSWORD' | translate }}"
					required ng-model="registrationCtrl.password2" ng-minlength="6" ng-maxlength="20" pw-check="password">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="form-group" ng-class="{ 'has-error': validation.contract.$invalid}">
				<label style="color: whitesmoke;">
					<input style="margin-top: 5px;" required type="checkbox" value="true" name="contract" ng-model="registrationCtrl.terms"/> &nbsp;
					<translate>REGISTRATION_SUBDOMAIN_AGREEMENT</translate>
				</label>
				<br/>
				<br/>
				<button type="button" ng-click="registrationCtrl.register();" class="btn btn-success block full-width m-b" ng-disabled="validation.$invalid || vm.dataLoading || registrationCtrl.registrationService.tenantKeyExist">
					<strong>{{ 'REGISTRATION_SUBDOMAIN_GET_TRIAL_NOW' | translate }}</strong>
				</button>
				<span ng-show="validation.contract.$error.required" style="color:red">{{ 'REGISTRATION_SUBDOMAIN_AGREEMENT_ACCEPT' | translate }}</span>
			</div>	
		</div>
	</div>
</form>