.gradle/*
.idea/*
.settings/
.classpath
.project
cbd.iml
build/
/bin/
node_modules/*
frontendV2/node_modules/*
src/main/resources/static/*
frontend/tmp/*
frontend/gulp/TODO.md
src/main/resources/static/assets/assets.css
