<div class="row" style="background: transparent;">
    <div >
        <div class="text-center">
            <h3 style="color:white;">Allgemeine Geschäftsbedingungen von <br/>Max Mustermann - GET-NET</h3>
        </div>
    </div>
</div>

<div class="row" style="color:white;">
	<div class="col-md-6 col-md-offset-3" style="text-align: justify;">
            
<br/>
<br/>
<h3>1. Inhalt und Zustandekommen</h3>
<p>
<b>(1) Parteien und Gegenstand.</b> 
Dieser Vertrag regelt das rechtliche Verhältnis zwischen Max Mustermann GET-NET, 
Hauptstrasse 10 in 10115 Berlin <b>("GET-NET")</b> und deren Kunden <b>("Kunde")</b> in Bezug 
auf die zur Verfügungstellung von Software zur Nutzung über das Internet (Software as a Service). 
Für die entsprechende zur Verfügungstellung einzelner Softwareprodukte gelten ergänzend die jeweiligen 
Service-Bedingungen. Im Falle eines Widerspruchs zwischen diesen Allgemeinen Geschäftsbedingungen und den 
Service-Bedingungen gehen die Service-Bedingungen vor.
</p>
<p>
<b>(2) Keine abweichenden Regelungen. 
</b>Die Geltung abweichender oder über diese Regelungen hinausgehender Bestimmungen 
ist ausgeschlossen. Dies gilt insbesondere für allgemeine Geschäftsbedingungen des Kunden, 
selbst wenn GET-NET einen Auftrag des Kunden annimmt, in dem der Kunde auf seine allgemeinen Geschäftsbedingungen 
hinweist und/oder dem allgemeine Geschäftsbedingungen des Kunden beigefügt sind und GET-NET dem nicht widerspricht.
</p>
<p>
<b>(3) Pflichten im elektronischen Geschäftsverkehr.</b>
§ 312g Abs. 1 Nr.1, 2 und 3 sowie § 312g Abs. 1 Satz 2 BGB, 
die bei Verträgen im elektronischen Geschäftsverkehr bestimmte Verpflichtungen des Unternehmers vorsehen, 
werden abbedungen.
</p>

<br/>
<br/>
<h3>2. Leistungen von GET-NET</h3>
<p>
<b>(1) Nutzungsrecht. </b>GET-NET stellt dem Kunden das in den Service-Bedingungen bezeichnete und beschriebene 
Softwareprodukt <b>("Software")</b> zur Nutzung über das Internet zur Verfügung <b>("Service")</b>. 
Die Software wird auf Computern eines von GET-NET genutzten Rechenzentrums betrieben, der Kunde erhält für die 
Laufzeit dieses Vertrages das nicht ausschließliche und nicht übertragbare Recht, auf die Software mittels eines 
Browsers und einer Internetverbindung zuzugreifen und für eigene Geschäftszwecke ausschließlich in Ausübung seiner 
gewerblichen oder selbständigen beruflichen Tätigkeit zu nutzen <b>("Service")</b>. 
Für die Internetverbindung zwischen dem Kunden und dem Rechenzentrum und die hierfür erforderliche Hard- und Software 
(z.B. PC, Netzanschluss, Browser) ist der Kunde verantwortlich. 
Das Nutzungsrecht ist beschränkt auf die vom Kunden gebuchte Anzahl von Nutzungseinheiten 
(z.B. Anzahl der Nutzer oder verwalteten Geräte). Die Nutzungseinheiten sind in den Service-Bedingungen bezeichnet. 
Eine Nutzungs-überlassung oder Bereitstellung des Services an Dritte ist untersagt. 
GET-NET erbringt ihre Leistungen nicht für Verbraucher, sondern ausschließlich für die Zwecke der gewerblichen oder 
selbständigen beruflichen Tätigkeit des Kunden.
</p>
<p>
<b>(2) Einrichtung.</b> Der Kunde nimmt die erstmalige Einrichtung des Services (individuelle Einstellungen oder Import von Daten) 
selbst vor. Eine Veränderung des Services, insbesondere eine Umprogrammierung nach Wünschen des Kunden, ist nicht geschuldet. 
Entsprechende Serviceleistungen sind besonders zu vereinbaren und zu vergüten.
</p>
<p>
<b>(3) Support.</b> GET-NET stellt einen kostenlosen Online-Support zur Unterstützung bei der Nutzung des Services zur Verfügung. 
Der Support beinhaltet nicht: Allgemeinen Knowhow-Transfer, Schulungen, Konfiguration und Implementierung oder 
kundenspezifische Dokumentation oder Anpassung der Software. 
Der Support erfolgt per E-Mail: <b>admin@leadplus.io</b>, per Telefon: <b>+49 123 456 789 00,</b> über das Service Portal 
oder Online-Forum. Die Supportleistungen werden von GET-NET werktäglich Montag bis Freitag in der Zeit von 
8.30 Uhr - 17.00 Uhr erbracht. Ausgenommen hiervon sind Feiertage in Baden-Württemberg sowie der 24. und 31.12. eines 
jeden Jahres. Anfragen, die außerhalb dieser Supportzeiten eingehen, 
gelten als während des nächstfolgenden Werktages eingegangen.
</p>
<p>
<b>(4) Leistungsänderungen.</b> GET-NET kann den Service (einschließlich dessen System-anforderungen) zur Anpassung an 
technische oder wirtschaftliche Marktveränderungen und aus wichtigem Grund ändern. Ein solcher liegt insbesondere vor, 
wenn die Änderung erforderlich ist, aufgrund (i) einer notwendigen Anpassung an eine neue Rechtslage oder Rechtsprechung, 
(ii) geänderten technischen Rahmenbedingungen (neue Browser-versionen oder technische Standards), 
(iii) des Schutzes der Systemsicherheit, oder (iv) der Fortentwicklung des Services (Abschaltung alter Funktionen, 
die durch neue weitgehend ersetzt wurden). GET-NET wird den Kunden auf für ihn nachteilige Änderung rechtzeitig, 
in der Regel zwei Wochen vor dem Inkrafttreten - per E-Mail hinweisen. 
Die Zustimmung des Kunden zu einer solchen Änderung gilt als erteilt, 
wenn der Kunde der Änderung nicht bis zum Änderungstermin schriftlich oder per E-Mail widerspricht. 
Bei der Ankündigung der Änderung wird GET-NET auf diese Rechtsfolge noch einmal gesondert hinweisen. 
Würde die Änderung das vertragliche Gleichgewicht zwischen den Parteien zu Lasten des Kunden nicht nur unerheblich stören, 
unterbleibt die Änderung.
</p>   

<br/>
<br/>
<h3>3. Vergütung und Zahlungsverzug</h3>
<p>
<b>(1) Gebührenstruktur.</b> Der Kunde schuldet GET-NET für die Nutzung des Services während der Vertragslaufzeit die in der 
Service-Beschreibung vereinbarte Vergütung. Die Vergütung kann bestehen aus einer einmaligen Einrichtungsgebühr, 
einer festen monatlichen Grundgebühr und einer von der Anzahl der gebuchten oder in Anspruch genommenen Nutzungseinheiten 
abhängigen monatlichen Nutzungsgebühr.
</p> 
<p>
<b>(2) Entstehen der Grund- und Nutzungsgebühr.</b> Die Grund- und Nutzungsgebühr wird mit Vertragsbeginn 
für die Grundlaufzeit (siehe Ziffer 9(2)) und danach mit Beginn einer jeden Verlängerungslaufzeit (siehe Ziffer 9(2)) 
für die Verlängerungslaufzeit jeweils im Voraus voll fällig. 
Eine Erhöhung der gebuchten Nutzungseinheiten (bzw. Wechsel in ein höheres Leistungspaket) ist jederzeit möglich, 
eine Reduzierung (bzw. Wechsel in ein niedrigeres Leistungspaket) ist nur mit Wirkung zum Ende der 
Grund- oder einer Verlängerungslaufzeit oder davor mit Zustimmung von GET-NET möglich. Im Falle einer Erhöhung 
der gebuchten Nutzungseinheiten innerhalb der Grund- oder einer Verlängerungslaufzeit werden die zusätzlichen Gebühren 
anteilig in Rechnung gestellt. Für die zusätzlichen Nutzungseinheiten gelten die Preise gemäß der bei Bestellung 
der zusätzlichen Nutzungseinheiten gültigen Preisliste von GET-NET.
</p> 
<p>
<b>(3) Rechnungsstellung.</b> 
GET-NET stellt die Gebühren zu Vertragsbeginn und sodann zu Beginn jeder Verlängerungslaufzeit im Voraus in Rechnung. 
Der Rechnungsbetrag ist innerhalb von 30 Tagen zu zahlen.
</p> 
<p>
<b>(4) Nettopreise. </b>
Alle Preise verstehen sich zuzüglich der jeweils geltenden gesetzlichen Umsatzsteuer.
</p> 
<p>
<b>(5) Zahlungsverzug.</b> Kommt der Kunde für zwei Kalendermonate mit der Bezahlung der Vergütung oder eines nicht unerheblichen 
Teils der Vergütung oder in einem Zeitraum, der sich über mehr als zwei Monate erstreckt, mit der Bezahlung der Vergütung 
in Höhe eines Betrages, der das doppelte einer monatlichen Grund- plus Nutzungsgebühr erreicht, in Verzug, 
ist GET-NET berechtigt, nach entsprechender Androhung per E-Mail oder per Brief den Zugang zum Service 
zu sperren oder den Vertrag außerordentlich zu kündigen. 
Während der Sperrung hat der Kunde keinen Zugriff auf die im Service gespeicherten Daten. 
Im Falle einer Kündigung findet Ziffer 9(4) Anwendung.
</p> 
<p>
<b>(6) Preisänderungen.</b> 
GET-NET ist berechtigt, die mit dem Kunden vereinbarten Preise jeweils mit Ablauf von mindestens 
12 Monaten seit dem Wirksamwerden der letzten Preisänderung (erstmals jedoch frühestens 24 Monate nach Abschluss 
des Software as a Service Vertrages) mit Wirkung zu Beginn der folgenden Verlängerungslaufzeit zu erhöhen oder zu reduzieren. 
Eine solche Preiserhöhung darf pro Vertragsjahr nicht mehr als 5% betragen, es sei denn, die Arbeitskosten von GET-NET 
für die Leistungserbringung sind um mehr als 5% pro Vertragsjahr gestiegen. 
Die geänderten Preise werden wirksam, wenn (i) GET-NET sie dem Kunden mindestens sechs Wochen vor Wirksamwerden 
vorab schriftlich oder per E-Mail ankündigt und (ii) der Kunde ihnen nicht innerhalb von sechs Wochen nach der 
Mitteilung schriftlich oder per E-Mail widerspricht. 
Bei der Ankündigung der Preisänderung wird GET-NET auf diese Rechtsfolge noch einmal gesondert hinweisen. 
Widerspricht der Kunde, so gelten die bisherigen Preise weiter. 
GET-NET hat das Recht gemäß Ziffer 9(2) den Vertrag ordentlich zu kündigen.
 </p>       
       
<br/>
<br/>
<h3>4. Pflichten und Obliegenheiten des Kunden</h3>
<p>
<b>(1) Systemanforderungen und Mitwirkungspflicht.</b>
Anforderungen an Hard- und Software beim Kunden sowie organisatorische Anforderungen und Mitwirkungspflichten 
des Kunden sind in den Service-Bedingungen geregelt.
</p>
<p>
<b>(2) Namens- und Logonutzung des Kunden.</b> 
Der Kunde erklärt sich jederzeit widerruflich (admin@leadplus.io) bereit, dass GET-NET berechtigt ist, 
den Namen des Kunden und sein Firmenlogo zu Werbezwecken für die Software-Produkte der GET-NET on- und offline zu verwerten, 
insbesondere in Printmedien und über Datenbanken, elektronische Datennetze und Online-Dienste 
(z.B. FTP, WWW, E-Mail, Youtube, Flickr, Facebook und vergleichbare Netze), zu vervielfältigen, zu verbreiten, 
zum Abruf bereit zu halten, zu veröffentlichen und vorzuführen.
Der Kunde erklärt sich weiterhin bereit, nach Terminabsprache interessierten Neukunden für Fragen 
über die bei ihm eingesetzte Software der GET-NET zur Verfügung zu stehen.
</p>    

<br/>
<br/>
<h3>5. Kundendaten und Datenschutz</h3>
<p>
<b>(1) Kundendaten.</b> 
Die vom Kunden im Rahmen der Nutzung des Services eingegebenen und die dabei erzeugten und dem Kunden zurechenbaren Daten 
<b>("Kundendaten")</b> stehen ausschließlich dem Kunden zu. GET-NET behandelt die Kundendaten vertraulich.
</p>
<p>
<b>(2) Auftragsdatenverarbeitung.</b> Soweit es sich bei den Kundendaten um personenbezogene Daten handelt, gilt Folgendes: 
GET-NET verarbeitet die Kundendaten als Auftragsdatenverarbeiter im Sinne des § 11 Bundesdatenschutzgesetz (BDSG) 
ausschließlich im Auftrag und nach den Weisungen des Kunden und ausschließlich zum Zwecke der Bereitstellung des Services. 
GET-NET trifft angemessene technische und organisatorische Maßnahmen zum Schutz der Kundendaten. 
Der Kunde bleibt für die Rechtmäßigkeit der Erhebung, Verarbeitung und Nutzung der Kundendaten 
gemäß den gesetzlichen Bestimmungen, insbesondere des BDSG, verantwortlich. 
Der Kunde ist berechtigt, als Rechenzentrum einen in der Europäischen Union oder dem Europäischen Wirtschaftsraum ansässigen Hoster einzusetzen. 
Einzelheiten regeln die Parteien in einem gesonderten Vertrag zur <a href="#/licences/auftragsdatenverarbeitungsvertrag" target="_blank">Auftragsdatenverarbeitung</a>.
</p>

<br/>
<br/>
<h3>6. Mängelansprüche</h3>
<p>
<b>(1) Mängelbeseitigung.</b> 
Mängel des Services meldet der Kunde unverzüglich an GET-NET und erläutert die näheren Umstände des Zustandekommens. 
GET-NET wird den Mangel innerhalb angemessener Frist beseitigen. GET-NET ist berechtigt, den Mangel durch eine Workaround-Lösung zu umgehen, 
wenn die Mangelursache selbst nur mit unverhältnismäßigem Aufwand zu beseitigen ist und die Nutzbarkeit des Services nicht erheblich leidet.
<b>(2) Service Levels.</b>
Etwaige Service Levels für die Mängelbeseitigung einzelner Services sind in der Service-Beschreibung geregelt.
<b>(3) Anfängliche Unmöglichkeit.</b>
Die verschuldensunabhängige Haftung für anfängliche Mängel gemäß § 536a Abs. 1, Alt. 1 des Bürgerlichen Gesetzbuches wird ausgeschlossen.
</p>

<br/>
<br/>
<h3>7. Freistellungspflichten</h3>  
<b>(1) Pflicht zur Freistellung.</b>
Machen Dritte (einschließlich öffentliche Stellen) gegenüber GET-NET Ansprüche bzw. Rechtsverletzungen geltend, die auf der Behauptung beruhen, 
dass der Kunde gegen seine vertraglichen Pflichten verstoßen hat, insbesondere rechtswidrige Daten in den Service eingespielt oder den Service in wettbewerbswidriger
oder sonst rechtswidriger Weise genutzt hat, so gilt Folgendes: 
Der Kunde wird GET-NET von diesen Ansprüchen unverzüglich freistellen, GET-NET bei der Rechtsverteidigung angemessene Unterstützung bieten und GET-NET von den Kosten 
der Rechtsverteidigung freistellen.
<b>(2) Voraussetzungen der Freistellungspflicht.</b>
Voraussetzung für die Freistellungspflicht nach Ziffer 7(1) ist, dass GET-NET den Kunden über geltend gemachte Ansprüche 
unverzüglich schriftlich informiert, keine Anerkenntnisse oder gleichkommende Erklärungen abgibt und es dem Kunden ermöglicht, 
auf Kosten des Kunden - soweit möglich - alle gerichtlichen und außergerichtlichen Verhandlungen über die Ansprüche zu führen.

<br/>
<br/>
<h3>8. Haftung</h3>
<p>
<b>(1)</b> GET-NET haftet für Schäden, soweit diese
<ul>
<li>vorsätzlich oder grob fahrlässig von GET-NET verursacht wurden, oder</li>
<li>leicht fahrlässig von GET-NET verursacht wurden und auf wesentliche Pflichtverletzungen</li>
</ul>
zurückzuführen sind, die die Erreichung des Zwecks dieses Vertrages gefährden, oder auf die Verletzung von Pflichten, deren Erfüllung die ordnungsgemäße Durchführung dieses Vertrages
erst ermöglicht und auf deren Einhaltung der Kunde vertrauen darf (z.B. Kundendaten sind vollständig verloren und auch Altbestände sind nicht rekonstruierbar).
Im Übrigen ist die Haftung von GET-NET unabhängig von deren Rechtsgrund ausgeschlossen, außer GET-NET haftet kraft Gesetzes zwingend, insbesondere wegen Verletzung von Leben, 
Körper oder Gesundheit einer Person, Übernahme einer ausdrücklichen Garantie, arglistigen Verschweigens eines Mangels oder nach dem Produkthaftungsgesetz.
Garantien durch GET-NET erfolgen nur schriftlich und sind als solche zu bezeichnen.
</p>
<p>
<b>(2) Begrenzung der Höhe nach.</b>
Im Falle von Absatz (1) b) haftet GET-NET begrenzt bis in der Höhe der Jahresgebühr.
</p>
<p>
<b>(3) Mitarbeiter und Beauftragte von GET-NET.</b>
Die Haftungsbeschränkungen der Ziffern 8(1) und 8(2) gelten auch bei Ansprüchen gegen Mitarbeiter und Beauftragte von GET-NET.
</p>

<br/>
<br/>
<h3>9. Laufzeit und Kündigung</h3>
<p>
<b>(1) Kostenlose Testphase.</b>
Soweit in den Service-Bedingungen nichts Abweichendes geregelt ist, gilt für die Laufzeit des Vertrages in Bezug auf einen einzelnen Service Folgendes: 
Mit Vertragsschluss beginnt zunächst eine 30-tägige Testphase. In der Testphase fallen keine Einrichtungs-, Grund- oder Nutzungsgebühren an. 
Der Vertrag endet automatisch mit Ablauf der Testphase, wenn der Kunde den Service nicht ausdrücklich für eine sich anschließende weitere Laufzeit bestellt. 
Hierauf wird der Kunde vor Ablauf der Testphase hingewiesen. Bestellt der Kunde den Service für eine weitere Laufzeit, so beginnt mit Ablauf der Testphase die Grundlaufzeit gemäß Ziffer 9(2).
</p>
<p>
<b>(2) Laufzeit.</b>
Der Vertrag ist je nach Bestellung des Kunden für eine bestimmte Laufzeit (z.B. sechs, zwölf, achtzehn oder vierundzwanzig Monate) geschlossen ("Grundlaufzeit") 
und verlängert sich anschließend automatisch um den selben Zeitraum ("Verlängerungslaufzeit"), 
wenn der Vertrag nicht von einer Partei mit einer Frist von vier Wochen ("Kündigungsfrist") zum Ende der Grund- oder einer Verlängerungslaufzeit gekündigt wurde. 
Das Recht zur Kündigung aus wichtigem Grund bleibt unberührt. Für die Reduzierung von Nutzungseinheiten gilt Ziffer 3(2).
</p>
<p>
<b>(3) Form.</b>
Die Kündigung muss schriftlich erfolgen.
</p>
<p>
<b>(4) Daten bei Vertragsende.</b>
Der Kunde kann die Kundendaten über die Export-Funktion des jeweiligen Services während der Vertragslaufzeit exportieren. 
Nach Ende der Vertragslaufzeit hat der Kunde keinen Zugriff mehr auf die Kundendaten. Mit Ablauf von einem Monat nach Vertragsende – oder vorher auf Verlangen des Kunden - wird GET-NET 
die Kundendaten endgültig und vollständig löschen, sofern dem nicht gesetzliche Aufbewahrungspflichten von GET-NET entgegenstehen. 
Zu einer abweichenden Herausgabe der Kundendaten (z.B. betreffend Zeit, Format oder Migration) ist GET-NET nur verpflichtet, wenn dies gesondert vereinbart und vergütet wird.
</p>

<br/>
<br/>
<h3>10. Schlussbestimmungen</h3>
<p>
<b>(1) Service-Bedingungen.</b>
Die Service-Bedingungen des jeweils beauftragten Services sind Vertragsbestandteil.
</p>
<p>
<b>(2) Aufrechnung.</b>
Der Kunde kann mit anderen Ansprüchen als mit seinen vertraglichen Gegenforderungen aus dem jeweils betroffenen Rechtsgeschäft nur aufrechnen 
oder ein Zurückbehaltungsrecht geltend machen, wenn dieser Anspruch von GET-NET unbestritten oder rechtskräftig festgestellt ist.
</p>
<p>
<b>(3) Schriftform.</b>
Änderungen dieses Vertrages bedürfen der Schriftform. Dies gilt auch für die Abbedingung des Schriftformerfordernisses.
</p>
<p>
<b>(4) Anwendbares Recht.</b>
Auf diesen Vertrag findet ausschließlich deutsches Recht unter Ausschluss des UN Kaufrechts Anwendung.
</p>
<p>
<b>(5) Gerichtsstand.</b>
Ist der Kunde Kaufmann, eine juristische Person des öffentlichen Rechts oder ein öffentlich-rechtliches Sondervermögen, so ist ausschließlicher Gerichtsstand Karlsruhe.
</p>

</div>
</div>
