<div class="row" style="background: transparent;">
    <div >
        <div class="text-center">
            <h3 style="color:white;">Allgemeine Geschäftsbedingungen von <br/>Andreas Foitzik - get-net</h3>
        </div>

        <div class="middle-box" style="color:white;font-weight:normal;">
            Wir legen momentean unsere Allgemeinen-Geschäftsbedingungen fest ... 
            <hr/>
            <br/>
            <div class="row">
                <h3>Geltungsbereich</h3>
                <h3>Vertragsabschluss</h3>
                <h3>Vertragsdauer und Kündigung</h3>
                <h3>Geheimhaltung und Datenschutz</h3>
                <h3>Zahlungsbedingungen</h3>
                <h3>Mitwirkungs- und Kundenpflichten</h3>
                <h3>Haftung des Kunden</h3>
                <h3>Haftungsbeschränkungen</h3>
                <h3>Salvatorische Klausel</h3>
                <h3>Anwendbares Recht, Gerichtsstand</h3>
            </div>
        </div>

        <div class="middle-box" style="color:white;font-weight:normal;">
            <hr/>
            <br/>
            <div class="row">    
                <h3>Auftragsdatenverarbeitung</h3>
            </div>
        </div>  

        <div class="middle-box" style="color:white;font-weight:normal;">     
            <hr/>
            <br/>
            <div class="row">    
                <h3>Widerrufsbelehrung</h3>
                <h3>Widerrufsrecht</h3>
                <h3>Widerrufsfolgen</h3>
            </div>
        </div> 
    </div>
</div>
