<div class="row" style="background: transparent;">
    <div >
        <div class="text-center">
            <h3 style="color:white;">Allgemeine Geschäftsbedingungen von <br/>Andreas Foitzik - GET-NET</h3>
        </div>
    </div>
</div>

<div class="row" style="color:white;">
	<div class="col-md-6 col-md-offset-3" style="text-align: justify;">
            
        <br/>
        <br/>
        <h3>Geltungsbereich</h3>
        <p>Andreas Foitzik, GET-NET, (nachfolgend GET-NET genannt) erbringt ihre Dienste auch im Rahmen der Vertragsanbahnung auf der Basis dieser Geschäftsbedingungen, 
        die Bestandteil des Leistungsvertrages werden. Abweichungen von diesen Geschäftsbedingungen sind nur wirksam, wenn sie schriftlich von GET-NET bestätigt wurden.
        GET-NET ist berechtigt, diese allgemeinen Geschäftsbedingungen jederzeit unter Einhaltung einer angemessenen Ankündigungsfrist zu ändern.
        Nach Veröffentlichung einer Änderungsmitteilung besitzt der Kunde ein außerordentliches Kündigungsrecht. 
        Die Änderungen gelten als genehmigt, wenn der Kunde nicht innerhalb von 14 Tagen den Änderungen schriftlich widerspricht.</p>
        
        <br/>
        <br/>
        <h3>Vertragsabschluss</h3>
        <p>Der Vertrag über die Nutzung der von lead+ angebotenen Leistungen kommt zustande, wenn ein von GET-NET bevollmächtigter Vertreter den vom Kunden erteilten Auftrag annimmt. 
        Die Annahme wird schriftlich oder konkludent durch die erste Erfüllungshandlung bestätigt. 
        GET-NET ist berechtigt den Vertragsabschluss ohne Angabe von Gründen zu verweigern. 
        Soweit sich GET-NET zur Erfüllung der vereinbarten Dienstleistung Dritter bedient, werden diese nicht Vertragspartner des Kunden.</p>

        <br/>
        <br/>
        <h3>Vertragsdauer und Kündigung</h3>
        <p>Sofern nicht anderweitig im Leistungsvertrag vereinbart, beginnen die Verträge mit Datum der ersten Erfüllungshandlung; 
        die Verträge werden mit unbestimmter Dauer geschlossen und können von beiden Vertragsparteien mit einer Frist von 14 Tagen zum Monatsende ordentlich gekündigt werden. 
        Das Recht beider Parteien zur Kündigung aus wichtigem Grund (außerordentliche Kündigung) bleibt hiervon unberührt. 
        Der Widerruf der Einzugsermächtigung kommt einer Kündigung aus wichtigem Grund gleich.
        Die Kündigung kann online im Portal oder per Email erfolgen und wird mit Zugang wirksam. Bereits gezahlte Entgelte werden nicht zurückerstattet.</p>

        <br/>
        <br/>
        <h3>Leistungsumfang</h3>
        <p>GET-NET stellt dem Kunden nach Maßgabe des Leistungsvertrags die technischen Bedingungen für die Publizität von Programmen im Internet zur Verfügung. 
        GET-NET sichert dem Kunden gegenüber eine Erreichbarkeit des Portals von 99,85% im Jahresmittel zu. 
        Hiervon ausgenommen sind Zeiten, in denen die Rechner aufgrund von technischen oder sonstigen Problemen, die nicht im Einflußbereich von GET-NET liegen 
        (höhere Gewalt, Verschulden Dritter etc.), nicht über das Internet zu erreichen sind. 
        Geplante oder notwendige Wartungsarbeiten, die zu Ausfallzeiten führen und vorher als Wartungsfenster kommuniziert wurden, werden als Verfügbar gewertet.
        Weiterer Bestandteil der Leistungsverpflichtung sind die vertraglich vereinbarten Leistungspakete und Optionen.
        GET-NET behält sich das Recht vor, seine Leistungen zu modifizieren oder zu verbessern. 
        Bei Einschränkungen des Leistungsumfanges besitzt der Kunde ein außerordentliches Kündigungsrecht. 
        Werden Dienstleistungen kostenlos bereitgestellt, so ist GET-NET berechtigt diese fristlos und ohne Vorankündigung wieder einzustellen. 
        Ein Minderungs-, Erstattungs- oder Schadensersatzanspruch kann dadurch nicht begründet werden. 
        Eine grundlegende Änderung der rechtlichen oder technischen Standards im Internet erlaubt es GET-NET außerordentlich zu kündigen, wenn es für GET-NET dadurch unzumutbar wird, 
        ihre Leistungen ganz oder teilweise im Rahmen des Vertragszwecks zu erbringen.</p>

        <br/>
        <br/>
        <h3>Geheimhaltung und Datenschutz</h3>
        <p>GET-NET verpflichtet sich, sämtliche im Zusammenhang mit dem Vertragsschluss zugänglichen Informationen und Unterlagen, die als vertraulich bezeichnet werden, 
        oder nach sonstigen Umständen eindeutig als Geschäfts oder Betriebsgeheimnisse des Kunden erkennbar sind, geheim zu halten und diese – soweit nicht zur Erzielung des Vertragszweckes 
        geboten – weder aufzuzeichnen noch weiterzugeben oder zu verwerten. GET-NET hat durch geeignete vertragliche Abreden mit den für sie tätigen Arbeitnehmern und Arbeitnehmerinnen und/oder 
        Beauftragten sichergestellt, dass auch diese jede eigene Verwertung, Weitergabe oder unbefugte Aufzeichnung solcher Geschäfts und Betriebsgeheimnisse unterlassen. 
        Entsprechende Verpflichtungen treffen den Kunden in Bezug auf Geschäfts und Betriebsgeheimnisse von GET-NET. 
        Der Kunde ist damit einverstanden, dass seine im Rahmen der Geschäftsbeziehungen zugehenden personenbezogenen Daten zur Abwicklung des Geschäftsverhältnisses EDV mäßig gespeichert 
        und automatisiert verarbeitet werden. Der Kunde wird hiermit davon unterrichtet, dass GET-NET und beauftragte Erfüllungsgehilfen 
        Ihre Daten maschinell gemäß § 33 Absatz 1 Bundesdatenschutzgesetz sowie gemäß §4 der Teledienstdatenschutzgesetz (TDDSG) verarbeiten. 
        Der Kunde ist berechtigt, jederzeit die zu seiner Person oder zu seinem Pseudonym gespeicherten Daten unentgeltlich bei GET-NET abzufragen.
        GET-NET verpflichtet sich, diese Daten allein zur Leistungserbringung zu verwenden und nicht an Dritte weiterzugeben, es sei denn diese Dritte sind an der Leistungserstellung beteiligt. 
        Der Kunde stellt GET-NET von sämtlichen Ansprüchen Dritter hinsichtlich kundenseitig überlassener Daten frei. Soweit nichts anderes vereinbart gestattet 
        der Kunde die Kommunikation per Telefax und per EMail.
        Trotz aller Sorgfalt können bei der Kommunikation per EMail Computerviren o.ä. übertragen werden. 
        Der Kunde hat entsprechende Sicherungsvorkehrungen zu treffen, um Schäden an seine Systeme zu verhindern. 
        EMails und Telefaxe können durch Dritte mitgelesen werden. Dieses Risiko kann durch Verschlüsselung gemindert aber nicht gänzlich ausgeschlossen werden.
        Dies nimmt der Kunde in Kauf.</p>

        <br/>
        <br/>
        <h3>Zahlungsbedingungen</h3>  
        <p>Sämtliche von GET-NET angegebenen Preise verstehen sich zuzüglich der gesetzlichen Mehrwertsteuer, sofern nicht ander gekennzeichnet. 
        Die vereinbarten Grundentgelte sind gemäß vertraglicher Vereinbarung jeweils einen Monat im Voraus zahlbar und werden mit Zugang der Rechnung fällig.
        Zahlungen des Auftraggebers an den Auftragnehmer für die Nutzung des Dienstes oder für weitere Produkte innerhalb des Systems erfolgen per Rechnungsstellung über GET-NET.</p>

        <br/>
        <br/>
        <h3>Mitwirkungs- und Kundenpflichten</h3>     
        <p>Der Kunde sichert zu, daß die von ihm gemachten Datenangaben richtig und vollständig sind. Er sichert auch zu, dass er die Leistungen von GET-NET nicht als Verbraucher bezieht. 
        Der Kunde stellt GET-NET  von allen Ansprüchen Dritter aus der Verletzung ihrer Schutzrechte durch die vom Kunden über das Internet dargebotenen bzw. übermittelten Inhalte frei. 
        Die Freistellung erfolgt in der Weise, dass der Kunde GET-NET den gesamten durch die Inanspruchnahme seitens des Dritten entstandenen Aufwand einschließlich angefallener 
        Kosten der Rechtsverteidigung zu ersetzen hat.</p>

        <br/>
        <br/>
        <h3>Haftung des Kunden</h3>
        <p>Der Kunde haftet für alle Schäden und Rechtsfolgen, die GET-NET oder ihren Erfüllungsgehilfen durch eine missbräuchliche oder rechtswidrige Nutzung des Portals entstehen.</p>

        <br/>
        <br/>
        <h3>Haftungsbeschränkungen</h3>
        <p>Schadensersatzansprüche wegen Pflichtverletzungen aus Schuldverhältnis und wegen unerlaubter Handlung können gegenüber GET-NET und deren Erfüllungs- und Verrichtungsgehilfen 
        nur insoweit geltend gemacht werden, soweit vorsätzliches oder grob fahrlässiges Handeln nachgewiesen werden kann.
        Der vorgenannte Haftungsausschluss betrifft nicht die Verletzung vertragswesentlicher Pflichten (Kardinalpflichten). Die Haftung von GET-NET wegen zugesicherter Eigenschaften, 
        bei Personenschäden sowie aufgrund zwingender gesetzlicher Vorschriften bleibt ebenfalls unberührt. Leistungsstörungen aufgrund höherer Gewalt, insbesondere der Ausfall oder 
        die Überlastung von globalen Kommunikationsnetzen, hat GET-NET nicht zu vertreten. Der Kunde kann aus diesem Grund keine Minderung seiner Leistungspflicht reklamieren. 
        GET-NET haftet nicht für die über ihre Dienste publizierten Informationen. Für deren Richtigkeit, Vollständigkeit und Aktualität ist der Absender verantwortlich. 
        GET-NET haftet nicht für Schäden, die kundenseitig aufgrund mangelnder Sicherungsvorkehrungen bei der Datenübermittlung entstehen können.
        Eine mögliche Schadenersatzpflicht wird in der Höhe der Jahresgebühr beschränkt. 
        Die Haftung für Schäden aus Datenverlusten wird auf die Höhe beschränkt, die bei ordnungsgemäßer Datensicherung entstanden wären, maximal jedoch in Höhe der Jahresgebühr.
        Schadensersatzansprüche des Kunden verjähren nach einem Jahr nach ihrem Entstehen unbeschadet der Vorschrift des § 202 BGB. 
        Diese Verkürzung gilt nicht, wenn GET-NET grob fahrlässig oder mit Vorsatz gehandelt hat.</p>

        <br/>
        <br/>
        <h3>Salvatorische Klausel</h3>
        <p>Sollte eine Bestimmung dieser Geschäftsbedingung unwirksam sein, wird die Wirksamkeit der übrigen Bestimmungen davon nicht berührt.</p>

        <br/>
        <br/>
        <h3>Anwendbares Recht</h3>
        <p>Es gilt deutsches Recht.</p>

        <br/>
        <br/>
        <h3>Auftragsdatenverarbeitung</h3>
        <p>Die Bestimmungen zur Auftragsdatenverarbeitung können als PDF heruntergeladen werden: <a href="/assets/pdf/Auftrag_zur_Auftragsdatenverarbeitung.pdf" target="_blank">Auftragsdatenverarbeitung.</a></p>
    </div>
</div>
