<div class="row" style="background: transparent;">
    <div >
        <div class="text-center">
            <h3 style="color:white;">Auftragsdatenverarbeitungsvertrag von <br/>Andreas Foitzik - GET-NET</h3>
        </div>
    </div>
</div>

<div class="row" style="color:white;">
	<div class="col-md-6 col-md-offset-3" style="text-align: justify;">
Anhang zu den AGB Andreas Foitzik GET-NET „Auftragsdatenverarbeitungsvertrag“

<br/>
<br/>
<h3>1. Präambel</h3>
<p>
Andreas Foitzik - GET-NET, Hauptstrasse 10 in 10115 Berlin <b>("Auftragnehmer")</b> stellt
<br/>
_______________________________________________________________________ 
<br/>
(Vollständige Firma und Adresse des Kunden)
<br/>
<b>("Auftraggeber")</b> gemäß den "Allgemeine Geschäftsbedingungen für Andreas Foitzik GET-NET - Stand 2017 sowie der zugehörigen Dienste-Bedingungen (gemeinsam <b>"Hauptvertrag"</b>) 
ihre Softwareprodukte <b>("Software")</b> zur Nutzung über das Internet zur Verfügung. 
Die Software wird von dem Auftragnehmer in einem Rechenzentrum betrieben und dem Auftraggeber zur Nutzung über das Internet zur Verfügung gestellt 
(auch als "Software as a Service" Modell bezeichnet).
</p>

<br/>
<br/>
<h3>2. Gegenstand</h3>
<p>
<b>(1) Verarbeitung personenbezogener Daten.</b>
Diese Vereinbarung <b>("Vertrag")</b> regelt die Erhebung, Verarbeitung und Nutzung der personenbezogenen Daten, die (i) der Auftraggeber bzw. deren Benutzer im Rahmen der 
Verwendung der Software in diese eingibt, (ii) die mit der Nutzung der Software entstehen oder sonst erhoben werden, 
und (iii) die der Auftraggeber im Zusammenhang mit der Durchführung des Hauptvertrages dem Auftragnehmer in sonstiger Weise überlässt <b>("Daten")</b>. 
Personenbezogene Daten sind alle Einzelangaben über persönliche oder sachliche Verhältnisse einer bestimmten oder bestimmbaren natürlichen Person.
</p>
<p>
<b>(2) Inhalt der Auftragsdatenverarbeitung. </b>
Gegenstand der Auftragsdatenverarbeitung ist die Bereitstellung der Software zur Nutzung durch den Auftraggeber im Wege des Zugriffs über das Internet.
Umfang, Art und Zweck der Erhebung, Verarbeitung und Nutzung der Daten ergeben sich aus der Leistungsbeschreibung des Hauptvertrages. 
Die betroffenen Personenkreise und Datenkategorien sind in den jeweiligen Dienste-Bedingungen genannt.
</p>

<br/>
<br/>
<h3>3. Pflichten des Auftraggebers</h3>
<p>
<b>(1) Verantwortliche Stelle.</b>
Der Auftraggeber bleibt alleinige verantwortliche Stelle der Daten im Sinne des Datenschutzrechts (§ 3 Abs. 7 BDSG) und ist für die Rechtmäßigkeit 
der Datenverarbeitung, - erhebung und -nutzung sowie für die Wahrung der Rechte der Betroffenen alleine verantwortlich. 
Dies gilt auch im Hinblick auf die Einhaltung etwaiger besonderer gesetzlicher Schweigepflichten des Auftraggebers (z.B. für Ärzte, Rechts-anwälte und bestimmte Versicherungen, § 203 StGB).
Falls erforderlich, hat der Auftraggeber die Betroffenen (z.B. seine Beschäftigten oder Kunden) über Datenverarbeitungen zu informieren oder entsprechende Einwilligungen einzuholen.
</p>
<p>
<b>(2) Weisungen.</b>
Die Datenerhebung, -verarbeitung und -nutzung durch den Auftragnehmer erfolgt im Rahmen der zur Verfügungsstellung einer standardisierten aber 
konfigurierbaren Software über das Internet. Der Auftraggeber übt sein Weisungsrecht (siehe Ziffer 4.2) in Bezug auf die Daten entsprechend durch Einrichtung und Benutzung der Software aus. 
Im Übrigen sind Weisungen schriftlich zu erteilen oder mündliche Weisungen unverzüglich schriftlich zu bestätigen. 
Dem Auftraggeber bleiben Weisungen im Wesentlichen bei gesondert zu vereinbarenden und zu vergütenden Anpassungen der Software oder Datenmigration vorbehalten. 
Geht der Inhalt von Weisungen des Auftraggebers über dasjenige hinaus, was der Auftragnehmer dem Auftraggeber gemäß dem Hauptvertrag schuldet, 
hat der Auftraggeber die entsprechenden Leistungen dem Auftragnehmer gesondert zu vergüten. Ist eine Weisung nur mit unverhältnismäßig hohem Aufwand umsetzbar, 
steht dem Auftragnehmer ein Recht zur außerordentlichen Kündigung des Hauptvertrages und dieses Vertrages zu.
</p>
<p>
<b>(3) Pflicht zur Freistellung.</b>
Machen Dritte (einschließlich öffentliche Stellen) gegenüber dem Auftragnehmer Ansprüche bzw. Rechtsverletzungen geltend, 
die auf der Behauptung beruhen, dass der Auftraggeber gegen seine vertraglichen Pflichten verstoßen hat, 
insbesondere wenn Betroffene gegen den Auftragnehmer mit der Behauptung vorgehen, die Verarbeitung der Daten verstoße gegen ihre Rechte, so gilt Folgendes:
<br/>
Der Auftraggeber wird den Auftragnehmer von diesen Ansprüchen unverzüglich freistellen, dem Auftragnehmer bei der Rechtsverteidigung angemessene Unterstützung bieten und den 
Auftragnehmer von den Kosten der Rechtsverteidigung freistellen. Voraussetzung für diese Freistellungspflicht ist, dass
der Auftragnehmer den Auftraggeber über geltend gemachte Ansprüche unverzüglich schriftlich informiert, 
keine Anerkenntnisse oder gleichkommende Erklärungen abgibt und es dem Auftraggeber ermöglicht, auf Kosten des Auftraggebers - soweit möglich - 
alle gerichtlichen und außergerichtlichen Verhandlungen über die Ansprüche zu führen.
</p>

<br/>
<br/>
<h3>4. Pflichten des Auftragnehmers</h3>
<p>
<b>(1) Weisungsgebundenheit.</b> 
Der Auftragnehmer verarbeitet die Daten ausschließlich im Rahmen und zum Zwecke der Bereitstellung der Software für den Auftraggeber und nach den Weisungen des Auftraggebers. 
Der Auftragnehmer verwendet die personenbezogenen Daten für keine anderen Zwecke, gibt die Daten insbesondere nicht unbefugt an Dritte weiter.
</p>
<p>
<b>(2) Hinweispflicht.</b> 
Der Auftragnehmer wird den Auftraggeber unverzüglich darauf aufmerksam machen, wenn eine vom Auftraggeber erteilte schriftliche Weisung nach Meinung des Auftragnehmers gegen das BDSG 
oder gegen andere Vorschriften über den Datenschutz verstößt. 
Der Auftragnehmer ist berechtigt, die Durchführung der entsprechenden Weisung solange auszusetzen, bis sie durch den Verantwortlichen beim Auftraggeber bestätigt oder geändert wird. 
Eine Pflicht zur rechtlichen Prüfung von Weisungen besteht für den Auftragnehmer nicht.
</p>
<p>
<b>(3) Berichtigung, Löschung und Sperrung.</b> 
Sind personenbezogene Daten zu berichtigen, löschen oder zu sperren, nimmt dies der Auftraggeber durch Nutzung der entsprechenden Funktionen der Software selbst vor. 
Ist dies nicht möglich, übernimmt der Auftragnehmer die Berichtigung, Löschung oder Sperrung nach den Weisungen des Auftraggebers. 
Für die Herausgabe und Löschung der Daten bei Vertragsende gilt Ziffer 9(4) der AGB Andreas Foitzik GET-NET.
</p>
<p>
<b>(4) Ort der Datenverarbeitung.</b> 
Die Verarbeitung der Daten findet ausschließlich im Gebiet der Bundesrepublik Deutschland, in einem Mitgliedsstaat der Europäischen Union (EU), in einem anderen Vertragsstaat 
des Abkommens über den Europäischen Wirtschaftsraum (EWR) oder in Amerika statt, sofern der Auftraggeber den Auftragnehmer nicht in diesem Vertrag oder in sonstiger Weise eine Verarbeitung 
in einem Land gestattet.
</p>
<p>
<b>(5) Datenschutzbeauftragter.</b> 
Der Auftragnehmer wird, einen Datenschutzbeauftragten bestellen und auf Anfrage dem Auftraggeber die Kontaktdaten mitteilen.
</p>
<p>
<b>(6) Datengeheimnis.</b>
Der Auftragnehmer wird seine Beschäftigten, die mit der Verarbeitung personenbezogenen Daten betraut sind, mit den maßgebenden Bestimmungen des Datenschutzes vertraut machen und 
sie schriftlich gemäß § 5 BDSG auf das Datengeheimnis verpflichten.
</p>
<p>
<b>(7) Meldepflicht.</b>
Gelangen Daten, die unter § 42a Ziffer 1 bis 4 BDSG fallen, unrechtmäßig, d.h. unter Verstoß gegen anwendbares Datenschutzrecht, diesen Vertrag oder Weisungen des Auftraggebers, 
zur Kenntnis eines unbefugten Dritten und drohen dadurch schwerwiegende Beeinträchtigungen für die Rechte oder schutzwürdigen Interessen der Betroffenen, 
informiert der Auftragnehmer den Auftraggeber hierüber unverzüglich.
</p>
<p>
<b>(8) Unterstützungspflicht.</b>
Sofern der Auftraggeber seine Pflicht, einem Betroffenen Auskunft über die Verarbeitung seiner personenbezogenen Daten zu geben, 
nur mit Hilfe des Auftragnehmers erfüllen kann, wird der Auftragnehmer den Auftraggeber hierbei angemessen unterstützen. 
Den entstehenden Aufwand hat der Auftraggeber dem Auftragnehmer zu erstatten.
</p>
<p>
<b>(9) Technische und organisatorische Maßnahmen. </b>
Der Auftragnehmer trifft in seinem Verantwortungsbereich angemessene technische und organisatorische Maßnahmen zum Schutz der Daten (§ 9 BDSG und Anlage zu § 9 BDSG) und dokumentiert diese. 
Die bei Vertragsbeginn getroffenen Maßnahmen sind im Anhang zu diesem Vertrag beschrieben.
</p>

<br/>
<br/>
<h3>5. Kontrollrechte des Auftraggebers</h3>
<p>
<b>(1) Kontrollen.</b>
Der Auftraggeber ist in Bezug auf seine Daten berechtigt, die Einhaltung (i) der gesetzlichen Vorschriften über den Datenschutz, (ii) der vertraglichen Vereinbarungen der Parteien 
und (iii) der Weisungen des Auftraggebers im erforderlichen Umfang beim Auftragnehmer zu kontrollieren. 
Kontrollen in den Betriebsstätten des Auftragnehmers muss der Auftraggeber rechtzeitig vorher schriftlich ankündigen. 
Kontrollen sind zu den üblichen Geschäftszeiten und ohne wesentliche Beeinträchtigung des Geschäftsbetriebs des Auftragnehmers durchzuführen.
</p>
<p>
<b>(2) Kosten.</b>
Durch Kontrollen entstehende Kosten trägt der Auftraggeber, 
dies umfasst auch eine branchenübliche Aufwandsentschädigung für die Arbeitszeit des vom Auftragnehmer beanspruchten Personals.
</p>
<p>
<b>(3) Schutzwürdige Interessen des Auftragnehmers.</b>
Soweit durch Kontrollen Betriebs- und Geschäftsgeheimnisse des Auftragnehmers offenbart oder geistiges Eigentum des Auftragnehmers gefährdet werden kann, 
hat der Auftraggeber die Kontrollen durch einen fachkundigen und unabhängigen Dritten vornehmen zu lassen, 
der sich gegenüber dem Auftragnehmer vorab schriftlich zur Verschwiegenheit verpflichtet.
</p>

<br/>
<br/>
<h3>6. Unterauftragsverhältnisse</h3>
<p>
<b>(1) Gestattung von Unterauftragnehmern.</b>
Der Auftragnehmer ist berechtigt, Unterauftragnehmer einzuschalten. 
Derzeit nutzt der Auftragnehmer als Hoster die Firma Amazon Web Services, Inc. mit Sitz 410 Terry Avenue North in Seattle WA 98109 United States.
</p>
<p>
<b>(2) Subunternehmerverträge.</b>
Der Auftragnehmer wird mit den Unterauftragnehmern einen Vertrag schließen, der den Anforderungen des § 11 Bundesdatenschutzgesetz genügt.
</p>
<p>
<b>(3) Auskunftsrecht.</b>
Auf Verlangen teilt der Auftragnehmer dem Auftraggeber mit, 
welche Unter- auftragnehmer der Auftragnehmer zur Datenerhebung, -verarbeitung und/oder -nutzung eingeschaltet hat und welche Dienstleistungen diese für den Auftragnehmer übernehmen.
</p>

<br/>
<br/>
<h3>7. Laufzeit</h3>
<p>
<b>(1) Laufzeit.</b>
Die Laufzeit dieses Vertrages entspricht der Laufzeit des Hauptvertrages. Das Recht zur
Kündigung aus wichtigem Grund bleibt unberührt.
</p>
<p>
<b>(2) Daten bei Vertragsende.</b>
Für die Herausgabe und Löschung der Daten bei Vertragsende gilt Ziffer 9(4) der AGB SaaS.
</p>

<br/>
<br/>
<h3>8. Schlussbestimmungen</h3>
<p>
<b>(1) Anwendbares Recht. </b>
Auf diesen Vertrag findet ausschließlich deutsches Recht unter Ausschluss des UN Kaufrechts Anwendung.
</p>
<p>
<b>(2) Gerichtsstand.</b>
Ist der Kunde Kaufmann, eine juristische Person des öffentlichen Rechts oder ein öffentlich-rechtliches Sondervermögen, so ist ausschließlicher Gerichtsstand Karlsruhe.
</p>

<h3 style="text-decoration: underline;">ANHANG: TECHNISCHE UND ORGANISATORISCHE MAßNAHMEN </h3>
<br/>
<br/>
<h3>A1. Zutrittskontrolle</h3>
<p>
Maßnahmen, um Unbefugten den Zutritt zu Datenverarbeitungsanlagen, mit denen personenbezogene Daten verarbeitet oder genutzt werden, zu verwehren:
<ul>
	<li>Sicherheitsschlösser</li>
</ul>
</p>

<br/>
<br/>
<h3>A2. Zugangskontrolle</h3>
<p>
Maßnahmen, um zu verhindern, dass Datenverarbeitungssysteme von Unbefugten genutzt werden können (einschließlich Verschlüsselungsverfahren):
<ul>
	<li>Benutzerkennung mit Passwort</li>
	<li>Firewall</li>
</ul>
</p>

<br/>
<br/>
<h3>A3. Zugriffskontrolle</h3>
<p>
Maßnahmen, um zu gewährleisten, dass die zur Benutzung eines Datenverarbeitungs-systems Berechtigten ausschließlich auf die ihrer Zugriffsberechtigung unterliegenden Daten zugreifen können, 
und dass personenbezogene Daten bei der Verarbeitung, Nutzung und nach der Speicherung nicht unbefugt gelesen, kopiert, verändert oder entfernt werden können 
(einschließlich Verschlüsselungsverfahren):
<ul>
	<li>Berechtigungskonzept</li>
	<li>Benutzerkennung mit Passwort</li>
	<li>Gesicherte Schnittstellen wie Netzwerk</li>
	<li>Datenträgerverwaltung</li>
	<li>Zertifikatsbasierte Zugriffsberechtigung</li>
</ul>
</p>

<br/>
<br/>
<h3>A4. Weitergabekontrolle</h3>
<p>
Maßnahmen, um zu gewährleisten, dass personenbezogene Daten bei der elektronischen Übertragung oder während ihres Transports oder ihrer Speicherung auf Datenträger nicht unbefugt gelesen, k
opiert, verändert oder entfernt werden können, und dass überprüft und festgestellt werden kann, an welche Stellen eine Übermittlung personenbezogener Daten durch Einrichtungen zur 
Datenübertragung vorgesehen ist (einschließlich Verschlüsselungs-verfahren):
<ul>
	<li>Sicherung bei der elektronischen Übertragung</li>
	<li>Verschlüsselung</li>
	<li>VPN</li>
	<li>Firewall</li>
</ul>
</p>

<br/>
<br/>
<h3>A5. Eingabekontrolle</h3>
<p>
Maßnahmen, um zu gewährleisten, dass nachträglich überprüft und festgestellt werden kann, ob und von wem personenbezogene Daten in Datenverarbeitungssysteme eingegeben, 
verändert oder entfernt worden sind (Eingabekontrolle):
<ul>
	<li>Protokollierung</li>
	<li>Benutzeridentifikation</li>
</ul>
</p>

<br/>
<br/>
<h3>A6. Auftragskontrolle</h3>
<p>
Maßnahmen, um zu gewährleisten, dass personenbezogene Daten, die im Auftrag verarbeitet werden, nur entsprechend den Weisungen des Auftraggebers verarbeitet werden können (Auftragskontrolle):
<ul>
	<li>Weisungsbefugnisse vergeben</li>
	<li>Stichprobenprüfung</li>
	<li>Kontrollrecht</li>
	<li>Datenschutzvertrag nach Vorgaben §11 BDSG</li>
</ul>
</p>

<br/>
<br/>
<h3>A7. Verfügbarkeitskontrolle</h3>
<p>
Maßnahmen, um zu gewährleisten, dass personenbezogene Daten gegen zufällige Zerstörung oder Verlust geschützt sind (Verfügbarkeitskontrolle):
<ul>
	<li>Brandschutzmaßnahmen</li>
	<li>berspannungsschutz</li>
	<li>Unterbrechnungsfreie Stromversorgung</li>
	<li>Klimaanlage</li>
	<li>Festplattenspiegelung</li>
	<li>Backupkonzept</li>
	<li>Virenschutzkonzept</li>
</ul>
</p>

<br/>
<br/>
<h3>A8. Zweckbindung</h3>
<p>
Maßnahmen, um zu gewährleisten, dass zu unterschiedlichen Zwecken erhobene Daten getrennt verarbeitet werden können:
<ul>
	<li>Trennung von Produktiv- und Testsystemen</li>
	<li>Getrennte Datenbanken</li>
</ul>
</p>
</div>
</div>