DATENSCHUTZ Vielen Dank für Ihr Interesse an FastBill. Datenschutz und Datensicherheit sind für uns von oberster Priorität.
Lesen Sie deshalb bitte folgende Datenschutzerklärung durch. Gegenstand Des Datenschutzes Gegenstand des Datenschutzes sind
personenbezogene Daten. Diese sind nach § 3 Abs. 1 BDSG Einzelangaben über persönlich oder sachliche Verhältnisse einer bestimmten
oder bestimmbaren natürlichen Person. Hierunter fallen z. B. Angaben wie Name, Post-Adresse, E-Mail-Adresse oder Telefonnummer,
ggf. aber auch Nutzungsdaten wie Ihre IP-Adresse. Cookies Diese Website nutzt so genannte „Cookies“, welche dazu dienen,
unsere Internetpräsenz insgesamt nutzerfreundlicher, effektiver sowie sicherer zu machen – etwa wenn es darum geht, das Navigieren
auf unserer Website zu beschleunigen. Zudem versetzen uns Cookies in die Lage, die Häufigkeit von Seitenaufrufen und die
allgemeine Navigation zu messen. Bei Cookies handelt es sich um kleine Textdateien, die auf Ihrem Computersystem abgelegt
werden. Wir weisen Sie darauf hin, dass einige dieser Cookies von unserem Server auf Ihr Computersystem überspielt werden,
wobei es sich dabei meist um so genannte "Session-Cookies" handelt. "Session-Cookies" zeichnen sich dadurch aus, dass diese
automatisch nach Ende der Browser-Sitzung wieder von Ihrer Festplatte gelöscht werden. Andere Cookies verbleiben auf Ihrem
Computersystem und ermöglichen es uns, Ihr Computersystem bei Ihrem nächsten Besuch wieder zu erkennen (sog. dauerhafte Cookies).
Selbstverständlich können Sie Cookies jederzeit ablehnen, sofern Ihr Browser dies zulässt. Bitte beachten Sie, dass bestimmte
Funktionen dieser Website möglicherweise nicht oder nur eingeschränkt genutzt werden können, wenn Ihr Browser so eingestellt
ist, dass keine Cookies (unserer Website) angenommen werden. Erhebung, Verarbeitung Und Nutzung Von Daten FastBill verpflichtet
sich personenbezogene Daten, die im Zusammenhang mit der Nutzung von FastBill über die Website fastbill.com verarbeitet und
genutzt werden, nur für die Zwecke der Erfüllung der Dienstleistung zu verarbeiten und zu nutzen und alle notwendigen Vorkehrungen
und Maßnahmen zu treffen, damit das Datengeheimnis und die Datensicherheit jederzeit gewährleistet ist. Extern verlinkte
Webseiten Dritter sind nicht Gegenstand dieser Erklärung. Selbstverständlich beachten wir die gesetzlichen Bestimmungen des
Datenschutzgesetzes (BDSG) des Telemediengesetzes (TMG) und anderer datenschutzrechtlicher Bestimmungen. Die Sicherheit Ihrer
Daten ist uns sehr wichtig! Sie werden durch digitale Sicherheitssysteme verschlüsselt und an uns übertragen. Unsere Webseiten
sind durch technische Maßnahmen gegen Beschädigungen, Zerstörung oder unberechtigten Zugriff geschützt. Zur Optimierung unserer
Webseite sammeln und speichern wir Daten wie z. B. Datum und Uhrzeit des Seitenaufrufs, die Seite, von der Sie unsere Seite
aufgerufen haben und ähnliches, sofern Sie dieser Datenerhebung und -speicherung nicht widersprechen. Dies erfolgt anonymisiert,
ohne den Benutzer der Seite persönlich zu identifizieren. Ggf. werden Nutzerprofile mittels eines Pseudonyms erstellt. Auch
hierbei erfolgt keine Verbindung zwischen der hinter dem Pseudonym stehenden natürlichen Personen mit den erhobenen Nutzungsdaten.
Zur Erhebung und Speicherung der Nutzungsdaten setzen wir auch sog. Cookies ein. Dabei handelt es sich um kleine Textdateien,
die auf Ihrem Computer gespeichert werden und zur Speicherung von statistischen Information wie Betriebssystem, Ihrem Internetbenutzungsprogramm
(Browser), IP-Adresse, der zuvor aufgerufenen Webseite (Referrer-URL) und der Uhrzeit dienen. Diese Daten erheben wir ausschließlich,
zu statistischen Zwecken, um unseren Internetauftritt weiter zu optimieren und unsere Internetangebote noch attraktiver gestalten
zu können. Die Erhebung und Speicherung erfolgt ausschließlich in anonymisierter oder pseudonymisierter Form und lässt keinen
Rückschluss auf Sie als natürlich Person zu. Bei Ihrer Registrierung werden Ihr Firmenname, Ihr Vor- und Nachname sowie Ihre
E-Mail-Adresse abgefragt und gespeichert. Zur Vervollständigung ihres Profils werden im späteren Nutzungsverlauf zusätzlich
Ihre Postadresse und notwendige Angaben für die Ausstellung rechtsgültiger Rechnungsdokumente erfasst. Zusätzliche personenbezogene
Daten können Sie freiwillig machen. Personenbezogene Daten werden auf dieser Website nur im vertraglich und technisch notwendigen
Umfang erhoben und verwendet. Das gilt auch für die Daten ihrer Kunden, welche benötigt werden um das explizit kommunizierte
Leistungsangebot erfüllen zu können. In keinem Fall werden diese Daten verkauft oder aus andern als den genannten Gründen
an Dritte weiter gegeben. Zweckgebundene Datenverwendung Wir beachten den Grundsatz der zweckgebundenen Datenverwendung und
erheben, verarbeiten und speichern Ihre personenbezogenen Daten sowie die Daten ihrer Kunden nur für die Zwecke, für die
Sie uns diese mitgeteilt haben. Eine Weitergabe Ihrer persönlichen Daten an Dritte erfolgt ohne Ihre ausdrückliche Einwilligung
nicht, sofern dies nicht zur Erbringung der Dienstleistung oder zur Vertragsdurchführung notwendig ist. Auch die Übermittlung
an auskunftsberechtigte staatliche Institution und Behörden erfolgt nur im Rahmen der gesetzlichen Auskunftspflichten oder
wenn wir durch eine gerichtliche Entscheidung zur Auskunft verpflichtet werden. Auch den unternehmensinternen Datenschutz
nehmen wir sehr ernst. Unsere Mitarbeiter und die von uns beauftragten Dienstleistungsunternehmen sind von uns zur Verschwiegenheit
und zur Einhaltung der datenschutzrechtlichen Bestimmungen verpflichtet worden. Personenbezogene Daten werden von FastBill
nur für folgende Zwecke verwendet: Die Annahme, Bearbeitung und Ausführung Ihres Auftrags Die Erbringung von Diensten im
Zusammenhang mit der Bereitstellung von elektronischen Schlüsseln, Zugangscodes und anderen Daten, welche für den Zugang
zu den Seiten unserer Dienstleister oder Partner notwendig werden, damit Sie Produkte, Updates oder Serviceleistungen in
Anspruch nehmen können Die Aktualisierung Ihrer Abonnements für Produkte und Dienstleistungen Die Gewährleistung eines effektiven
Kundendienstes und / oder technischen Supports für Ihre Produkte Die Benachrichtigung über unsere Dienste betreffende Neuigkeiten
Der Versand von Newslettern oder anderem Werbematerial, sowie die Durchführung anderer Werbeaktionen, vorausgesetzt Sie haben
uns eine entsprechende Einwilligung erteilt Für weitere Zwecke, auf die wir Sie hinweisen und soweit dies gesetzlich zulässig
ist Google Analytics Und Google Remarketing Diese Website benutzt Google Analytics und Google Remarketing. Dies sind Dienstleistungen
der Google Inc. ("Google"). Google verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die
eine Analyse der Benutzung der Website durch Sie ermöglicht. Die durch den Cookie erzeugten Informationen über Ihre Benutzung
diese Website (einschliesslich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert.
Die IP Adresse wird anschliessend von Google um die letzten drei Stellen gekürzt, eine eindeutige Zuordnung der IP Adresse
ist somit nicht mehr möglich. Google beachtet die Datenschutzbestimmungen des "US-Safe-Harbor"-Abkommens und ist beim "Safe
Harbor"-Programm des US-Handelsministeriums registriert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website
auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung
und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an
Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten.
Drittanbieter, einschliesslich Google, schalten Anzeigen auf Websites im Internet. Drittanbieter, einschliesslich Google,
verwenden gespeicherte Cookies zum Schalten von Anzeigen auf Grundlage vorheriger Besuche eines Nutzers auf dieser Website.
Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google in Verbindung bringen. Der Datenerhebung und -speicherung
kann jederzeit mit Wirkung für die Zukunft widersprochen werden. Sie können die Verwendung von Cookies durch Google durch
eine entsprechende Einstellung Ihrer Browser Software deaktivieren, indem sie die Seite www.google.de/privacy/ads aufrufen
und den „opt-out“ Button betätigen. Alternativ können Sie die Verwendung von Cookies durch Drittanbieter deaktivieren, indem
sie die Deaktivierungsseite der Netzwerkwerbeinitiative unter www.networkadvertising.org/managing/opt_out.asp aufrufen. Weitere
Hinweise zu den Bestimmungen von Google finden Sie unter www.google.com/intl/de/privacy. Wir weisen Sie jedoch darauf hin,
dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können. Durch die
Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen
Art und Weise und zu dem zuvor benannten Zweck einverstanden. Verwendung Des Twitter Widgets Auf unseren Internetseiten setzen
wir zudem sog. “Widgets” von Twitter ein. Bei einem Aufruf dieser Internetseiten wird eine Verbindung zu Servern von Twitter
hergestellt. Die Server von Twitter befinden sich in den USA. Bei einem Aufruf einer Internetseite mit einem “Widget” von
Twitter erhält Twitter Informationen über Ihren Seitenaufruf. Dazu gehören jedenfalls auch Ihre IP-Adresse, der Browsertyp,
das Betriebssystem und die Adresse der Internetseite, auf der sich das “Widget” von Twitter befindet. Über das “Widget” von
Twitter wird zudem ein Cookie im Browser Ihres Endgerätes gesetzt. Im Zusammenhang mit dem Cookie kann Twitter theoretisch
erkennen, welche Seiten sie noch besucht haben, sofern auf den Seiten auch ein “Widget” von Twitter implementiert ist. Twitter
nutzt diese Daten nach eigenen Angaben ggf. auch dazu, Ihnen – wenn Sie einen Twitter-Account haben – z.B. bessere Vorschläge
zu passenden Nutzern zu machen. Twitter beginnt nach eigenen Angaben nach maximal 10 Tagen mit der Löschung der Daten. Die
Löschung selbst soll dann spätestens nach einer weiteren Woche abgeschlossen sein. Wenn Sie einen Twitter-Account haben,
können Sie in ihren Nutzerkontoeinstellungen ggf. weitere Einstellungen zur Datenverarbeitung vornehmen. Weiter Informationen
finden Sie in den Datenschutzhinweisen von Twitter, die Sie hier abrufen können: http://twitter.com/privacy Verwendung Von
Facebook Social Plugin Unser Internetauftritt verwendet Social Plugins (“Plugins”) des sozialen Netzwerkes facebook.com,
welches von der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA betrieben wird (“Facebook”). Die Plugins
sind an einem der Facebook Logos erkennbar (weißes „f“ auf blauer Kachel oder ein „Daumen hoch“-Zeichen) oder sind mit dem
Zusatz “Facebook Social Plugin” gekennzeichnet. Die Liste und das Aussehen der Facebook Social Plugins kann hier eingesehen
werden: http://developers.facebook.com/plugins. Wenn Sie eine Webseite unseres Internetauftritts aufrufen, die ein solches
Plugin enthält, baut Ihr Browser eine direkte Verbindung mit den Servern von Facebook auf. Der Inhalt des Plugins wird von
Facebook direkt an Ihren Browser übermittelt und von diesem in die Webseite eingebunden. Wir haben daher keinen Einfluss
auf den Umfang der Daten, die Facebook mit Hilfe dieses Plugins erhebt und informieren Sie daher entsprechend unserem Kenntnisstand:
Durch die Einbindung der Plugins erhält Facebook die Information, dass Sie die entsprechende Seite unseres Internetauftritts
aufgerufen haben. Sind Sie bei Facebook eingeloggt, kann Facebook den Besuch Ihrem Facebook-Konto zuordnen. Wenn Sie mit
den Plugins interagieren, zum Beispiel den Like Button betätigen oder einen Kommentar abgeben, wird die entsprechende Information
von Ihrem Browser direkt an Facebook übermittelt und dort gespeichert. Falls Sie kein Mitglied von Facebook sind, besteht
trotzdem die Möglichkeit, dass Facebook Ihre IP-Adresse in Erfahrung bringt und speichert. Zweck und Umfang der Datenerhebung
und die weitere Verarbeitung und Nutzung der Daten durch Facebook sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten
zum Schutz Ihrer Privatssphäre entnehmen Sie bitte den Datenschutzhinweisen von Facebook: http://www.facebook.com/policy.php.
Wenn Sie Facebookmitglied sind und nicht möchten, dass Facebook über unseren Internetauftritt Daten über Sie sammelt und
mit Ihren bei Facebook gespeicherten Mitgliedsdaten verknüpft, müssen Sie sich vor Ihrem Besuch unseres Internetauftritts
bei Facebook ausloggen. Ebenfalls ist es möglich Facebook-Social-Plugins mit Add-ons für Ihren Browser zu blocken, zum Beispiel
mit dem “Facebook Blocker“. Facebook Remarketing Auf unseren Seiten sind Remarketing-Tags des sozialen Netzwerks Facebook,
1601 South California Avenue, Palo Alto, CA 94304, USA integriert. Wenn Sie unsere Seiten besuchen, wird über die Remarketing-Tags
eine direkte Verbindung zwischen Ihrem Browser und dem Facebook-Server hergestellt. Facebook erhält dadurch die Information,
dass Sie mit Ihrer IP-Adresse unsere Seite besucht haben. Dadurch kann Facebook den Besuch unserer Seiten Ihrem Benutzerkonto
zuordnen. Die so erhaltenen Informationen können wir für die Anzeige von Facebook Ads nutzen. Wir weisen darauf hin, dass
wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Facebook erhalten.
Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von facebook unter https://www.facebook.com/about/privacy/.
Falls Sie keine Datenerfassung via Custom Audience wünschen, können Sie Custom Audiences in Ihren Facebook Einstellungen
deaktivieren. Verwendung Der Google „+1 Schaltfläche“ Wir setzen auch die “+1-Schaltfläche” von Google ein (“+1 Button”).
Bei einem Aufruf dieser Internetseiten wird, wenn sich ein “+1 Button” auf der Internetseite befindet, eine Verbindung zu
Servern von Google hergestellt. Die Server von Google können sich insbesondere auch in den USA befinden. Durch den Seitenaufruf
kann Google die Information erhalten, dass Sie die betreffende Internetseite aufgerufen haben. Dies gilt insbesondere dann,
wenn Sie zum Zeitpunkt des Aufrufs der Internetseiten gerade bei einem der verschiedenen Dienste von Google angemeldet sind.
Nach eigenen Angaben von Google wird der “+1-Button” nicht verwendet, um ihre Besuche auf Internetseiten zu erfassen. Google
gibt insbesondere an, dass ein Browserverlauf nicht dauerhaft gespeichert wird. Jedoch würde eine Speicherung der Daten über
Ihren Besuch für eine Dauer von (normalerweise) zwei Wochen erfolgen. Wenn Sie auf den “+1-Button” klicken, dann werden nach
Angaben von Google Informationen zu Ihrem Google-Profil, die Adresse der Internetseite, auf der der “+1-Button” angeklickt
wurde, Ihre IP-Adresse und weitere Informationen von Google gespeichert. Wenn Sie ihre Empfehlung durch erneutes Klicken
auf den “+1-Button” zurücknehmen, werden diese Daten wieder gelöscht. Google verwendet auch Cookies, um Informationen über
die Nutzung von Internetseiten zu verarbeiten. Für den Umgang mit Cookies lesen Sie bitte die betreffende Passage zu Cookies
in unseren Datenschutzhinweisen. Wir selbst haben keinen Einfluss darauf, welche Daten Google bei einem Seitenaufruf von
Ihnen erhebt, verarbeitet und nutzt. Insoweit informieren Sie sich gerne über die Datenschutzhinweise von Google, die Sie
hier abrufen können: http://www.google.com/intl/de/policies/privacy/ Verwendung Des Xing-Buttons Auf dieser Internetseite
wird der „XING Share-Button“ eingesetzt. Beim Aufruf dieser Internetseite wird über Ihren Browser kurzfristig eine Verbindung
zu Servern der XING AG („XING“) aufgebaut, mit denen die „XING Share-Button“-Funktionen (insbesondere die Berechnung/Anzeige
des Zählerwerts) erbracht werden. XING speichert keine personenbezogenen Daten von Ihnen über den Aufruf dieser Internetseite.
XING speichert insbesondere keine IP-Adressen. Es findet auch keine Auswertung Ihres Nutzungsverhaltens über die Verwendung
von Cookies im Zusammenhang mit dem „XING Share-Button“ statt. Die jeweils aktuellen Datenschutzinformationen zum „XING Share-Button“
und ergänzende Informationen können Sie auf dieser Internetseite abrufen: https://www.xing.com/app/share?op=data_protection
Newsletter Wir bieten Ihnen die Möglichkeit, unseren Newsletter zu abonnieren. Hierzu benötigen wir Ihre E-Mail-Adresse.
Wir weisen darauf hin, dass wir einen Dienstleister für den Versand der Newsletter-E-Mails nutzen, der seinen Sitz in den
USA hat (Mailchimp). Dieser speichert auch die IP-Adresse, die Ihrem Endgerät zugewiesen war, als Sie den Newsletter bestellt
haben. Mehr zum Anbieter Mailchimp können Sie auf der Internetseite eines Datenschutz-Experten einsehen: https://www.datenschutz-guru.de/mailchimp/.
Wir weisen darauf hin, dass wir zur Optimierung unserer Newsletter ggf. auch Hinweise des Newsletter-Anbieters über Öffnungsraten
und Klickverhalten von Newsletter-Abonnenten bekommen. Verwendung Des Userlike Live-Chat-Tools Um Ihnen eine bestmögliche
Erfahrung und eine direkte Ansprache und Hilfe auf unseren Internetseiten zu ermöglichen, setzten wir das Live-Chat-Tool
von „Userlike“ in Form eines Widgets ein. Bei einem Aufruf des Userlike Widgets wird eine Verbindung zu den Servern von Userlike
aufgebaut. Dabei wird auch Ihre IP-Adresse gespeichert. Um über Userlike mit uns zu chatten, müssen keine personenbezogenen
Daten von Ihnen angegeben werden. Es kommen Cookies zum Einsatz, um die Funktionalitäten von Userlike zu ermöglichen. Näheres
können Sie den Datenschutzhinweisen von Userlike entnehmen, die Sie hier abrufen können: https://www.userlike.com/de/privacy_policy
Intercom.Io Zur Verbesserung des Nutzererlebnisses in unseren Anwendungen setzen wir für den Versand von Mitteilungen per
E-Mail und für Live-Chats den Dienst Intercom der Firma der Intercom Inc. ein. Wir übermitteln als personenbezogene Daten
deine E-Mail-Adresse und deinen Namen an Intercom. Die Intercom, Inc. hat sich dem „Safe Harbor“ Programm angeschlossen,
durch das ein höheres Datenschutzniveau für nicht in der EU ansässige Unternehmen erreicht werden soll. Weitere Informationen
zum Datenschutz bei Intercom findest du unter http://docs.intercom.io/privacy. Datensicherheit Und Verschlüsselung Die FastBill-Server
stehen im größten Rechenzentrum Deutschlands in Frankfurt in direkter Nachbarschaft zu den Servern mehrerer großer Banken.
Für einen reibungslosen und sicheren Betrieb der Server sorgen die Techniker der ADACOR Hosting GmbH. Der Serverstandort
verfügt über ein VdS-zertifizierte Leitstelle, bewaffneten Wachschutz, eine 24/7 Videoüberwachung und sehr restriktive Zugangsbeschränkungen.
Die Verbindung zwischen Ihrem Rechner und FastBill wird per 256-Bit-SSL-Verschlüsselung gesichert. Es handelt sich hierbei
um den selben Standard, auf den Banken beim Online-Banking und Zahlungsdienstleister bei Kreditkartenzahlungen vertrauen.
Änderung Dieser Bestimmungen Bei einer Änderung gesetzlicher Vorschriften oder unseres Dienstes kann eine Anpassung dieser
Datenschutzerklärung erforderlich werden. Die jeweils aktuelle Fassung der Datenschutzbestimmungen kann jederzeit auf unter
dem Link Datenschutz eingesehen werden. Auskunft- Und Widerrufsrecht Sie erhalten jederzeit ohne Angabe von Gründen kostenfrei
Auskunft über Ihre bei uns gespeicherten Daten. Sie können jederzeit Ihre bei uns erhobenen Daten sperren, berichtigen oder
löschen lassen und der anonymisierten oder pseudonymisierten Datenerhebung und -speicherung zu Optimierungszwecken unserer
Website widersprechen. Auch können Sie jederzeit die uns erteilte Einwilligung zur Datenerhebung und Verwendung ohne Angaben
von Gründen widerrufen. Wenden Sie sich hierzu bitte an die im Impressum angegebene Kontaktadresse. Wir stehen Ihnen jederzeit
gern für weitergehende Fragen zu unserem Hinweisen zum Datenschutz und zur Verarbeitung Ihrer persönlichen Daten zur Verfügung.
Kontakt Zum Datenschutzbeauftragten Intervokat Datenschutz Sascha Schoor Externer Datenschutzbeauftragter Unter den Linden
10 10117 Berlin Telefon: +49 30 700 140 100 E-Mail: fastbill-datenschutz@intervokat.com ZULETZT GEÄNDERT: 22.04.2015 Mehr
als 30.000 Kunden nutzen schon FastBill Jetzt 30 Tage testen Über FastBill Blog Jobs Presse Kontakt Monsum Für Partner Partnerprogramm
API Ansprechpartner Rechtliches Impressum Datenschutz AGB Newsletter E-Mail Adresse English Site