<div class="middle-box ">
	<h3 style="color:white;">Datenschutzerklärung</h3>
</div>

<div class="row" style="color:white;">
	<div class="col-md-6 col-md-offset-3" style="text-align: justify;">
		
		<br/>
		<br/>
		<p>Vielen Dank für Ihr Interesse an lead+. Datenschutz und Datensicherheit sind für uns von oberster Priorität. 
		Lesen Sie deshalb bitte folgende Datenschutzerklärung durch.</p>

		<br/>
		<br/>
		<h3>Gegenstand Des Datenschutzes</h3>
		<p>Gegenstand des Datenschutzes sind personenbezogene Daten. 
		Diese sind nach § 3 Abs. 1 BDSG Einzelangaben über persönlich oder sachliche Verhältnisse einer bestimmten oder bestimmbaren natürlichen Person. 
		Hierunter fallen z. B. Angaben wie Name, Post-Adresse, E-Mail-Adresse oder Telefonnummer, ggf. aber auch Nutzungsdaten wie Ihre IP-Adresse.</p>

		<br/>
		<br/>
		<h3>Cookies</h3>
		<p>Diese Website nutzt so genannte „Cookies“, welche dazu dienen, unsere Internetpräsenz insgesamt nutzerfreundlicher, effektiver sowie sicherer zu machen – etwa wenn es darum geht, 
		das Navigieren auf unserer Website zu beschleunigen. Zudem versetzen uns Cookies in die Lage, die Häufigkeit von Seitenaufrufen und die allgemeine Navigation zu messen. 
		Bei Cookies handelt es sich um kleine Textdateien, die auf Ihrem Computersystem abgelegt werden. Wir weisen Sie darauf hin, dass einige dieser Cookies von unserem Server auf
		Ihr Computersystem überspielt werden, wobei es sich dabei meist um so genannte "Session-Cookies" handelt. "Session-Cookies" zeichnen sich dadurch aus,
		dass diese automatisch nach Ende der Browser-Sitzung wieder von Ihrer Festplatte gelöscht werden. Andere Cookies verbleiben auf Ihrem Computersystem und ermöglichen es uns,
		Ihr Computersystem bei Ihrem nächsten Besuch wieder zu erkennen (sog. dauerhafte Cookies). Selbstverständlich können Sie Cookies jederzeit ablehnen, sofern Ihr Browser dies zulässt. 
		Bitte beachten Sie, dass bestimmte Funktionen dieser Website möglicherweise nicht oder nur eingeschränkt genutzt werden können, wenn Ihr Browser so eingestellt ist, 
		dass keine Cookies (unserer Website) angenommen werden.</p>

		<br/>
		<br/>
		<h3>Erhebung, Verarbeitung Und Nutzung Von Daten</h3>
		<p>GET-NET verpflichtet sich personenbezogene Daten, die im Zusammenhang mit der Nutzung von lead+ über die Website leaplus.io verarbeitet und genutzt werden, 
		nur für die Zwecke der Erfüllung der Dienstleistung zu verarbeiten und zu nutzen und alle notwendigen Vorkehrungen und Maßnahmen zu treffen, 
		damit das Datengeheimnis und die Datensicherheit jederzeit gewährleistet ist. 
		Extern verlinkte Webseiten Dritter sind nicht Gegenstand dieser Erklärung. 
		Selbstverständlich beachten wir die gesetzlichen Bestimmungen des Datenschutzgesetzes (BDSG) des Telemediengesetzes (TMG) und anderer datenschutzrechtlicher Bestimmungen.

		Die Sicherheit Ihrer Daten ist uns sehr wichtig! Sie werden durch digitale Sicherheitssysteme verschlüsselt und an uns übertragen. 
		Unsere Webseiten sind durch technische Maßnahmen gegen Beschädigungen, Zerstörung oder unberechtigten Zugriff geschützt.

		Zur Optimierung unserer Webseite sammeln und speichern wir Daten wie z. B. Datum und Uhrzeit des Seitenaufrufs, die Seite, von der Sie unsere Seite aufgerufen haben und ähnliches, 
		sofern Sie dieser Datenerhebung und -speicherung nicht widersprechen. Dies erfolgt anonymisiert, ohne den Benutzer der Seite persönlich zu identifizieren. 
		Ggf. werden Nutzerprofile mittels eines Pseudonyms erstellt. Auch hierbei erfolgt keine Verbindung zwischen der hinter dem Pseudonym stehenden natürlichen Personen mit den erhobenen Nutzungsdaten.
		Zur Erhebung und Speicherung der Nutzungsdaten setzen wir auch sog. Cookies ein. Dabei handelt es sich um kleine Textdateien, die auf Ihrem Computer gespeichert werden und 
		zur Speicherung von statistischen Information wie Betriebssystem, Ihrem Internetbenutzungsprogramm (Browser), IP-Adresse, der zuvor aufgerufenen Webseite (Referrer-URL) und der Uhrzeit dienen. 
		Diese Daten erheben wir ausschließlich, zu statistischen Zwecken, um unseren Internetauftritt weiter zu optimieren und unsere Internetangebote noch attraktiver gestalten zu können. 
		Die Erhebung und Speicherung erfolgt ausschließlich in anonymisierter oder pseudonymisierter Form und lässt keinen Rückschluss auf Sie als natürlich Person zu.

		Bei Ihrer Registrierung werden Ihr Firmenname, Ihr Vor- und Nachname sowie Ihre E-Mail-Adresse abgefragt und gespeichert. 
		Zur Vervollständigung ihres Profils werden im späteren Nutzungsverlauf zusätzlich Ihre Postadresse und notwendige Angaben für die Ausstellung rechtsgültiger Rechnungsdokumente erfasst. 
		Zusätzliche personenbezogene Daten können Sie freiwillig machen.

		Personenbezogene Daten werden auf dieser Website nur im vertraglich und technisch notwendigen Umfang erhoben und verwendet. 
		Das gilt auch für die Daten ihrer Kunden, welche benötigt werden um das explizit kommunizierte Leistungsangebot erfüllen zu können. 
		In keinem Fall werden diese Daten verkauft oder aus andern als den genannten Gründen an Dritte weiter gegeben.</p>

		<br/>
		<br/>
		<h3>Zweckgebundene Datenverwendung</h3>
		<p>Wir beachten den Grundsatz der zweckgebundenen Datenverwendung und erheben, verarbeiten und speichern Ihre personenbezogenen Daten sowie die Daten ihrer Kunden nur für die Zwecke, für die Sie uns diese mitgeteilt haben. Eine Weitergabe Ihrer persönlichen Daten an Dritte erfolgt ohne Ihre ausdrückliche Einwilligung nicht, sofern dies nicht zur Erbringung der Dienstleistung oder zur Vertragsdurchführung notwendig ist. Auch die Übermittlung an auskunftsberechtigte staatliche Institution und Behörden erfolgt nur im Rahmen der gesetzlichen Auskunftspflichten oder wenn wir durch eine gerichtliche Entscheidung zur Auskunft verpflichtet werden.

		Auch den unternehmensinternen Datenschutz nehmen wir sehr ernst. 
		Unsere Mitarbeiter sind von uns zur Verschwiegenheit und zur Einhaltung der datenschutzrechtlichen Bestimmungen verpflichtet worden.
		Personenbezogene Daten werden von lead+ nur für folgende Zwecke verwendet:
		<ul>
			<li>Die Annahme, Bearbeitung und Ausführung Ihres Auftrags</li>
			<li>Die Erbringung von Diensten im Zusammenhang mit der Bereitstellung von elektronischen Schlüsseln, Zugangscodes und anderen Daten, 
				welche für den Zugang zu den Seiten unserer Dienstleister oder Partner notwendig werden, damit Sie Produkte, Updates oder Serviceleistungen in Anspruch nehmen können</li>
			<li>Die Aktualisierung Ihrer Abonnements für Produkte und Dienstleistungen</li>
			<li>Die Gewährleistung eines effektiven Kundendienstes und / oder technischen Supports für Ihre Produkte</li>
			<li>Die Benachrichtigung über unsere Dienste betreffende Neuigkeiten</li>
			<li>Der Versand von Newslettern oder anderem Werbematerial, sowie die Durchführung anderer Werbeaktionen, vorausgesetzt Sie haben uns eine entsprechende Einwilligung erteilt</li>
			<li>Für weitere Zwecke, auf die wir Sie hinweisen und soweit dies gesetzlich zulässig ist</li>
		</ul>
		</p>

		<br/>
		<br/>
		<h3>Datensicherheit Und Verschlüsselung</h3>
		<p>Die lead+ -Server stehen werden über den größten Cloud-Infrastruktur Anbieter Amazon Web Services in Frankfurt bereitgestellt.
		Die Verbindung zwischen Ihrem Rechner und lead+ wird per 256-Bit-SSL-Verschlüsselung gesichert. 
		Es handelt sich hierbei um den selben Standard, auf den Banken beim Online-Banking und Zahlungsdienstleister bei Kreditkartenzahlungen vertrauen.</p>

		<br/>
		<br/>
		<h3>Änderung Dieser Bestimmungen</h3>
		<p>Bei einer Änderung gesetzlicher Vorschriften oder unseres Dienstes kann eine Anpassung dieser Datenschutzerklärung erforderlich werden. 
		Die jeweils aktuelle Fassung der Datenschutzbestimmungen kann jederzeit auf unter dem Link Datenschutz eingesehen werden.</p>

		<br/>
		<br/>
		<h3>Auskunft- Und Widerrufsrecht</h3>
		<p>Sie erhalten jederzeit ohne Angabe von Gründen kostenfrei Auskunft über Ihre bei uns gespeicherten Daten. 
		Sie können jederzeit Ihre bei uns erhobenen Daten sperren, berichtigen oder löschen lassen und der anonymisierten oder pseudonymisierten Datenerhebung und -speicherung 
		zu Optimierungszwecken unserer Website widersprechen. Auch können Sie jederzeit die uns erteilte Einwilligung zur Datenerhebung und Verwendung ohne Angaben von Gründen widerrufen. 
		Wenden Sie sich hierzu bitte an die im Impressum angegebene Kontaktadresse. 
		Wir stehen Ihnen jederzeit gern für weitergehende Fragen zu unserem Hinweisen zum Datenschutz und zur Verarbeitung Ihrer persönlichen Daten zur Verfügung.</p>

		<br/>
		<br/>
		<h3>Kontakt Zum Datenschutzbeauftragten</h3>
		<p>Andreas Foitzik <br/> 
		Hauptstrasse 55 <br/>	
		76133 Karlsruhe <br/>
		Telefon: +49 123 456 789 00<br/>
		E-Mail: andreas.foitzik@leadplus.io <br/></p>

		<br/>
		<br/>
		<h3>ZULETZT GEÄNDERT: 22.04.2015</h3>
	</div>
</div>