<div class="row" ng-if="statistic.currentTab==1">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">{{statistic.selectedPeriod}}</span>
                <h5>{{ 'STATISTIC_PROFIT' | translate }}</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{statistic.profit| currency:'\u20AC'}}</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">{{statistic.selectedPeriod}}</span>
                <h5>{{ 'STATISTIC_TURNOVER' | translate }}</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{statistic.turnover | currency:'\u20AC'}}</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">{{statistic.selectedPeriod}}</span>
                <h5>{{ 'STATISTIC_SALES' | translate }}</h5>
            </div>
            <div class="ibox-content">
                <ul class="stat-list m-t-lg">
                    <li>
                        <h2 class="no-margins">{{statistic.sales}}/{{statistic.leads}}</h2>
                        <small>{{ 'STATISTIC_SALES_OF_LEADS' | translate }}</small>
                        <div class="progress progress-mini">
                            <div ng-style="{'width':statistic.getSalesLeadsRatePercentage()+'%'}"
                                 class="progress-bar progress-bar-danger"></div>
                        </div>
                    </li>
                    <li>
                        <h2 class="no-margins">{{statistic.sales}}/{{statistic.offers}}</h2>
                        <small>{{ 'STATISTIC_SALES_OF_OFFERS' | translate }}</small>
                        <div class="progress progress-mini">
                            <div ng-style="{'width':statistic.getSalesOffersRatePercentage()+'%'}"
                                 class="progress-bar progress-bar-warning"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">{{statistic.selectedPeriod}}</span>
                <h5>{{ 'STATISTIC_PROFIT_ON_SALES' | translate }}</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{statistic.efficiency | number:2}}%</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">{{statistic.selectedPeriod}}</span>
                <h5>{{ 'STATISTIC_PROFIT_PER_SALE' | translate }}</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{statistic.profitPerSale | currency:'\u20AC'}}</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">{{statistic.selectedPeriod}}</span>
                <h5>{{ 'STATISTIC_CONVERSIONRATE' | translate }}</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{statistic.conversionrate | number:2}}%</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">{{statistic.selectedPeriod}}</span>
                <h5>{{ 'STATISTIC_PARTS' | translate }}</h5>
            </div>
            <div class="ibox-content">
                <highchart id="chartSingleStatisticPie" config="statistic.chartSingleStatisticPie"></highchart>
            </div>
        </div>
    </div>
</div>