<style>
    .important {
        background: #FFEBEB;
    }
</style>
<meta charset="utf-8">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10">
                <h2>{{ 'CUSTOMER_MENU' | translate }}</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#/dashboard">Home</a>
                    </li>
                    <li class="active">
                        <strong>{{ 'CUSTOMER_MENU' | translate }}</strong>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ 'PRODUCT_MANAGE_PRODUCTS' | translate }}</h5>
                </div>
                <div class="ibox-content">

                    <div class="ibox-content">
                        <form role="form" class="form-inline">

                            <button type="button" class="btn btn-success btn-sm btn-primary" ng-click="customerCtrl.clearCustomer()" data-toggle="modal"
                                data-target="#createCustomerModal">
                                <i class="fa fa-plus"></i>
                                &nbsp;{{ 'PRODUCT_CREATE' | translate }}
                        </button>
                            <button type="button" ng-click="customerCtrl.refreshData()" type="button" class="btn btn-success btn-sm btn-primary">
                                <i class="fa fa-refresh"></i>
                                &nbsp;{{ 'COMMON_REFRESH' | translate }}
                        </button>

                            <span class="pull-right ">
                                 <input  type="text" placeholder="Search" class="input-sm form-control" ng-model="searchText">
                         </span>



                        </form>
                    </div>


                    <div class="project-list">
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="customer in customerCtrl.customerService.customer| filter:searchText">
                                    <td class="project-status col-md-1">
                                        <span ng-show="!customer.isDeactivated" class="label label-primary">Active</span>
                                        <span ng-show="customer.isDeactivated" class="label label-default">Unactive</span>
                                    </td>
                                    <td class="project-title col-md-2">
                                        <a href="project_detail.html">{{customer.name}}</a>
                                        <br>
                                        <small>{{ 'PRODUCT_CREATED' | translate }} {{customer.timestamp}}</small>
                                    </td>
                                    <td class="project-completion col-md-7" max>
                                        <small style="word-wrap: break-word; word-break: break-all;">{{customer.description}}</small>
                                    </td>
                                    <td class="project-people col-md-1">
                                        <a href=""><img alt="image" class="img-circle" src="http://www.containersucher.com/assets/plugindata/w2dblgbb1ca3b3057e90d9af3e514539e33a22/pic1271913090.jpg"></a>
                                    </td>
                                    <td class="project-actions col-md-1">
                                        <button type="button" class="btn btn-white btn-sm" ng-click="customerCtrl.editCustomer(customer)" data-toggle="modal" data-target="#createCustomerModal">
                                     <i class="fa fa-pencil"></i>&nbsp;Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ 'PRODUCT_MANAGE_PRODUCTS' | translate }}</h5>
                    </div>
                    <div class="ibox-content">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>
                                        <select data-placeholder="Choose a country..." style="width:350px;" class="chosen-select">
                                            <option ng-repeat="orderPosition in customerCtrl.products">{{orderPosition.amount}}</option>                                             
                                        </select>
                                    </th>
                                    <th>
                                        <button type="button" class="btn btn-white btn-sm" ng-click="customerCtrl.addProduct()">
                                     <i class="fa fa-pencil"></i>&nbsp;</button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="orderPosition in customerCtrl.products">
                                    <td>{{orderPosition.product.name}}</td>
                                    <td>{{orderPosition.amount}}</td>
                                    <td>
                                        <button type="button" class="btn btn-white btn-sm" ng-click="customerCtrl.addProduct()">
                                        <i class="fa fa-trash"></i>&nbsp;
                                     </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include=" 'components/Customer/Customer.Modal.html' "></div>

<script>
   $(".chosen-select").chosen({no_results_text: "Oops, nothing found!"}); 
  </script>