<div class="modal-header">
	<button type="button" class="close" ng-click="templateCtrl.close()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="inmodal modal-title">{{ 'SETTING_EMAIL_TEMPLATE_CREATE' | translate }}</h4>
</div>
<form name="createTemplate">
	<div class="modal-body" style="background-color: #f8fafb">
		<div class="row">
			<!-- Name -->
			<div class="col-lg-6">
				<div class="form-group">
					<label>{{ 'COMMON_NAME' | translate }}<span style="color:red">*</span></label>
					<span style="color:red" ng-show="createTemplate.name.$error.maxlength && !createTemplate.description.$pristine">{{ 'COMMON_VALIDATE_MAX' | translate }}30{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
					<span style="color:red" ng-show="createTemplate.name.$error.required  && !createTemplate.description.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
					<input required type="text" name="name" class="form-control" ng-model="templateCtrl.template.name" ng-maxlength="30">
				</div>
				<!-- Deactivated -->
				<div class="form-group">
					<label class="checkbox-inline "> <input type="checkbox " ng-model="templateCtrl.template.deactivated">{{ 'COMMON_DEACTIVATED' | translate }}</label>
				</div>
			</div>
			<div class="col-lg-6">
				<!-- Description -->
				<div class="form-group" ng-class="{ 'has-error' : createTemplate.description.$invalid && !createTemplate.description.$pristine }">
					<label>{{ 'COMMON_DESCRIPTION' | translate }}</label>
					<span style="color:red" ng-show="createTemplate.description.$error.maxlength && !createTemplate.description.$pristine">{{ 'COMMON_VALIDATE_MAX' | translate }}255{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
					<span style="color:red" ng-show="createTemplate.description.$error.required  && !createTemplate.description.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
					<textarea type="text" name="description" style="resize: none; width:100%;box-sizing: border-box;height: 70px !important"
						class="form-control" ng-model="templateCtrl.template.description" ng-maxlength="255" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>{{ 'SETTING_TEMPLATE_NOTIFICATION_TYPE' | translate }}</label>
					<select ng-model="templateCtrl.currentSelectedNotificationTypes" data-placeholder-text-multiple="templateCtrl.getTranslationByKey('SETTING_TEMPLATE_NOTIFICATION_TYPE_SELECT')"
						chosen multiple>
						<option value="ALL">{{'SETTING_TEMPLATE_ALL_TYPES'|translate}}</option>
						<option ng-value="t" ng-repeat="t in templateCtrl.availableNotificationTypes">{{ t | translate }}</option>
						</select>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="form-group">
					<label>{{ 'SETTING_TEMPLATE_SOURCE' | translate }}</label>
					<select ng-model="templateCtrl.currentSelectedSource" data-placeholder-text-multiple="templateCtrl.getTranslationByKey('SETTING_TEMPLATE_SOURCE_SELECT')"
						chosen multiple>
						<option value="ALL">{{'SETTING_TEMPLATE_ALL_SOURCES'|translate}}</option>
						<option value="NONE">{{'SETTING_TEMPLATE_NO_SOURCES'|translate}}</option>
						<option ng-value="s" ng-repeat="s in templateCtrl.availablesourceNames">{{s}}</option>
						</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<!-- Subject -->
				<div class="form-group" ng-class="{ 'has-error' : createTemplate.subject.$invalid && !createTemplate.subject.$pristine }">
					<label>{{ 'EMAIL_SUBJECT' | translate }}</label>
					<span style="color:red" ng-show="createTemplate.subject.$error.maxlength && !createTemplate.subject.$pristine">{{ 'COMMON_VALIDATE_MAX' | translate }}255{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
					<span style="color:red" ng-show="createTemplate.subject.$error.required  && !createTemplate.subject.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
					<input type="text" name="subject" class="form-control" ng-model="templateCtrl.template.subject" ng-maxlength="255">
				</div>
				<!-- Template -->
				<div class="form-group ">
					<label>{{ 'SETTING_EMAIL_TEMPLATE_TEXT' | translate }}<span style="color:red">*</span></label>
					<div style="border: 1px solid #a9a9a9" ng-style="createTemplate.content.$invalid  && !createTemplate.content.$pristine ?{ 'border-color': 'red'}:{ 'border-color': '#a9a9a9'}">
						<summernote required type="text " config="templateCtrl.summernoteOptions" name="content " class="form-control" height="300"
							ng-model="templateCtrl.template.content "></summernote>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer ">
		<button type="button " class="btn btn-white " data-dismiss="modal " ng-click="templateCtrl.close()">{{ 'COMMON_CANCEL'| translate }}
			</button>
		<button type="button " class="btn btn-warning " ng-disabled="templateCtrl.isTemplateInPreviewMode() || createTemplate.$invalid" ng-click="templateCtrl.testSyntax()">{{ 'SETTING_TEMPLATE_TEST_SYNTAX'| translate }}
			</button>
		<button type="submit " class="btn btn-success " ng-disabled="templateCtrl.isTemplateInPreviewMode() || createTemplate.$invalid" ng-click="templateCtrl.save() " data-dismiss="modal ">{{ 'COMMON_SAVE'| translate }}
			</button>
	</div>
</form>

<style>
	.chosen-container,
	.default,
	.chosen-drop {
		width: 100% !important;
	}
</style>