<style>
    .huge {
        font-size: 2em;
    }
    
    .span-left-margin {
        margin-left: 5%;
    }
    
    .span-right-margin {
        margin-right: 5%;
    }
    
    .statisticDiv {
        height: 150px;
    }
</style>
<div class="row">
    <div class="col-lg-3 ">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-danger pull-right">Heute</span>
                <h5>Anfragen</h5>
                <div class="ibox-content statisticDiv">
                    <h1 class="no-margins">1200</h1>
                    <sparklinechart data="0,1,5,7,2,1,12,15" color="#ed5565"></sparklinechart>
                    <small>Letzte 30 Tage</small>
                </div>

            </div>
        </div>
    </div>
     <div class="col-lg-3 ">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">Monat</span>
                <h5>Verkäufe</h5>
                <div class="ibox-content statisticDiv">
                    <h1 class="no-margins">34</h1>
                    <sparklinechart data="0,1,5,7,2,1,12,15" color="#1c84c6"></sparklinechart>
                    <small>Letzte 30 Tage</small>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">Monat</span>
                <h5>Gewinn und Umsatz</h5>
            </div>
            <div class="ibox-content statisticDiv">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="no-margins">€ 105.230,54</h1>
                        <small>Umsatz</small>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="no-margins">€ 25.230,54</h1>
                        <small>Gewinn</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox">
             <div class="ibox-title">
                <span class="label label-success pull-right">Monat</span>
                <h5>Conversionrate</h5>
            </div>
            <div class="ibox-content statisticDiv">
                <h1>20%</h1>
                <div class="progress progress-mini">
                    <div style="width: 20%;" class="progress-bar progress-bar-success"></div>
                </div>
                <div class="m-t-sm small">Verkauf pro Anfrage</div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{dashboardCtrl.getSaleAmount()}}/{{dashboardCtrl.getLeadAmount()}}</div>
                        <div>{{ 'DASHBOARD_COMPLETION' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer statisticDiv">
                <div class="row">
                    <span class="pull-left span-left-margin">
                             <label class="control-label">{{ 'LEADS_MENU' | translate }}</label>
                        </span>
                    <span class="pull-right badge span-right-margin">{{dashboardCtrl.getLeadAmount()}} </span>
                </div>
                <div class="row">
                    <span class="pull-left span-left-margin">
                             <label class="control-label">{{ 'OFFERS_MENU' | translate }} </label>
                        </span>
                    <span class="pull-right badge span-right-margin">{{dashboardCtrl.getOfferAmount()}} </span>
                </div>
                <div class="row">
                    <span class="pull-left span-left-margin">
                             <label class="control-label">{{ 'SALES_MENU' | translate }} </label>
                        </span>
                    <span class="pull-right badge span-right-margin">{{dashboardCtrl.getSaleAmount()}} </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-usd fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{dashboardCtrl.getProfit() | currency:'\u20AC'}}</div>
                        <div>{{ 'COMMON_SALE_PROFIT' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer statisticDiv">
                <div class="row">
                    <span class="pull-left span-left-margin">
                             <label class="control-label">{{ 'COMMON_SALE_RETURN' | translate }} </label>
                        </span>
                    <span class="pull-right badge span-right-margin">{{dashboardCtrl.getTurnover() | currency:'\u20AC'}} </span>
                </div>
                <div class="row">
                    <span class="pull-left span-left-margin">
                             <label class="control-label">{{ 'COMMON_SALE_PROFIT' | translate }} </label>
                        </span>
                    <span class="pull-right badge span-right-margin">{{dashboardCtrl.getProfit() | currency:'\u20AC'}} </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-area-chart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{dashboardCtrl.getConversionrate() | number:2}}%</div>
                        <div>{{ 'COMMON_CONVERSIONRATE' | translate }} &nbsp;&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer statisticDiv">
                <div class="row">
                    <span class="pull-left span-left-margin">
                             <label class="control-label">{{ 'COMMON_CONVERSIONRATE' | translate }} </label>
                        </span>
                    <span class="pull-right badge span-right-margin">{{dashboardCtrl.getConversionrate() | number:2}}%</span>
                </div>
            </div>
        </div>
    </div>
</div>