<div class="row" id="todorow">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>{{ 'TODO_TODOS' | translate }}</h5>
				<div class="ibox-tools">
					<i class="fa fa-question-circle" uib-tooltip="{{ 'TOOLTIP_TODO' | translate }}" ></i>
				</div>
			</div>
			<div class="ibox-content">

				<form role="form" class="form-inline">
					<!--
                    <div class="col-md-1">
                        <button ng-click="dashboardCtrl.refreshTodos();" type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                    </div>
                    -->
					<span class="pull-right ">
                                 <input  type="text" placeholder="{{ 'COMMON_SEARCH' | translate }}" class="input-sm form-control" ng-model="searchText">
                         </span>



				</form>

				<div class="project-list">

					<table class="table table-hover">
						<tbody>
							<tr todoitem process="::todo" ng-repeat="todo in dashboardCtrl.dashboardService.todos|filter:searchText| orderBy:'timestamp' | limitTo:dashboardCtrl.todoAmountLimit ">
								
							</tr>
						</tbody>
					</table>
					<div ng-if="dashboardCtrl.dashboardService.todos.length==0" align="center" style="min-height:30px;border-style: dashed;  border-width: 1px; border-color: grey;border-radius:7px;">
						<p style="margin-top:7px">{{ 'TODO_NO_TODOS' | translate }}</p>
					</div>
					<div ng-if="dashboardCtrl.todoAmountLimit<dashboardCtrl.dashboardService.todos.length" class="row" style="text-align: center;">
						<a href="" ng-click="dashboardCtrl.todoAmountLimit=dashboardCtrl.todoAmountLimit+10">10 {{ 'COMMON_LOAD_MORE' | translate }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>