<style>
    .huge {
        font-size: 2em;
    }

    .span-left-margin {
        margin-left: 5%;
    }

    .span-right-margin {
        margin-right: 5%;
    }

    .statisticDiv {
        height: 80px;
    }
</style>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{dashboardCtrl.getSaleAmount()}}/{{dashboardCtrl.getLeadAmount()}}</div>
                        <div>{{ 'DASHBOARD_COMPLETION' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer statisticDiv">
                <div class="row">
                        <span class="pull-left span-left-margin">
                             <label class="control-label">{{ 'LEADS_MENU' | translate }}</label>
                        </span>
                    <span class="pull-right badge span-right-margin">{{dashboardCtrl.getLeadAmount()}} </span>
                </div>
                <div class="row">
                        <span class="pull-left span-left-margin">
                             <label class="control-label">{{ 'OFFERS_MENU' | translate }} </label>
                        </span>
                    <span class="pull-right badge span-right-margin">{{dashboardCtrl.getOfferAmount()}} </span>
                </div>
                <div class="row">
                        <span class="pull-left span-left-margin">
                             <label class="control-label">{{ 'SALES_MENU' | translate }} </label>
                        </span>
                    <span class="pull-right badge span-right-margin">{{dashboardCtrl.getSaleAmount()}} </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-usd fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{dashboardCtrl.getProfit() | currency:'\u20AC'}}</div>
                        <div>{{ 'COMMON_SALE_PROFIT' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer statisticDiv">
                <div class="row">
                        <span class="pull-left span-left-margin">
                             <label class="control-label">{{ 'COMMON_SALE_RETURN' | translate }} </label>
                        </span>
                    <span class="pull-right badge span-right-margin">{{dashboardCtrl.getTurnover() | currency:'\u20AC'}} </span>
                </div>
                <div class="row">
                        <span class="pull-left span-left-margin">
                             <label class="control-label">{{ 'COMMON_SALE_PROFIT' | translate }} </label>
                        </span>
                    <span class="pull-right badge span-right-margin">{{dashboardCtrl.getProfit() | currency:'\u20AC'}} </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-area-chart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{dashboardCtrl.getConversionrate() | number:2}}%</div>
                        <div>{{ 'COMMON_CONVERSIONRATE' | translate }} &nbsp;&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer statisticDiv">
                <div class="row">
                        <span class="pull-left span-left-margin">
                             <label class="control-label">{{ 'COMMON_CONVERSIONRATE' | translate }} </label>
                        </span>
                    <span class="pull-right badge span-right-margin">{{dashboardCtrl.getConversionrate() | number:2}}%</span>
                </div>
            </div>
        </div>
    </div>
</div>