<style>
	.not-sortable {
		opacity: 0.75;
		cursor: default !important;
	}
	
	.dragColumn {
		float: left;
		padding-left: 4px;
		padding-right: 4px;
		width: calc((100% /5));
		min-width: 211px;
	}
	
	.box {
		background-color: white;
		padding-left: 4px;
		padding-right: 4px;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
	
	.dragItem {
		height: 80px !important;
		margin-top: -7px !important;
	}
	
	#deleteDropzone {
		position: absolute;
		display: block;
		opacity: 0.2;
		background: -webkit-linear-gradient(orange, white);
		/* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(orange, white);
		/* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(orange, white);
		/* For Firefox 3.6 to 15 */
		background: linear-gradient(orange, white);
		/* Standard syntax (must be last) */
		width: calc((100% - 30px));
		height: 80px;
		z-index: 100;
	}
	
	#trashSymbol {
		position: absolute;
		opacity: 0.3;
		z-index: 100;
		width: calc((100% - 30px));
		text-align: center;
		margin-top: 10px;
	}
</style>

<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div id="deleteDropzone" ng-style="{'visibility':dashboardCtrl.dashboardService.delementDropzoneVisibility}" class="connectList"
				ui-sortable="dashboardCtrl.sortableOptions" ng-model="dashboardCtrl.dashboardService.elementToDelete"> </div>
			<div id="trashSymbol" ng-style="{'visibility':dashboardCtrl.dashboardService.delementDropzoneVisibility}"><i class="fa fa-lock fa-3x"></i><span style="font-size: 18px;"><br>&nbsp;{{ 'COMMON_CLOSE' | translate }}</span></div>
			<div class="ibox-content test">
				<div style="margin-left:-5px;margin-right:-5px">
					<div class="row" style="overflow-x:auto">
						<div class="checkbox">
							<span class="pull-left" style="padding-left:15px;">
								<button type="button" class="btn btn-success" ng-click="dashboardCtrl.openNewLeadModal()">
									<i class="fa fa-plus"></i>
								</button>
							</span>
							<span class="pull-right" style="padding-right:15px;"><input  type="text" placeholder="{{ 'COMMON_SEARCH' | translate }}" class="input-sm form-control" ng-model="dashboardCtrl.cardSearchText" ng-model-options="{debounce: 600}"></span>
							<span class="pull-right" style="padding-right:15px;"><label><input type="checkbox" ng-click= "dashboardCtrl.dashboardService.filterMytasks(dashboardCtrl.showMyTasks); dashboardCtrl.cardSearchText = ''" ng-model="dashboardCtrl.showMyTasks">{{ 'SHOW_MY_TASKS' | translate }}</label>  </span>
							<span class="pull-right" style="padding-right:15px;"><label><span  style="cursor: pointer;" ng-click= "dashboardCtrl.switchDirection()"><i ng-class="{'fa fa-sort-amount-asc':dashboardCtrl.dashboardService.direction==='ASC', 'fa fa-sort-amount-desc':dashboardCtrl.dashboardService.direction==='DESC'}" aria-hidden="true"></i> {{ dashboardCtrl.dashboardService.direction | translate }}</span></label></span>
						</div>
						<div class="col-xs-12" style="min-width:1100px; overflow: hidden; padding-bottom: 5px;">
							<br>
							<div class="dragColumn">
								<div class="box">
									<div>
										<br/>
										<h3 style="text-align: center;">{{ 'DASHBOARD_OPEN_LEADS' | translate }} <br/>
											<br/> {{dashboardCtrl.dashboardService.openLeadsValue| currency:'\u20AC'}}
										</h3>
									</div>
									<div ng-style="{'height':dashboardCtrl.getHeight()+'px','border':dashboardCtrl.dashboardService.dropzoneClass.lead}">
										<ul ng-show="dashboardCtrl.dashboardService.allDataLoad==true" ui-sortable="dashboardCtrl.sortableOptions" class="sortable-list connectList agile-list" style="height: 100%;" id="lead" ng-model="dashboardCtrl.dashboardService.openLeads">
											<li class="dragItem" ng-class="::dashboardCtrl.getClassToDrag(process, 'danger')" ng-repeat="process in dashboardCtrl.getOpenLeads() | limitTo:7">
												<dashboardmanagamentcard process="process" workflowunittype="lead" />
											</li>
										</ul>
										<div style = "text-align: center;" ng-if="dashboardCtrl.dashboardService.allDataLoad==false">
											<br>
											<i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="dragColumn">
								<div class="box">
									<div>
										<br/>
										<h3 style="text-align: center;">{{ 'COMMON_STATUS_INCONTACT' | translate }} <br/>
											<br/> {{dashboardCtrl.dashboardService.inContactsValue| currency:'\u20AC'}}
										</h3>
									</div>
									<div id="contactDropzone" ng-style="{'height':dashboardCtrl.getHeight()+'px','border':dashboardCtrl.dashboardService.dropzoneClass.contact}">
										<ul ng-show="dashboardCtrl.dashboardService.allDataLoad==true" ui-sortable="dashboardCtrl.sortableOptions" class="sortable-list connectList agile-list" style="height: 100%;" id="lead" ng-model="dashboardCtrl.dashboardService.inContacts">
											<li class="dragItem" ng-class="::dashboardCtrl.getClassToDrag(process, 'danger')" ng-repeat="process in dashboardCtrl.getInContacts()| limitTo:7">
												<dashboardmanagamentcard process="process" workflowunittype="lead" />
											</li>
										</ul>
										<div style = "text-align: center;" ng-if="dashboardCtrl.dashboardService.allDataLoad==false">
											<br>
											<i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
										</div>
									</div>
								</div>
							</div>

							<div class="dragColumn ">
								<div class="box">
									<div>
										<br/>
										<h3 style="text-align: center;">{{ 'DASHBOARD_OPEN_OFFERS' | translate }} <br/>
											<br/> {{dashboardCtrl.dashboardService.openOffersValue| currency:'\u20AC'}}
										</h3>
									</div>
									<div ng-style="{'height':dashboardCtrl.getHeight()+'px','border':dashboardCtrl.dashboardService.dropzoneClass.offer}">
										<ul ng-show="dashboardCtrl.dashboardService.allDataLoad==true" ui-sortable="dashboardCtrl.sortableOptions" class="sortable-list connectList agile-list" style="height: 100%;" id="offer" ng-model="dashboardCtrl.dashboardService.openOffers">
											<li class="dragItem" ng-class="::dashboardCtrl.getClassToDrag(process, 'warning')" ng-repeat="process in dashboardCtrl.getOpenOffers() | limitTo:7">
												<dashboardmanagamentcard process="process" workflowunittype="offer" />
											</li>
										</ul>
										<div style = "text-align: center;" ng-if="dashboardCtrl.dashboardService.allDataLoad==false">
											<br>
											<i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="dragColumn ">
								<div class="box">
									<div>
										<br/>
										<h3 style="text-align: center;">{{ 'DASHBOARD_DONE_OFFERS' | translate }} <br/>
											<br/> {{dashboardCtrl.dashboardService.doneOffersValue| currency:'\u20AC'}}</h3>
									</div>
									<div ng-style="{'height':dashboardCtrl.getHeight()+'px','border':dashboardCtrl.dashboardService.dropzoneClass.done}">
										<ul ng-show="dashboardCtrl.dashboardService.allDataLoad==true" ui-sortable="dashboardCtrl.sortableOptions" class="sortable-list connectList agile-list" style="height: 100%;" id="done" ng-model="dashboardCtrl.dashboardService.doneOffers">
											<li class="dragItem" ng-class="::dashboardCtrl.getClassToDrag(process, 'warning')" ng-repeat="process in dashboardCtrl.getDoneOffers() | limitTo:7">
												<dashboardmanagamentcard process="process" workflowunittype="offer" />
											</li>
										</ul>
										<div style = "text-align: center;" ng-if="dashboardCtrl.dashboardService.allDataLoad==false">
											<br>
											<i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="dragColumn">
								<div class="box">
									<div>
										<br/>
										<h3 style="text-align: center;">{{ 'DASHBOARD_LATEST_SALES' | translate }} <br/>
											<br/> {{dashboardCtrl.dashboardService.closedSalesValue| currency:'\u20AC'}}</h3>
									</div>
									<div ng-style="{'height':dashboardCtrl.getHeight()+'px','border':dashboardCtrl.dashboardService.dropzoneClass.sale}">
										<ul ng-show="dashboardCtrl.dashboardService.allDataLoad==true" ui-sortable="dashboardCtrl.sortableOptions" class="sortable-list connectList agile-list" style="height: 100%;" id="sale" ng-model="dashboardCtrl.dashboardService.closedSales">
											<li class="info-element not-sortable draggable dragItem" ng-repeat="process in dashboardCtrl.getClosedSales() | limitTo:7">
												<dashboardmanagamentcard process="process" workflowunittype="sale" disabled />
											</li>
										</ul>
										<div style = "text-align: center;" ng-if="dashboardCtrl.dashboardService.allDataLoad==false">
											<br>
											<i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br/>
<!--Page level script-->
<script>
    $(function () {
        $(".draggable").draggable();
    });
</script>