<style>
    .not-sortable {
        opacity: 0.75;
        cursor: default !important;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ 'DASHBOARD_MANAGE_LEADS' | translate }}</h5>
            </div>
            <div class="ibox-content">
                <div class="row" style="margin: 0px; margin-bottom: 10px;">
                    <span class="pull-left small"><i class="fa fa-hand-o-up"></i> {{ 'DASHBOARD_DRAG_INFO' | translate }}</span>
                    <span class="pull-right">  <button ng-click="dashboardCtrl.refreshData()" type="button"
                                                       class="btn btn-success">
                        <i class="fa fa-refresh"></i>&nbsp;{{ 'DASHBOARD_REFRESH' | translate }}
                    </button></span>
                </div>
                <div class="row">
                    <div style="min-width:360px" class="col-lg-4">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>{{ 'DASHBOARD_OPEN_LEADS' | translate }} {{dashboardCtrl.dashboardService.openLeadsValue|
                                    currency:'\u20AC'}}
                                </h3>
                                <ul ui-sortable="dashboardCtrl.sortableOptions" class="sortable-list connectList agile-list" id="lead" ng-model="dashboardCtrl.dashboardService.openLeads">
                                    <li style="min-width:290px" class="danger-element draggable" ng-repeat="process in dashboardCtrl.getOpenLeads() | limitTo:10">
                                        <div style="max-width:50%;max-height:22px;min-height:22px">
                                            {{process.lead.customer.company}}

                                        </div>
                                        <div style="margin-top:-20px">
                                            <span ng-if="process.processor!=null" class="pull-right">
                                            <img title="{{process.processor.firstname+' '+process.processor.lastname}}" style="width: 45px; height:45px;border-radius: 10%;" ng-src="data:image/jpeg;base64,{{process.processor.picture.content}}" alt="">
                                        </span>
                                            <a style="min-width:50px;margin-right:5px" ng-click="dashboardCtrl.saveDataToModal(process.lead,'lead',process)" class="pull-right btn btn-xs btn-white"
                                                data-toggle="modal" data-target="#infoModal">{{ 'DASHBOARD_INFO_BUTTON' |  translate }}</a>&nbsp;&nbsp;&nbsp;
                                            <div class="agile-detail">
                                                <a style="min-width:50px;margin-right:-50px" href="#/leads" class="pull-right btn btn-xs btn-white">{{
                                                'DASHBOARD_GOTO_BUTTON' | translate }}</a>
                                            </div>
                                            <i style="margin-top:12px" class="fa fa-clock-o"></i> {{process.lead.timestamp}}
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                        <div style="min-width:360px" class="col-lg-4">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h3>{{ 'DASHBOARD_OPEN_OFFERS' | translate }} {{dashboardCtrl.dashboardService.openOffersValue|
                                        currency:'\u20AC'}}
                                    </h3>
                                    <ul ui-sortable="dashboardCtrl.sortableOptions" class="sortable-list connectList agile-list" id="offer" ng-model="dashboardCtrl.dashboardService.openOffers">
                                          <li style="min-width:290px" class="danger-element draggable" ng-repeat="process in dashboardCtrl.getOpenOffers() | limitTo:10">
                                        <div style="max-width:50%;max-height:22px;min-height:22px">
                                            {{process.offer.customer.company}}

                                        </div>
                                        <div style="margin-top:-20px">
                                            <span ng-if="process.processor!=null" class="pull-right">
                                            <img title="{{process.processor.firstname+' '+process.processor.lastname}}" style="width: 45px; height:45px;border-radius: 10%;" ng-src="data:image/jpeg;base64,{{process.processor.picture.content}}" alt="">
                                        </span>
                                            <a style="min-width:50px;margin-right:5px" ng-click="dashboardCtrl.saveDataToModal(process.offer,'offer',process)" class="pull-right btn btn-xs btn-white"
                                                data-toggle="modal" data-target="#infoModal">{{ 'DASHBOARD_INFO_BUTTON' |  translate }}</a>&nbsp;&nbsp;&nbsp;
                                            <div class="agile-detail">
                                                <a style="min-width:50px;margin-right:-50px" href="#/offers" class="pull-right btn btn-xs btn-white">{{
                                                'DASHBOARD_GOTO_BUTTON' | translate }}</a>
                                            </div>
                                            <i style="margin-top:12px" class="fa fa-clock-o"></i> {{process.offer.timestamp}}
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div style="min-width:360px" class="col-lg-4">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h3>{{ 'DASHBOARD_LATEST_SALES' | translate }} {{dashboardCtrl.dashboardService.closedSalesValue|
                                        currency:'\u20AC'}}
                                    </h3>
                                    <ul ui-sortable="dashboardCtrl.sortableOptions" class="sortable-list connectList agile-list" id="sale" ng-model="dashboardCtrl.dashboardService.closedSales">
                                       <li style="min-width:290px" class="danger-element draggable" ng-repeat="process in dashboardCtrl.getClosedSales() | limitTo:10">
                                        <div style="max-width:50%;max-height:22px;min-height:22px">
                                            {{process.sale.customer.company}}

                                        </div>
                                        <div style="margin-top:-20px">
                                            <span ng-if="process.processor!=null" class="pull-right">
                                            <img title="{{process.processor.firstname+' '+process.processor.lastname}}" style="width: 45px; height:45px;border-radius: 10%;" ng-src="data:image/jpeg;base64,{{process.processor.picture.content}}" alt="">
                                        </span>
                                            <a style="min-width:50px;margin-right:5px" ng-click="dashboardCtrl.saveDataToModal(process.sale,'sale',process)" class="pull-right btn btn-xs btn-white"
                                                data-toggle="modal" data-target="#infoModal">{{ 'DASHBOARD_INFO_BUTTON' |  translate }}</a>&nbsp;&nbsp;&nbsp;
                                            <div class="agile-detail">
                                                <a style="min-width:50px;margin-right:-50px" href="#/sales" class="pull-right btn btn-xs btn-white">{{
                                                'DASHBOARD_GOTO_BUTTON' | translate }}</a>
                                            </div>
                                            <i style="margin-top:12px" class="fa fa-clock-o"></i> {{process.lead.timestamp}}
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Page level script-->
    <script>
    $(function () {
        $(".draggable").draggable();
    });
</script>