<style>
	.chat-view {
		word-break: break-all;
	}
	.customerdetails div{
			min-height: 80px;
			font-size: 1.1em;
	}

	.customerdetails span{
		white-space: nowrap;
		text-overflow: ellipsis;
		display: block;
		overflow: hidden
	}
	 .ellipsis{
		white-space: nowrap;
		text-overflow: ellipsis; 
		display: block;
		overflow: hidden;
	}
</style>

<div class="modal inmodal fade" id="infoModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-lg modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">{{ 'COMMON_DETAILS' | translate }}</h4>
				<h2>{{dashboardCtrl.workflowModalData.container.name}}</h2>
			</div>
			<div class="modal-body content-height">
				<div class="ibox">
					<div class="ibox-content">
						<div class="row customerdetails">
							<div class="col-md-3 b-r">
								<div>
									<label><i class="fa fa-address-book-o" aria-hidden="true "></i> {{ 'COMMON_NAME' | translate }}</label>
									<span>{{dashboardCtrl.workflowModalData.customer.firstname}} {{dashboardCtrl.workflowModalData.customer.lastname}}</span>
								</div>
							</div>
							<div class="col-md-3 b-r ">
								<div>
									<label><i class="fa fa-building-o " aria-hidden="true "></i> {{ 'COMMON_COMPANY' | translate }}</label>
									<span>{{dashboardCtrl.workflowModalData.customer.company}}</span>
								</div>
							</div>
							<div class="col-md-3 b-r ">
								<div>
									<label><i class="fa fa-at " aria-hidden="true "></i> {{ 'COMMON_EMAIL' | translate }}</label>
									<span class="elipsis" title="{{dashboardCtrl.workflowModalData.customer.email}}">{{dashboardCtrl.workflowModalData.customer.email}}</span>
								</div>
							</div>
							<div class="col-md-3 b-r ">
								<div>
									<label><i class="fa fa-phone " aria-hidden="true "></i> {{ 'COMMON_PHONE' | translate }}</label>
									<span>{{dashboardCtrl.workflowModalData.customer.phone}}</span>
								</div>
							</div>
						</div>
						<div class="row customerdetails">
							<div class="col-md-3 b-r ">
								<div>
									<label><i class="fa fa-truck " aria-hidden="true "></i> {{ 'COMMON_PRODUCT_DESTINATION' | translate }}</label>
									<span class="elipsis" title="{{dashboardCtrl.workflowModalData.deliveryAddressLine}}">{{dashboardCtrl.workflowModalData.deliveryAddressLine}}</span>
								</div>
							</div>
							<div class="col-md-3 b-r ">
								<div>
									<label><i class="fa fa-truck " aria-hidden="true "></i> {{ 'COMMON_DELIVERY_TIME' | translate }}</label>
									<span>{{dashboardCtrl.workflowModalData.deliveryDate | date:'dd-MM-yyyy'}}</span>
								</div>
							</div>		
							<div class="col-sm-3 b-r " ng-if="dashboardCtrl.workflowModalType=='offer' || dashboardCtrl.workflowModalType=='sale'">
							<div>
								<label title="{{ 'COMMON_SUPPLY_DELIVERY_TERM' | translate }}"><i class="fa fa-truck " aria-hidden="true "></i>  {{ 'COMMON_SUPPLY_DELIVERY_TERM' | translate }}</label>
								<span class="elipsis" title="{{dashboardCtrl.workflowModalData.deliveryTerm}}">{{dashboardCtrl.workflowModalData.deliveryTerm}}</span>
							</div>
							</div>
							<div class="col-sm-3 b-r " ng-if="dashboardCtrl.workflowModalType=='offer' || dashboardCtrl.workflowModalType=='sale'">
								<div>
									<label title="{{ 'COMMON_SUPPLY_PAYMENT_TERM' | translate }}"><i class="fa fa-usd " aria-hidden="true "></i>  {{ 'COMMON_SUPPLY_PAYMENT_TERM' | translate }}</label>
									<span class="elipsis" title="{{dashboardCtrl.workflowModalData.paymentTerm}}">{{dashboardCtrl.workflowModalData.paymentTerm}}</span>
								</div>
							</div>	
							<div class="col-md-3 b-r ">
								<div>
									<label><i class="fa fa-usd " aria-hidden="true "></i> {{ 'COMMON_PRODUCT_DELIVERYCOSTS' | translate }}</label>
									<span>{{dashboardCtrl.workflowModalData.deliveryCosts | currency:'\u20AC'}}</span>
								</div>
							</div>	
							<div class="col-md-3 b-r " ng-if="dashboardCtrl.workflowModalType == 'lead'">
								<div>
									<label><i class="fa fa-usd " aria-hidden="true "></i> {{ 'COMMON_PRODUCT_ENTIRE_PRICE' | translate }}</label>
									<span>{{dashboardCtrl.workflowService.sumOrderPositions(dashboardCtrl.workflowModalData.orderPositions)| currency:'\u20AC'}}</span>
								</div>
							</div>
							<div class="col-md-3 b-r " ng-if="dashboardCtrl.workflowModalType == 'lead'">
								<div>
									<label title="{{ 'COMMON_PRODUCT_ENTIRE_PRICE' | translate }} {{ 'COMMON_PRODUCT_INCL_DELIVERY_COSTS' | translate }}" class="ellipsis"><i class="fa fa-usd " aria-hidden="true "></i> {{ 'COMMON_PRODUCT_ENTIRE_PRICE' | translate }} {{ 'COMMON_PRODUCT_INCL_DELIVERY_COSTS' | translate }}</label>
									<span>{{dashboardCtrl.workflowService.sumOrderPositions(dashboardCtrl.workflowModalData.orderPositions) + dashboardCtrl.workflowModalData.deliveryCosts | currency:'\u20AC'}}</span>
								</div>
							</div>
							<div class="col-md-3 b-r " ng-if="dashboardCtrl.workflowModalType == 'offer'">
								<div>
									<label><i class="fa fa-usd " aria-hidden="true "></i> {{ 'COMMON_PRODUCT_OFFER_PRICE' | translate }}</label>
									<span>{{dashboardCtrl.workflowModalData.netPrice| currency:'\u20AC'}}</span>
								</div>
							</div>	
							<div class="col-sm-3 b-r " ng-if="dashboardCtrl.workflowModalType=='offer'">
							<div>
								<label title="{{ 'COMMON_PRODUCT_OFFER_PRICE' | translate }} {{ 'COMMON_PRODUCT_INCL_DELIVERY_COSTS' | translate }}" class="ellipsis"><i class="fa fa-usd " aria-hidden="true "></i> {{ 'COMMON_PRODUCT_OFFER_PRICE' | translate }} {{ 'COMMON_PRODUCT_INCL_DELIVERY_COSTS' | translate }}</label>
								<span>{{dashboardCtrl.workflowModalData.netPrice + dashboardCtrl.workflowModalData.deliveryCosts | currency:'\u20AC'}}</span>
							</div>
							</div>
							<div class="col-sm-3 b-r " ng-if="dashboardCtrl.workflowModalType=='offer'">
								<div>
									<label><i class="fa fa-usd " aria-hidden="true "></i>  {{ 'PRODUCT_GROSS_PRICE' | translate }}</label>
									<span>{{(dashboardCtrl.workflowModalData.netPrice+ dashboardCtrl.workflowModalData.deliveryCosts)*(1+(dashboardCtrl.workflowModalData.vat/100))|currency:'\u20AC'}} ({{dashboardCtrl.workflowModalData.vat}}% {{ 'COMMON_PRODUCT_VAT' | translate }})</span>
								</div>
							</div>
							<div class="col-sm-3 b-r " ng-if="dashboardCtrl.workflowModalType=='offer' && dashboardCtrl.workflowModalData.skonto>0">
								<div>
									<label title="{{ 'PRODUCT_GROSS_PRICE_SKONTO' | translate }}"><i class="fa fa-usd " aria-hidden="true "></i> {{ 'PRODUCT_GROSS_PRICE_SKONTO' | translate }}</label>
									<span>{{(((dashboardCtrl.workflowModalData.netPrice+ dashboardCtrl.workflowModalData.deliveryCosts)*(1+(dashboardCtrl.workflowModalData.vat/100)))-((dashboardCtrl.workflowModalData.netPrice+ dashboardCtrl.workflowModalData.deliveryCosts)*(1+(dashboardCtrl.workflowModalData.vat/100))*(dashboardCtrl.workflowModalData.skonto/100)))|currency:'\u20AC'}} ({{dashboardCtrl.workflowModalData.skonto}}%)</span>
								</div>
							</div>
							<div class="col-md-3 b-r " ng-if="dashboardCtrl.workflowModalType == 'sale'">
								<div>
									<label><i class="fa fa-usd " aria-hidden="true "></i> {{ 'COMMON_PRODUCT_SALE_TURNOVER' | translate }}</label>
									<span>{{dashboardCtrl.workflowModalData.saleTurnover| currency:'\u20AC'}}</span>
								</div>
							</div>
							<div class="col-md-3 b-r " ng-if="dashboardCtrl.workflowModalType == 'sale'">
								<div>
									<label><i class="fa fa-usd " aria-hidden="true "></i> {{ 'COMMON_PRODUCT_SALE_PROFIT' | translate }}</label>
									<span>{{dashboardCtrl.workflowModalData.saleProfit| currency:'\u20AC'}}</span>
								</div>
							</div>
							<div class="col-md-3 b-r ">
								<div>
									<label title="{{ 'COMMON_BILLING_ADDRESS' | translate }}"><i class="fa fa-university " aria-hidden="true "></i> {{ 'COMMON_BILLING_ADDRESS' | translate }}</label>
									<span title="{{dashboardCtrl.workflowService.customerService.getAddressLine(dashboardCtrl.workflowModalData.billingAddress)}}">{{dashboardCtrl.workflowService.customerService.getAddressLine(dashboardCtrl.workflowModalData.billingAddress)}}</span>
								</div>
							</div>
							<div class="col-md-3 b-r " ng-if="dashboardCtrl.workflowModalType == 'sale'">
								<div>
									<label><i class="fa fa-university " aria-hidden="true "></i> {{ 'COMMON_PRODUCT_SALE_INVOICE_NUMBER_SHORT' | translate }}</label>
									<span>{{dashboardCtrl.workflowModalData.invoiceNumber}}</span>
								</div>
							</div>
							<div class="col-md-3 b-r ">
								<div>
									<label><i class="fa fa-rss " aria-hidden="true "></i> {{ 'SOURCE_SOURCE' | translate }}</label>
									<span>{{dashboardCtrl.workflowModalProcess.source.name}}</span>
								</div>
							</div>
							<div class="col-md-3 b-r " ng-if="dashboardCtrl.workflowModalProcess.processor != null">
								<div>
									<label><i class="fa fa-user " aria-hidden="true "></i> {{ 'COMMON_PROCESSOR' | translate }}</label>
									<span>{{dashboardCtrl.getNameOfUser(dashboardCtrl.workflowModalProcess.processor)}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>	
				<div class ="row">
					<div class="col-md-6" ng-if="dashboardCtrl.workflowModalData.message.length>0"> 								
						<div class="ibox">
							<div class="ibox-content">
								<label style="font-size: 1.2em"><i class="fa fa-envelope" aria-hidden="true "></i> {{ 'COMMON_NOTE' | translate }}</label>
								<div style="margin-left:20px" ng-bind-html="dashboardCtrl.getAsHtml(dashboardCtrl.workflowModalData.message)"></div>
							</div>
						</div>
					</div>
					<div class="col-md-6" ng-if="dashboardCtrl.workflowModalData.orderPositions.length > 0"> 								
						<div class="ibox" >
							<div class="ibox-content">
								<label style="font-size: 1.2em"><i class="fa fa-table" aria-hidden="true "></i> {{ 'PRODUCT_MENU' | translate }}</label>
								<table class="table table-bordered text-left" style="table-layout: fixed">
									<tbody>
										<tr ng-repeat="orderPosition in dashboardCtrl.workflowModalData.orderPositions">
											<td style="white-space: nowrap; width: 100%"><span class="ellipsis" title="{{orderPosition.amount}}x {{orderPosition.product.name}} ({{orderPosition.product.netPrice*orderPosition.amount| currency:'\u20AC'}})">
												{{orderPosition.amount}}x {{orderPosition.product.name}} ({{orderPosition.product.netPrice*orderPosition.amount| currency:'\u20AC'}})</span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
					<div class="ibox">
						<div class="ibox-content">
							<div class="text-left" style="white-space: nowrap">
								<label style="font-size: 1.2em">
								<span ng-click="showComments=showComments!==true?true:false" class="pull-left" style="cursor:pointer">
								<i class="fa fa-comments" aria-hidden="true "></i> {{ 'COMMON_COMMENTS' | translate }}
								<i ng-if="showComments===true" class="fa fa-caret-up" aria-hidden="true"></i>
								<i ng-if="showComments!==true" class="fa fa-caret-down" aria-hidden="true"></i>
								</span>
								</label>
								<span ng-if="dashboardCtrl.workflowModalProcess.comments.length>0" class="label label-danger" style="margin-top: 4px;margin-left: 4px; position: absolute">{{dashboardCtrl.workflowModalProcess.comments.length}}</span>
								<small ng-if="dashboardCtrl.workflowModalProcess.comments.length>0" class="pull-right text-muted">
													{{ 'COMMON_COMMENTS_LAST' | translate }}:
													{{dashboardCtrl.toLocalDate(dashboardCtrl.workflowModalProcess.comments[dashboardCtrl.workflowModalProcess.comments.length-1].timestamp)}}
												</small>
							</div>
							<div ng-if="showComments===true" class="animate-if">
							<div class="chat-view">
								<div class=" text-left">
									<div ng-if="dashboardCtrl.workflowModalProcess.comments.length>0" class="row">
										<div class="col-md-12 ">
											<div style="max-height:250px" class="chat-discussion" ng-model="dashboardCtrl.workflowModalProcess.comments">
												<div ng-repeat="comment in dashboardCtrl.workflowModalProcess.comments | orderBy: '-timestamp'">
													<div ng-if="$index%2==0" class="chat-message left">
														<img class="message-avatar" pictureid="{{comment.creator.thumbnail.id}}" httpsrc="/api/rest/files/content/" alt="">
															<div class="message">
																<a ng-if="comment.creator.firstname==null&&comment.creator.lastname==null" class="message-author" style="cursor:default" href="#" onclick="return false;"> {{comment.creator.username}} </a>
																<a ng-if="!(comment.creator.firstname==null&&comment.creator.lastname==null)" class="message-author" style="cursor:default" href="#" onclick="return false;"> {{comment.creator.firstname}} {{comment.creator.lastname}} </a>
																<span class="message-date"> {{dashboardCtrl.toLocalDate(comment.timestamp)}} </span>
																<span class="message-content">
																		{{comment.commentText}}
																	</span>
															</div>
													</div>
													<div ng-if="$index%2!=0" class="chat-message right">
														<img class="message-avatar" pictureid="{{comment.creator.thumbnail.id}}" httpsrc="/api/rest/files/content/" alt="">
														<div class="message">
																<a ng-if="comment.creator.firstname==null&&comment.creator.lastname==null" class="message-author" style="cursor:default" href="#" onclick="return false;"> {{comment.creator.username}} </a>
															<a ng-if="!(comment.creator.firstname==null&&comment.creator.lastname==null)" class="message-author" style="cursor:default" href="#" onclick="return false;"> {{comment.creator.firstname}} {{comment.creator.lastname}} </a>
															<span class="message-date"> {{dashboardCtrl.toLocalDate(comment.timestamp )}} </span>
															<span class="message-content">
																											{{comment.commentText}}
																									</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
												<div class="col-lg-12">
													<form name="commentform">
														<div class="chat-message-form" style="width:100%">
											<div class="form-group" style="width:100%" ng-class="{ 'has-error' : commentform.message.$error.maxlength && !commentform.message.$pristine }">
											<textarea class="form-control message-input" ng-model="dashboardCtrl.commentModalInput" required ng-maxlength="5000" style="resize: none; width:100%;box-sizing: border-box;" name="message" placeholder="{{ 'COMMON_COMMENTS_ENTER' | translate }}" />
											<p ng-show="commentform.message.$error.maxlength && !commentform.message.$pristine" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}5000{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
											</div>
											<button style="width:200px; margin-top: 10px;" class="btn btn-success" ng-disabled="commentform.message.$invalid" ng-click="dashboardCtrl.addComment(dashboardCtrl.workflowModalProcess)">
											<i class="fa fa-comment-o"></i>&nbsp;{{ 'COMMON_COMMENTS_ADD' | translate }}
											</button>
											</div>
											</form>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">{{ 'COMMON_CANCEL' | translate }}</button>
			</div>
		</div>
	</div>
</div>
	