<td class="project-status" style="cursor: pointer; width:100px" ng-click="::goToWorkflow()">
    <span class="{{::badgeClass}}">{{ ::statusTranslation | translate }}</span>
</td>
<td align="left" class="project-title" style="cursor: pointer;" ng-click="::goToWorkflow()">
    <a >{{::text}}</a>
    <br>
    <small>{{'COMMON_CREATED' | translate }} {{::toLocalDate(editWorkflowUnit.timestamp)}}</small>   
</td>
<td class="project-completion" style="cursor: pointer;" ng-click="::goToWorkflow()">
    {{::firstname}} {{::lastname}}
</td>
<td class="project-completion" style="cursor: pointer;" ng-click="::goToWorkflow()">
    {{::deliveryAddress}}
</td>

<td class="project-completion" style="cursor: pointer; width:200px" ng-click="::goToWorkflow()">
    <strong >{{::price| currency:'\u20AC'}}</strong>
</td>