<style>
	.tooltip.fade.bottom.in {
		z-index: 999;
	}
</style>
<div ng-if="settingCtrl.currentTab=='api'">
	<div class="ibox float-e-margins">
		<a>
			<div class="ibox-title">
				<h5>{{ 'SETTING_API' | translate }}</h5>
			</div>
		</a>
		<div class="ibox-content" id="templates" style="overflow-x: auto">
			<button type="button" class="btn btn-success btn-primary" ng-click="settingCtrl.showApi(0)">
				<i class="fa fa-plus"></i>&nbsp; {{ 'SETTING_API_NEW_API' | translate }}
			</button>
			<br/>
			<br/>
			<div class="project-list">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th class="text-center">{{ 'SETTING_API_SYSTEM' | translate }}</th>
							<th class="text-center">{{ 'SETTING_API_TENANT' | translate }}</th>
							<th class="text-center"><i class="fa fa-cog"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="api in settingCtrl.apiService.apis|orderBy:'name'">
							<td ng-click="settingCtrl.showApi(api.id)" style="cursor: pointer" class="project-status col-md-1 text-center">
								<span ng-show="!api.isActive" class="label label-primary">{{ 'COMMON_ACTIVATED' | translate }}</span>
								<span ng-show="api.isActive" class="label label-default">{{ 'COMMON_DEACTIVATED' | translate }}</span>
							</td>
							<td ng-click="settingCtrl.showApi(api.id)" style="cursor: pointer" class="project-title col-md-2 text-center">
								{{api.apiVendor}}
							</td>
							<td ng-click="settingCtrl.showApi(api.id)" style="cursor: pointer" class="project-title col-md-2 text-center">
								{{api.tenant}}
							</td>
							<td class="project-actions col-md-1 text-center" style="white-space: nowrap;text-align:center;">
								<button type="button" class="btn btn-white btn-sm" ng-click="settingCtrl.openApiDeleteModal(api)" title="{{ 'SETTING_API_DELETE' | translate }}">
									<i class="fa fa-trash" aria-hidden="true"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>