<meta charset="utf-8">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10">
                <h2>{{ 'SETTINGS_MENU' | translate }}</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#/dashboard">Home</a>
                    </li>
                    <li class="active">
                        <strong>{{ 'SETTINGS_MENU' | translate }}</strong>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <ul class="nav nav-tabs">
        <li class="active" ng-click="settingCtrl.tabOnClick(1)"><a data-toggle="tab" aria-expanded="true">{{
				'SETTING_USER' | translate }}</a></li>
        <li ng-click="settingCtrl.tabOnClick(2)"><a data-toggle="tab" aria-expanded="true">{{ 'SETTING_EMAIL' | translate
				}}</a></li>
    </ul>
    </br>
    <div ng-include="'components/Setting/view/UserSetting.html'"></div>
    <div ng-include="'components/Setting/view/EmailSetting.html'"></div>
</div>