<div class="modal inmodal fade" id="createSourceModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 ng-show="sourceCtrl.isCurrentSourceNew" class="modal-title">{{ 'SOURCE_CREATE' | translate }}</h4>
                <h4 ng-show="!sourceCtrl.isCurrentSourceNew" class="modal-title">{{ 'SOURCE_EDIT' | translate }}</h4>
            </div>
            <div class="modal-body">
                <form name="sourceCtrl.createSourceForm" novalidate>
                    <div class="row">
                        <!-- SOURCENAME -->
                        <div class="col-sm-12">
                            <div class="form-group" ng-class="{ 'has-error' : (sourceCtrl.createSourceForm.name.$invalid && !sourceCtrl.createSourceForm.name.$pristine) || sourceCtrl.nameExists}">
                                <label>{{ 'SOURCE_SOURCENAME' | translate }}<span style="color:red">*</span></label>
                                <span style="color:red" ng-show="sourceCtrl.nameExists">{{ 'SOURCE_NAME_EXISTS' | translate }}</span>
                                <span style="color:red" ng-show="sourceCtrl.createSourceForm.name.$error.maxlength">{{ 'COMMON_VALIDATE_MAX' | translate }}30{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
                                <span style="color:red" ng-show="sourceCtrl.createSourceForm.name.$error.required && !sourceCtrl.createSourceForm.name.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
                                <span style="color:red" ng-show="sourceCtrl.createSourceForm.name.$error.pattern">{{ 'COMMON_VALIDATE_ALPHANUMERIC' | translate }}</span>
                                <input type=" text " name="name " class="form-control " ng-model="sourceCtrl.currentSource.name" ng-maxlength="30" ng-keyup="sourceCtrl.checkSourceName()"
                                    ng-pattern="/^[a-zA-Z0-9]*$/" required>
                            </div>
                            <!--DESCRIPTION -->
                            <div class="form-group" ng-class="{ 'has-error' : sourceCtrl.createSourceForm.description.$invalid && !sourceCtrl.createSourceForm.description.$pristine }">
                                <label>{{ 'SOURCE_DESCRIPTION' | translate }}</label>
                                <span style="color:red" ng-show="sourceCtrl.createSourceForm.description.$error.maxlength">{{ 'COMMON_VALIDATE_MAX' | translate }}500{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
                                <textarea style="resize: none" rows="7" type="text " name="description " class="form-control " ng-model="sourceCtrl.currentSource.description"
                                    ng-maxlength="500"></textarea>
                            </div>
                            <!--DEACTIVATED -->
                            <!-- <div class="form-group" ng-show="!sourceCtrl.isCurrentSourceNew">
                            <label class="checkbox-inline"> <input type="checkbox"  ng-model="sourceCtrl.currentSource.deactivated" id="inlineCheckbox1">{{ 'COMMON_DEACTIVATE' | translate }}</label>
                        </div>
                        -->
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'COMMON_CANCEL' | translate }}</button>
                <button type="button" class="btn btn-success" ng-disabled="sourceCtrl.createSourceForm.$invalid || sourceCtrl.nameExists"
                    ng-click="sourceCtrl.saveSource()" data-dismiss="modal"><i class="fa fa-save "></i>&nbsp;{{ 'COMMON_SAVE' | translate }}</button>
            </div>
        </div>
    </div>
</div>