<div class="row animated fadeInRight">
	<div class="col-lg-6">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<span class="label label-success pull-right">{{ daterange | translate }}</span>
				<h1>{{ 'DETAIL_STATISTIC_USERSTATISTIC' | translate }} {{userobj.username}}</h1>
			</div>
			<div class="ibox-content" id="ibox-content">
				<highchart id="SingleProductColumnChart" config="chart.chartConfig"></highchart>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<span class="label label-success pull-right">{{ daterange | translate }}</span>
				<h5>{{ 'DETAIL_STATISTIC_REALISED_PROFIT' | translate }}</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">{{userStatistic.profit| currency:'\u20AC'}}</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<span class="label label-success pull-right">{{ daterange | translate }}</span>
				<h5>{{ 'DETAIL_STATISTIC_PROFIT_PER_LEAD' | translate }}</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins" ng-if="userStatistic.countLead>0">{{userStatistic.profit/userStatistic.countLead | currency:'\u20AC'}}</h1>
				<h1 class="no-margins" ng-if="userStatistic.countLead<=0">{{0 | currency:'\u20AC'}}</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<span class="label label-success pull-right">{{ daterange | translate }}</span>
				<h5>{{ 'DETAIL_STATISTIC_REALISED_TURNOVER' | translate }}</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">{{userStatistic.turnover| currency:'\u20AC'}}</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<span class="label label-success pull-right">{{ daterange | translate }}</span>
				<h5>{{ 'DETAIL_STATISTIC_TURNOVER_PER_LEAD' | translate }}</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins" ng-if="userStatistic.countLead>0">{{userStatistic.turnover/userStatistic.countLead | currency:'\u20AC'}}</h1>
				<h1 class="no-margins" ng-if="userStatistic.countLead<=0">{{0 | currency:'\u20AC'}}</h1>
			</div>
		</div>
	</div>
</div>
<div class="row animated fadeInRight">
	<div class="col-lg-6">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<span class="label label-success pull-right">{{ daterange | translate }}</span>
				<h5>{{ 'STATISTIC_CONVERSIONRATE' | translate }}</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins" ng-if="userStatistic.countLead>0">{{(userStatistic.countSale/userStatistic.countLead)*100 | number:2}}%</h1>
				<h1 class="no-margins" ng-if="userStatistic.countLead<=0">{{0 | number:2}}%</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<span class="label label-success pull-right">{{ daterange | translate }}</span>
				<h5>{{ 'STATISTIC_PRODUCT_SALES' | translate }}</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">{{userStatistic.countProduct}}</h1>
			</div>
		</div>
	</div>
</div>