<nav class="navbar-default navbar-static-side" role="navigation" style="position: fixed; height: 100%;">
		<div class="sidebar-collapse">
			<ul class="nav metismenu" id="side-menu">
				<li class="nav-header">
					<div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="assets/img/guest.png" />
                             </span>
						<a data-toggle="dropdown" class="dropdown-toggle">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Sven Jaschkewitz</strong>
                             </span> <span class="text-muted text-xs block">Chef Entwickler <b class="caret"></b></span> </span> </a>
						<ul class="dropdown-menu animated fadeInRight m-t-xs">
							<li><a href="profile.html">Profil</a></li>
							<li><a href="contacts.html">Contacts</a></li>
							<li><a href="mailbox.html">Mailbox</a></li>
							<li class="divider"></li>
							<li><a href="" ng-click="logout()">Logout</a></li>
						</ul>
					</div>
					<div class="logo-element">
						CB+
					</div>
				</li>
				<li>
					<a href="#/dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'DASHBOARD_MENU' | translate }}</span><span class="label label-warning pull-right">16/24</span></a>
				</li>
				<li>
					<a href="#/lead"><i class="fa fa-pie-chart"></i> <span class="nav-label">{{ 'LEADS_MENU' | translate }}</span>  </a>
				</li>
				<li>
					<a href="#/sales"><i class="fa fa-flask"></i> <span class="nav-label">{{ 'SALES_MENU' | translate }}</span></a>
				</li>
				<li>
					<a href="#/statistic"><i class="fa fa-diamond"></i> <span class="nav-label">{{ 'STATISTIC_MENU' | translate }}</span></a>
				</li>
				<li>
					<a href="#/settings"><i class="fa fa-flask"></i> <span class="nav-label">{{ 'SETTINGS_MENU' | translate }}</span></a>
				</li>
			</ul>
		</div>
	</nav>

	 <!-- <div ng-attr-id="{{ authenticated ? 'page-wrapper' : '' }}" id="page-wrapper" class="gray-bg dashbard-1"> -->
	 <div id="page-wrapper" class="gray-bg dashbard-1">
		<div class="row border-bottom">
			<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<a class="navbar-minimalize minimalize-styl-2 btn btn-success "><i class="fa fa-bars"></i> </a>
					<form role="search" class="navbar-form-custom" action="search_results.html">
						<div class="form-group">
							<input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
						</div>
					</form>
				</div>
				<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle count-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span>Sprache <b class="caret"></b></span>
						</a>
						<ul class="dropdown-menu animated fadeInRight m-t-xs ng-scope">
							<li>
								<a ng-click="changeLanguage('de')">
									<img alt="image" class="img-thumbnail" src="assets/img/flags/16/Germany.png">&nbsp;&nbsp;Deutsch (de)
								</a>
							</li>
							<li>
								<a ng-click="changeLanguage('en')">
									<img alt="image" class="img-thumbnail" src="assets/img/flags/16/United-States.png">&nbsp;&nbsp;English (en)
								</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle count-info" data-toggle="dropdown">
							<i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
						</a>
						<ul class="dropdown-menu dropdown-messages">
							<li>
								<div class="dropdown-messages-box">
									<a href="profile.html" class="pull-left">
										<img alt="image" class="img-circle" src="assets/img/guest.png">
									</a>
									<div class="media-body">
										<small class="pull-right">46h ago</small>
										Statische Nachricht von <strong>Andreas Foitzik</strong> <br>
										<small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="text-center link-block">
									<a href="mailbox.html">
										<i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
									</a>
								</div>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle count-info" data-toggle="dropdown">
							<i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
						</a>
						<ul class="dropdown-menu dropdown-alerts">
							<li>
								<a href="mailbox.html">
									<div>
										<i class="fa fa-envelope fa-fw"></i> You have 16 messages
										<span class="pull-right text-muted small">4 minutes ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="profile.html">
									<div>
										<i class="fa fa-twitter fa-fw"></i> 3 New Followers
										<span class="pull-right text-muted small">12 minutes ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="grid_options.html">
									<div>
										<i class="fa fa-upload fa-fw"></i> Server Rebooted
										<span class="pull-right text-muted small">4 minutes ago</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<div class="text-center link-block">
									<a href="notifications.html">
										<strong>See All Alerts</strong>
										<i class="fa fa-angle-right"></i>
									</a>
								</div>
							</li>
						</ul>
					</li>

					<li>
						<a ng-click="logout()">
							<i class="fa fa-sign-out"></i> Log out
						</a>
					</li>
				</ul>
			</nav>
			<div class="footer">
				<div class="pull-right">
					<strong>Copyright</strong> &copy; Get-Net
				</div>
			</div>
			<!--/footer -->
		</div>
		<!--/row border-bottom -->
		<div ng-view></div>
	</div>
	<!--/page-wrapper -->