<nav class="navbar-default navbar-static-side" role="navigation" style="position: fixed; height: 100%;">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="assets/img/guest.png"/>
                             </span>
                    <a data-toggle="dropdown" class="dropdown-toggle">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{globals.currentUser.username}}</strong>
                             </span> <span class="text-muted text-xs block">Elbtainer<b
                                    class="caret"></b></span> </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#/profile">Profil</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    CB+
                </div>
            </li>
            <li>
                <a href="#/dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'DASHBOARD_MENU' | translate }}</span></a>
            </li>
            <li>
                <a href="#/leads"><i class="fa fa-inbox"></i> <span
                        class="nav-label">{{ 'LEADS_MENU' | translate }}</span><span ng-if="leadsCount>0"
                                                                                     class="label label-danger pull-right">{{leadsCount}}</span></a>
            </li>
            <li>
                <a href="#/offers"><i class="fa fa-level-up"></i> <span
                        class="nav-label">{{ 'ORDERS_MENU' | translate }}</span><span ng-if="offersCount>0"
                                                                                      class="label label-warning pull-right">{{offersCount}}</span></a>
            </li>
            <li>
                <a href="#/sales"><i class="fa fa-usd"></i> <span
                        class="nav-label">{{ 'SALES_MENU' | translate }}</span></a>
            </li>
            <li>
                <a href="#/statistic"><i class="fa fa-line-chart"></i> <span class="nav-label">{{ 'STATISTIC_MENU' | translate }}</span></a>
            </li>
            <li>
                <a href="#/settings"><i class="fa fa-cogs"></i> <span class="nav-label">{{ 'SETTINGS_MENU' | translate }}</span></a>
            </li>
        </ul>
    </div>
</nav>

<!-- <div ng-attr-id="{{ authenticated ? 'page-wrapper' : '' }}" id="page-wrapper" class="gray-bg dashbard-1"> -->
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-success "><i class="fa fa-bars"></i> </a>
                <!--
                TODO
                <form role="search" class="navbar-form-custom" action="search_results.html">
                    <div class="form-group">
                        <input type="text" placeholder="Search for something..." class="form-control" name="top-search"
                               id="top-search">
                    </div>
                </form>-->
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <span>Sprache <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs ng-scope">
                        <li>
                            <a ng-click="changeLanguage('de')">
                                <img alt="image" class="img-thumbnail" src="assets/img/flags/16/Germany.png">&nbsp;&nbsp;Deutsch
                                (de)
                            </a>
                        </li>
                        <li>
                            <a ng-click="changeLanguage('en')">
                                <img alt="image" class="img-thumbnail" src="assets/img/flags/16/United-States.png">&nbsp;&nbsp;English
                                (en)
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i>
                        <!--
                        TODO
                        <span class="label label-primary">5</span>
                        -->
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a class="pull-left">
                                    <img alt="image" class="img-circle" src="assets/img/guest.png">
                                </a>
                                <div class="media-body">
                                    <small class="pull-right">Coming soon</small>
                                    <strong>Coming soon</strong> <br>
                                    <small class="text-muted">Coming soon</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a>
                                    <i class="fa fa-envelope"></i> <strong>Comming soon</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown">
                        <i class="fa fa-bell"></i>
                        <!--
                      TODO
                      <span class="label label-danger">5</span>
                      -->
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a>
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Coming soon
                                    <span class="pull-right text-muted small">Coming soon</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a>
                                    <strong>Coming soon</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>

                <li>
                    <a ng-click="logout()">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </nav>
        <div class="footer">
            <div class="pull-right">
                <strong>Copyright</strong> &copy; Get-Net
            </div>
        </div>
        <!--/footer -->
    </div>
    <!--/row border-bottom -->
    <div ng-view class="md-skin"></div>
</div>
<!--/page-wrapper -->
<!-- page level javascript -->
<script>
    $(document).ready(function () {
        // Minimalize menu
        $('.navbar-minimalize').click(function () {
            $("body").toggleClass("mini-navbar");
            SmoothlyMenu();

        });

    });

    function SmoothlyMenu() {
        if (!$('body').hasClass('mini-navbar') || $('body').hasClass('body-small')) {
            // Hide menu in order to smoothly turn on when maximize menu
            $('#side-menu').hide();
            // For smoothly turn on menu
            setTimeout(
                    function () {
                        $('#side-menu').fadeIn(400);
                    }, 200);
        } else if ($('body').hasClass('fixed-sidebar')) {
            $('#side-menu').hide();
            setTimeout(
                    function () {
                        $('#side-menu').fadeIn(400);
                    }, 100);
        } else {
            // Remove all inline style from jquery fadeIn function to reset menu state
            $('#side-menu').removeAttr('style');
        }
    }

</script>



