<style>
    #ngdatatable tr td {
        height: 62px;
    }
</style>
<meta charset="utf-8">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10">
                <h2>{{ 'SALE_SALES' | translate }}</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#/dashboard">Home</a>
                    </li>
                    <li class="active">
                        <strong>{{ 'SALE_SALES' | translate }}</strong>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ 'SALE_MANAGE_SALES' | translate }}</h5>
                </div>
                <div class="ibox-content">
                    <!--<button ng-click="saleCtrl.refreshData()" type="button" class="btn btn-success">
                        <i class="fa fa-refresh"></i>&nbsp;{{ 'COMMON_REFRESH' | translate }}
                    </button>-->
                    <span class="pull-right" style=" font-size: 1.5em;">{{ 'SALE_SHOW_ALL_SALES' | translate }} &nbsp;<input
                            type="checkbox"
                            ng-model="saleCtrl.loadAllData"
                            ng-change="saleCtrl.changeDataInput()"
                            class="js-switch"
                            ui-switch="{color: '#ed5565', secondaryColor: '#F3F3F3'}"/></span>
                    </br>
                    </br>
                    <div class="table-responsive text-center">
                        <table id="ngdatatable" datatable="" dt-options="saleCtrl.dtOptions" dt-columns="saleCtrl.dtColumns" dt-instance="saleCtrl.dtInstanceCallback"
                            class="table table-bordered table-hover table-condensed text-center" style="width:100%;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div editworkflow parent="saleCtrl" type="sale" modaltitle="{{'SALE_EDIT_SALE_MODAL'| translate}}"></div>
<div confirmationmodal modalid="deleteConfirmationModal" parent="saleCtrl" title="{{'SALE_DELETE_SALE'| translate}}" body="{{'SALE_DELETE_SALE_BODY'| translate}}"
    submittext="{{'COMMON_DELETE'| translate}}"></div>
<div confirmationmodal modalid="rollbackConfirmationModal" parent="saleCtrl" title="{{'SALE_ROLLBACK'| translate}}" body="{{'SALE_ROLLBACK_BODY'| translate}}"
    submittext="{{'COMMON_RESET'| translate}}"></div>
<div hidden ng-include="'components/Common/view/Workflow.Send.Modal.html'"></div>
<!--Page level script-->
<script>
    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "date-euro-pre": function (date) {
            return moment(date, 'DD.MM.YYYY HH:mm');
        },

        "date-euro-asc": function (a, b) {
            return (a.isBefore(b) ? -1 : (a.isAfter(b) ? 1 : 0));
        },

        "date-euro-desc": function (a, b) {
            return (a.isBefore(b) ? 1 : (a.isAfter(b) ? -1 : 0));
        }
    });
</script>