<meta charset="utf-8">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10">
                <h2>{{ 'SALE_SALES' | translate }}</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#/dashboard">Home</a>
                    </li>
                    <li class="active">
                        <strong>{{ 'SALE_SALES' | translate }}</strong>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ 'SALE_MANAGE_SALES' | translate }}</h5>
                </div>
                <div class="ibox-content">
                    <span class="pull-right" style=" font-size: 1.5em;">{{ 'SALE_SHOW_ALL_SALES' | translate }} &nbsp;<input
                            type="checkbox"
                            ng-model="saleCtrl.loadAllData"
                            ng-change="saleCtrl.changeDataInput()"
                            class="js-switch"
                            ui-switch="{color: '#ed5565', secondaryColor: '#F3F3F3'}"/></span>
                   	<span class="pull-right" style="margin-right:15px; margin-top:3px;"><input title="{{saleCtrl.loadAllData==true?saleCtrl.getShowMyTasksInfo('SALES') : ''}}"  ng-disabled="saleCtrl.loadAllData==true" style="transform:scale(1.5);margin-right: 6px;" type="checkbox" ng-click= "saleCtrl.filterMyTasks()" ng-model="saleCtrl.showMyTasks">&nbsp;<span ng-style="{color: {true:'darkgray'}[saleCtrl.loadAllData==true]}" style="font-size: 12pt;">{{ 'SHOW_MY_CLOSED_SALES' | translate }}</span></span>
                    <br/>
                    <br/>
                    <div class="table-responsive text-center">
                        <table id="ngdatatable" datatable="" dt-options="saleCtrl.dtOptions" dt-columns="saleCtrl.dtColumns" dt-disable-deep-watchers="true" dt-instance="saleCtrl.dtInstanceCallback"
                            class="table table-bordered table-hover table-condensed text-center" style="width:100%;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Page level script-->
<script>
    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "date-euro-pre": function (date) {
            return moment(date, 'DD.MM.YYYY HH:mm');
        },

        "date-euro-asc": function (a, b) {
            return (a.isBefore(b) ? -1 : (a.isAfter(b) ? 1 : 0));
        },

        "date-euro-desc": function (a, b) {
            return (a.isBefore(b) ? 1 : (a.isAfter(b) ? -1 : 0));
        }
    });
</script>