<style>
	.chat-view {
		word-break: break-all;
	}
	
	#childrow .col-sm-3 {
		width: 20% !important;
	}
	
	#childrow div {
		min-height: 80px;
	}
	
	#childrow label {
		white-space: nowrap;
		text-overflow: ellipsis;
		display: block;
		overflow: hidden;
	}
	
	#childrow span {
		white-space: nowrap;
		text-overflow: ellipsis;
		display: block;
		overflow: hidden;
	}
	
	.ellipsis {
		white-space: nowrap;
		text-overflow: ellipsis;
		display: block;
		overflow: hidden;
	}
</style>
<div id="completechildrow">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">
					<div id="childrow" class="row text-left">
						<div class="col-sm-3 b-r">
							<div>
								<label><a ng-href="#/customer/detail/{{workflowUnit.customer.id}}" title="{{ 'CUSTOMER_DETAIL_TIMELINE' | translate }}" style="cursor: pointer"><i class="fa fa-address-book-o" aria-hidden="true "></i></a> {{ 'COMMON_NAME' | translate }}</label>
								<span title="{{workflowUnit.customer.firstname}} {{workflowUnit.customer.lastname}}">{{workflowUnit.customer.firstname}} {{workflowUnit.customer.lastname}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r ">
							<div>
								<label><i class="fa fa-at " aria-hidden="true "></i>  {{ 'COMMON_EMAIL' | translate }}</label>
								<span title="{{workflowUnit.customer.email}}">{{workflowUnit.customer.email}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r ">
							<div>
								<label><i class="fa fa-phone " aria-hidden="true "></i>  {{ 'COMMON_PHONE' | translate }}</label>
								<span>{{workflowUnit.customer.phone}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r ">
							<div>
								<label><i class="fa fa-truck " aria-hidden="true "></i>  {{ 'COMMON_PRODUCT_DESTINATION' | translate }}</label>
								<span title="{{workflowUnit.deliveryAddressLine}}">{{workflowUnit.deliveryAddressLine}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r ">
							<div>
								<label><i class="fa fa-truck " aria-hidden="true "></i>  {{ 'COMMON_DELIVERY_TIME' | translate }}</label>
								<span>{{workflowUnit.deliveryDate}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r " ng-if="type=='offer' || type=='sale'">
							<div>
								<label title="{{ 'COMMON_SUPPLY_DELIVERY_TERM' | translate }}"><i class="fa fa-truck " aria-hidden="true "></i>  {{ 'COMMON_SUPPLY_DELIVERY_TERM' | translate }}</label>
								<span title="{{workflowUnit.deliveryTerm}}">{{workflowUnit.deliveryTerm}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r " ng-if="type=='offer' || type=='sale'">
							<div>
								<label title="{{ 'COMMON_SUPPLY_PAYMENT_TERM' | translate }}"><i class="fa fa-usd " aria-hidden="true "></i>  {{ 'COMMON_SUPPLY_PAYMENT_TERM' | translate }}</label>
								<span title="{{workflowUnit.paymentTerm}}">{{workflowUnit.paymentTerm}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r ">
							<div>
								<label><i class="fa fa-usd " aria-hidden="true "></i>  {{ 'COMMON_PRODUCT_DELIVERYCOSTS' | translate }}</label>
								<span>{{workflowUnit.deliveryCosts | currency:'\u20AC'}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r " ng-if="type ==='lead'">
							<div>
								<label><i class="fa fa-usd " aria-hidden="true "></i>  {{ 'COMMON_PRODUCT_ENTIRE_PRICE' | translate }}</label>
								<span>{{(parent.workflowService.sumOrderPositions(workflowUnit.orderPositions))| currency:'\u20AC'}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r " ng-if="type ==='lead'">
							<div>
								<label title="{{ 'COMMON_PRODUCT_ENTIRE_PRICE' | translate }} {{ 'COMMON_PRODUCT_INCL_DELIVERY_COSTS' | translate }}"><i class="fa fa-usd " aria-hidden="true "></i> {{ 'COMMON_PRODUCT_ENTIRE_PRICE' | translate }} {{ 'COMMON_PRODUCT_INCL_DELIVERY_COSTS' | translate }}</label>
								<span>{{(parent.workflowService.sumOrderPositions(workflowUnit.orderPositions)+workflowUnit.deliveryCosts)| currency:'\u20AC'}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r " ng-if="type=='offer'">
							<div>
								<label><i class="fa fa-usd " aria-hidden="true "></i>  {{ 'COMMON_PRODUCT_OFFER_PRICE' | translate }}</label>
								<span>{{workflowUnit.netPrice | currency:'\u20AC'}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r " ng-if="type=='offer'">
							<div>
								<label title="{{ 'COMMON_PRODUCT_OFFER_PRICE' | translate }} {{ 'COMMON_PRODUCT_INCL_DELIVERY_COSTS' | translate }}"><i class="fa fa-usd " aria-hidden="true "></i> {{ 'COMMON_PRODUCT_OFFER_PRICE' | translate }} {{ 'COMMON_PRODUCT_INCL_DELIVERY_COSTS' | translate }}</label>
								<span>{{workflowUnit.netPrice + workflowUnit.deliveryCosts | currency:'\u20AC'}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r " ng-if="type=='offer'">
							<div>
								<label><i class="fa fa-usd " aria-hidden="true "></i>  {{ 'PRODUCT_GROSS_PRICE' | translate }}</label>
								<span>{{(workflowUnit.netPrice+ workflowUnit.deliveryCosts)*(1+(workflowUnit.vat/100))|currency:'\u20AC'}} ({{workflowUnit.vat}}% {{ 'COMMON_PRODUCT_VAT' | translate }})</span>
							</div>
						</div>
						<div class="col-sm-3 b-r " ng-if="type=='offer' && workflowUnit.skonto>0">
							<div>
								<label title="{{ 'PRODUCT_GROSS_PRICE_SKONTO' | translate }}"><i class="fa fa-usd " aria-hidden="true "></i> {{ 'PRODUCT_GROSS_PRICE_SKONTO' | translate }}</label>
								<span>{{(((workflowUnit.netPrice+ workflowUnit.deliveryCosts)*(1+(workflowUnit.vat/100)))-((workflowUnit.netPrice+ workflowUnit.deliveryCosts)*(1+(workflowUnit.vat/100))*(workflowUnit.skonto/100)))|currency:'\u20AC'}} ({{workflowUnit.skonto}}%)</span>
							</div>
						</div>
						<div class="col-sm-3 b-r " ng-if="type=='sale'">
							<div>
								<label><i class="fa fa-usd " aria-hidden="true "></i>  {{ 'COMMON_PRODUCT_SALE_TURNOVER' | translate }}</label>
								<span>{{workflowUnit.saleTurnover | currency:'\u20AC'}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r " ng-if="type=='sale'">
							<div>
								<label><i class="fa fa-usd " aria-hidden="true "></i>  {{ 'COMMON_PRODUCT_SALE_PROFIT' | translate }}</label>
								<span>{{workflowUnit.saleProfit | currency:'\u20AC'}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r">
							<div>
								<label title="{{ 'COMMON_BILLING_ADDRESS' | translate }}"><i class="fa fa-university " aria-hidden="true "></i> {{ 'COMMON_BILLING_ADDRESS' | translate }}</label>
								<span title="{{parent.workflowService.customerService.getAddressLine(workflowUnit.billingAddress)}}">{{parent.workflowService.customerService.getAddressLine(workflowUnit.billingAddress)}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r " ng-if="type=='sale'">
							<div>
								<label><i class="fa fa-university " aria-hidden="true "></i>  {{ 'COMMON_PRODUCT_SALE_INVOICE_NUMBER_SHORT' | translate }}</label>
								<span>{{workflowUnit.invoiceNumber}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r ">
							<div>
								<label><i class="fa fa-rss " aria-hidden="true "></i>  {{ 'SOURCE_SOURCE' | translate }}</label>
								<span>{{process.source.name}}</span>
							</div>
						</div>
						<div class="col-sm-3 b-r " ng-if="process.processor != null">
							<div>
								<label><i class="fa fa-thumb-tack " aria-hidden="true "></i>  {{ 'COMMON_PROCESSOR' | translate }}</label>
								<span>{{parent.getNameOfUser(process.processor)}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div class="ibox">
				<div class="ibox-content text-left" style="min-height: 122px;">
					<label><i class="fa fa-envelope " aria-hidden="true "></i>  {{ 'COMMON_NOTE' | translate }}</label>
					<div style="max-height: 400px;overflow: auto;overflow-x: hidden;">
						<div ng-bind-html="parent.getAsHtml(workflowUnit.message)"></div>
					</div>
				</div>
			</div>
			<div class="ibox">
				<div class="ibox-content text-left" style="min-height: 122px;">
					<label><i class="fa fa-paperclip" aria-hidden="true "></i>  {{ 'COMMON_FILES' | translate }}</label>
					<div ng-repeat="notification in process.notifications" style="max-height: 400px;overflow: auto;overflow-x: hidden;">
						<div class="ellipsis" ng-repeat="attachment in notification.attachments">
							<span ng-if="::attachment.fileUpload.mimeType==='image/jpeg'"><i class="fa fa-file-image-o" aria-hidden="true "></i></span>
							<span ng-if="::attachment.fileUpload.mimeType==='application/pdf'"><i class="fa fa-file-pdf-o" aria-hidden="true "></i></span>
							<span ng-if="::(attachment.fileUpload.mimeType!=='application/pdf'&&attachment.fileUpload.mimeType!=='image/jpeg')"><i class="fa fa-paperclip" aria-hidden="true "></i></span>
							<span>{{::notification.timestamp| limitTo:16}}</span>						
							<span> <a ng-click="openAttachment(attachment.fileUpload)">{{::attachment.fileUpload.filename}}</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div ng-include="'components/Workflow/view/ProductView.html'"></div>
			<div ng-include="'components/Workflow/view/CommentView.html'"></div>
		</div>
	</div>
</div>
<!--<div class="row" ng-include="'components/Commentary/view/AllComments.Modal.html'"></div>-->