<div class="modal-header">
  <div style="width:100%" class="modal-title">
    <div #modalHeader>
      <ng-content select="[modal-header]"></ng-content>
    </div>
    <div *ngIf="!isElementPresent('modalHeaderElement')">
      <ul class="nav justify-content-center">
        <li *ngIf="isElementPresent('wizardStep1ContentElement')" class="nav-item">
          <div [class]="currentStep===1?'nav-link wizard-step-active':'nav-link wizard-step'" (click)="currentStep=1">
            <div class="wizard-header">
              <ng-content select="[wizard-step-1-title]"></ng-content>
            </div>
            <div class="wizard-icon">
              <ng-content select="[wizard-step-1-icon]"></ng-content>
            </div>
          </div>
        </li>
        <li *ngIf="isElementPresent('wizardStep2ContentElement')" class="nav-item wizard-step-seperator"></li>
        <li *ngIf="isElementPresent('wizardStep2ContentElement')" class="nav-item">
          <div [class]="currentStep===2?'nav-link wizard-step-active':'nav-link wizard-step'" (click)="currentStep=2">
            <div class="wizard-header">
              <ng-content select="[wizard-step-2-title]"></ng-content>
            </div>
            <div class="wizard-icon">
              <ng-content select="[wizard-step-2-icon]"></ng-content>
            </div>
          </div>
        </li>
        <li *ngIf="isElementPresent('wizardStep3ContentElement')" class="nav-item wizard-step-seperator"></li>
        <li *ngIf="isElementPresent('wizardStep3ContentElement')" class="nav-item">
          <div [class]="currentStep===3?'nav-link wizard-step-active':'nav-link wizard-step'" (click)="currentStep=3">
            <div class="wizard-header">
              <ng-content select="[wizard-step-3-title]"></ng-content>
            </div>
            <div class="wizard-icon">
              <ng-content select="[wizard-step-3-icon]"></ng-content>
            </div>
          </div>
        </li>
        <li *ngIf="isElementPresent('wizardStep4ContentElement')" class="nav-item wizard-step-seperator"></li>
        <li *ngIf="isElementPresent('wizardStep4ContentElement')" class="nav-item">
          <div [class]="currentStep===4?'nav-link wizard-step-active':'nav-link wizard-step'" (click)="currentStep=4">
            <div class="wizard-header">
              <ng-content select="[wizard-step-4-title]"></ng-content>
            </div>
            <div class="wizard-icon">
              <ng-content select="[wizard-step-4-icon]"></ng-content>
            </div>
          </div>
        </li>
        <li *ngIf="isElementPresent('wizardStep5ContentElement')" class="nav-item wizard-step-seperator"></li>
        <li *ngIf="isElementPresent('wizardStep5ContentElement')" class="nav-item">
          <div [class]="currentStep===5?'nav-link wizard-step-active':'nav-link wizard-step'" (click)="currentStep=5">
            <div class="wizard-header">
              <ng-content select="[wizard-step-5-title]"></ng-content>
            </div>
            <div class="wizard-icon">
              <ng-content select="[wizard-step-5-icon]"></ng-content>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="fireDismissEvent('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <div #wizardStep1Content [hidden]="currentStep!==1">
    <ng-content select="[wizard-step-1-content]"></ng-content>
  </div>
  <div #wizardStep2Content [hidden]="currentStep!==2">
    <ng-content select="[wizard-step-2-content]"></ng-content>
  </div>
  <div #wizardStep3Content [hidden]="currentStep!==3">
    <ng-content select="[wizard-step-3-content]"></ng-content>
  </div>
  <div #wizardStep4Content [hidden]="currentStep!==4">
    <ng-content select="[wizard-step-4-content]"></ng-content>
  </div>
  <div #wizardStep5Content [hidden]="currentStep!==5">
    <ng-content select="[wizard-step-5-content]"></ng-content>
  </div>
</div>
<div class="modal-footer">
  <div *ngIf="isElementPresent('wizardStep'+(currentStep-1)+'ContentElement')||isElementPresent('wizardStep'+(currentStep+1)+'ContentElement')" class="wizard-navigation-buttons">
    <button type="button" class="btn btn-success btn-sm" [disabled]="!isElementPresent('wizardStep'+(currentStep-1)+'ContentElement')"
      (click)="currentStep=currentStep-1"><i class="fa fa-arrow-left"></i> Back</button>
    <button type="button" class="btn btn-success btn-sm" [disabled]="!isElementPresent('wizardStep'+(currentStep+1)+'ContentElement')"
      (click)="currentStep=currentStep+1">Next <i class="fa fa-arrow-right"></i></button>
  </div>
  <div #modalFooter>
    <ng-content select="[modal-footer]"></ng-content>
  </div>
  <div *ngIf="!isElementPresent('modalFooterElement')">
    <button type="button" class="btn btn-secondary btn-sm" (click)="fireDismissEvent('Close Button')">Close</button>
    <button type="button" class="btn btn-success btn-sm" (click)="fireCloseEvent('OK Button')">OK</button>
  </div>
</div>