.step{
    border-style: solid;
    border-width: 2px;
    border-radius: 45px;
    border-color: #e0e0e0;
    margin: 30px;
    margin-left: 0px;
    height: 45px;
    width: 45px;
}

.step-active{
    border-style: solid;
    border-width: 2px;
    border-radius: 45px;
    border-color: #1c84c6;
    margin: 30px;
    margin-left: 0px;
    height: 45px;
    width: 45px;
}

.step-invalid{
    border-style: solid;
    border-width: 2px;
    border-radius: 45px;
    border-color: red; 
    margin: 30px;
    margin-left: 0px;
    height: 45px;
    width: 45px;
}
.step-invalid>.step-icon{
    color: red;
    text-align: center;
    vertical-align: bottom;
    margin-top: 3px;
}

.step:hover{
    border-color:black;
}

.step-icon{
    text-align: center;
    vertical-align: bottom;
    margin-top: 3px;
}

.step-header{
    margin-top: 0px;
    margin-bottom: -20px;
    white-space: nowrap;
    text-align: center;
    width: 100px;
    min-height: 19px;
    margin-left: -30px;
}

.step-navigation-buttons{
    margin-right:auto; 
    margin-left:0;
}

.step-seperator{    
    width: 100px;
    border-top: solid 1px;
    margin-top: 50px;
    margin-left: -30px
}

.footerButton>button{
    display: none;
}
.footerButton{
    min-height: 0px
}