<style>
    .important {
        background: #FFEBEB;
    }
</style>
<meta charset="utf-8">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10">
                <h2>{{ 'PRODUCT_PRODUCTS' | translate }}</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#/dashboard">Home</a>
                    </li>
                    <li class="active">
                        <strong>{{ 'PRODUCT_PRODUCTS' | translate }}</strong>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ 'PRODUCT_MANAGE_PRODUCTS' | translate }}</h5>
                </div>
                <div class="ibox-content">
                    <form role="form" class="form-inline">
                        <button type="button" class="btn btn-success btn-sm btn-primary" ng-click="productCtrl.clearProduct()" data-toggle="modal"
                            data-target="#createProductModal">
                                <i class="fa fa-plus"></i>
                                &nbsp;{{ 'PRODUCT_CREATE' | translate }}
                        </button>
                        <!--
                            <button type="button" ng-click="productCtrl.refreshData()" type="button" class="btn btn-success btn-sm btn-primary">
                                <i class="fa fa-refresh"></i>
                                &nbsp;{{ 'COMMON_REFRESH' | translate }}
                        </button>
                            -->
                        <span class="pull-right ">
                                 <input  type="text" placeholder="Search" class="input-sm form-control" ng-model="searchText">
                         </span>



                    </form>



                    <div class="project-list">
                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat="product in productCtrl.productService.products| filter:searchText |orderBy:'name'">
                                    <td class="project-status col-md-1">
                                        <span ng-show="!product.deactivated" class="label label-primary">{{ 'COMMON_ACTIVATED' | translate }}</span>
                                        <span ng-show="product.deactivated" class="label label-default">{{ 'COMMON_DEACTIVATED' | translate }}</span>
                                    </td>
                                    <td class="project-title col-md-2">
                                        <a href="project_detail.html">{{product.name}}</a>
                                        <br>
                                        <small>{{ 'PRODUCT_CREATED' | translate }} {{productCtrl.getLocalTimestamp(product)}}</small>
                                    </td>
                                    <td class="project-completion col-md-7" max>
                                        <small style="word-wrap: break-word; word-break: break-all;">{{product.description}}</small>
                                    </td>
                                    <td class="project-people col-md-1">
                                        <a href="">
                                            <!-- 
                                            <img alt="image" class="img-circle" ng-src="data:image/jpeg;base64,{{productCtrl.arrayBufferToBase64(product.picture.content)}}"
                                            />
                                            -->
                                            <img alt="image" class="img-circle" ng-src="http://localhost:8080/api/rest/products/{{product.id}}/image">

                                        </a>
                                    </td>
                                    <td class="project-actions col-md-1">
                                        <button type="button" class="btn btn-white btn-sm" ng-click="productCtrl.editProduct(product)" data-toggle="modal" data-target="#createProductModal">
                                     <i class="fa fa-pencil"></i>&nbsp;Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include=" 'components/Product/view/Product.Modal.html' "></div>