<div class="row animated fadeInRight">
        <div class="col-lg-6">
                <div class="ibox float-e-margins">
                        <div class="ibox-title">
                                <span class="label label-success pull-right">{{ daterange | translate }}</span>
                                <h1>{{ 'DETAIL_STATISTIC_PRODUCTSTATISTIC' | translate }} {{productobj.name}}</h1>
                        </div>
                        <div class="ibox-content" id="ibox-content">
                                <highchart id="SingleProductColumnChart" config="chart.chartConfig"></highchart>
                        </div>
                </div>
        </div>
        <div class="col-lg-6">
                <div class="ibox float-e-margins">
                        <div class="ibox-title">
                                <span class="label label-success pull-right">{{ daterange | translate }}</span>
                                <h5>{{ 'DETAIL_STATISTIC_REALISED_TURNOVER' | translate }}</h5>
                        </div>
                        <div class="ibox-content">
                                <h1 class="no-margins">{{productSales.turnover| currency:'\u20AC'}}</h1>
                        </div>
                </div>
        </div>
        <div class="col-lg-6">
                <div class="ibox float-e-margins">
                        <div class="ibox-title">
                                <span class="label label-success pull-right">{{ daterange | translate }}</span>
                                <h5>&#216; {{ 'DETAIL_STATISTIC_GUARANTEED_DISCOUNT' | translate }}</h5>
                        </div>
                        <div class="ibox-content">
                                <h1 class="no-margins" ng-if="productSales.count>0">{{productSales.discount/productSales.count}}% ({{productSales.product.priceNetto-(productSales.turnover/productSales.count)
                                        | currency:'\u20AC'}})</h1>
                                <h1 class="no-margins" ng-if="productSales.count<=0">0% ({{0 | currency:'\u20AC'}})</h1>
                        </div>
                </div>
        </div>
        <div class="col-lg-6">
                <div class="ibox float-e-margins">
                        <div class="ibox-title">
                                <span class="label label-success pull-right">{{ daterange | translate }}</span>
                                <h5>&#216; {{ 'DETAIL_STATISTIC_SALES_PRICE' | translate }}</h5>
                        </div>
                        <div class="ibox-content">
                                <h1 class="no-margins" ng-if="productSales.count>0">{{productSales.product.priceNetto*(1-(productSales.discount/productSales.count/100)) | currency:'\u20AC'}}</h1>
                                <h1 class="no-margins" ng-if="productSales.count<=0">{{0 | currency:'\u20AC'}}</h1>
                        </div>
                </div>
        </div>
        <div class="col-lg-6">
                <div class="ibox float-e-margins">
                        <div class="ibox-title">
                                <span class="label label-success pull-right">{{ daterange | translate }}</span>
                                <h5>{{ 'DETAIL_STATISTIC_ADVERTISED_PRICE' | translate }}</h5>
                        </div>
                        <div class="ibox-content">
                                <h1 class="no-margins">{{productobj.priceNetto | currency:'\u20AC'}}</h1>
                        </div>
                </div>
        </div>
</div>