<style>
	.important {
		background: #FFEBEB;
	}
	.grayfilter {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	}
	.frontlayer {
    position: relative;
    width: 100px;
    height: 28px;
    bottom: -45px;
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    z-index: 1;
	font-size: 13pt;
	 -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
	}
</style>
<meta charset="utf-8">
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-10">
				<h2>{{ 'PRODUCT_PRODUCTS' | translate }}</h2>
				<ol class="breadcrumb">
					<li>
						<a href="#/dashboard">Home</a>
					</li>
					<li class="active">
						<strong>{{ 'PRODUCT_PRODUCTS' | translate }}</strong>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>{{ 'PRODUCT_MANAGE_PRODUCTS' | translate }} - <strong>{{productCtrl.productService.products.length}}</strong> {{ 'PRODUCT_PRODUCTS'
						| translate }}</h5>
				</div>
				<div class="ibox-content" style="overflow-x: auto">
					<form role="form" class="form-inline">
						<button type="button" class="btn btn-success btn-sm btn-primary" ng-click="productCtrl.clearProduct()" data-toggle="modal"
							data-target="#createProductModal" data-backdrop="static">
							<i class="fa fa-plus"></i> &nbsp;{{ 'PRODUCT_CREATE' | translate }}
							</button>

							<!--
                        <button type="button" ng-click="productCtrl.refreshData()" type="button" class="btn btn-success btn-sm btn-primary">
                            <i class="fa fa-refresh"></i>
                            &nbsp;{{ 'COMMON_REFRESH' | translate }}
                        </button>
                            -->
							<span class="pull-right ">
                            <input  type="text" placeholder="{{ 'COMMON_SEARCH' | translate }}" class="input-sm form-control" ng-model="searchText">
                        </span>
					</form>

					<div class="project-list">
						<table class="table table-hover">
							<thead>
								<tr>
									<th></th>
									<th class="text-center">{{ 'COMMON_NAME' | translate }}</th>
									<th class="text-center">{{ 'PRODUCT_PRICE' | translate }}</th>
									<th class="text-center">{{ 'PRODUCT_PRODUCT_STATE' | translate }}</th>
									<th class="text-center">{{ 'PRODUCT_NUMBER' | translate }}</th>
									<th class="text-center"><i class="fa fa-cog"></i></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="product in productCtrl.productService.products| filter:searchText |orderBy:'name' | limitTo:productCtrl.productAmountLimit ">
									<td class="project-status col-md-1 text-center">
										<div ng-if="product.picture!=null" ng-style="product.deactivated === true?{ 'margin-top': '-28px'}:{}">
											<div ng-if="product.deactivated === true" class="frontlayer">{{ 'COMMON_DEACTIVATED' | translate }}</div>
											<img ng-class="{'grayfilter':product.deactivated}" style="width: 60px; height:60px;border-radius: 10%" pictureid="{{product.picture.id}}"
												httpsrc="/api/rest/files/content/" alt=""> <br>
										</div>
										<span ng-if="product.picture==null" ng-show="!product.deactivated" class="label label-primary">{{ 'COMMON_ACTIVATED' | translate }}</span>
										<span ng-if="product.picture==null" ng-show="product.deactivated" class="label label-default">{{ 'COMMON_DEACTIVATED' | translate }}</span>
									</td>
									<td class="project-title col-md-4 text-center">
										{{product.name}}
										<br>
										<small>{{ 'PRODUCT_CREATED' | translate }} {{productCtrl.getLocalTimestamp(product)}}</small>
									</td>
									<td class="project-completion col-md-2 text-center" style="word-wrap: break-word;">
										{{product.netPrice | currency:'\u20AC'}}
									</td>
									<td class="project-completion col-md-2 text-center" style="word-wrap: break-word;">
										{{ product.productState | translate }}
									</td>
									<td class="project-completion col-md-2 text-center" style="word-wrap: break-word;">
										{{product.productNumber}}
									</td>
									<td class="project-actions col-md-1 text-center">
										<button type="button" class="btn btn-white btn-sm" ng-click="productCtrl.editProduct(product)" data-toggle="modal" data-target="#createProductModal"
											data-backdrop="static">
											<i class="fa fa-pencil"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
						<div ng-if="productCtrl.productAmountLimit<=productCtrl.productService.products.length" class="row" style="text-align: center;">
							<a href="" ng-click="productCtrl.productAmountLimit=productCtrl.productAmountLimit+20">20 {{ 'COMMON_LOAD_MORE' | translate }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-include=" 'components/Product/view/Product.Modal.html' "></div>