<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10">
                <h2>{{ 'PROFILE_MENU' | translate }}</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#/dashboard">Home</a>
                    </li>
                    <li class="active">
                        <strong>{{ 'PROFILE_MENU' | translate }}</strong>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <ul class="nav nav-tabs">
            <li ng-click="profileCtrl.currentTab=1" ng-class="profileCtrl.currentTab===1?'active':''"><a data-toggle="tab" aria-expanded="true">{{ 'PROFILE_ACCOUNT_TAB' | translate}}</a></li>
            <li ng-click="profileCtrl.currentTab=2" ng-class="profileCtrl.currentTab===2?'active':''"><a data-toggle="tab" aria-expanded="true">{{'PROFILE_PASSWORD_TAB' | translate }}</a></li>
            <li ng-click="profileCtrl.currentTab=3" ng-class="profileCtrl.currentTab===3?'active':''"><a data-toggle="tab" aria-expanded="true">{{'PROFILE_SMTP_TAB' | translate }}</a></li>
        </ul>
        <br/>
        <div ng-show="profileCtrl.currentTab===1" ng-include="'components/Profile/view/ProfileAccountTab.html'"></div>
        <div ng-show="profileCtrl.currentTab===2" ng-include="'components/Profile/view/ProfilePasswordTab.html'"></div>
        <div ng-show="profileCtrl.currentTab===3" ng-include="'components/Profile/view/ProfileSmtpTab.html'"></div>
    </div>
</div>