<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title ">
				<h5>{{ 'PROFILE_PROFILE_INFORMATION' | translate }}</h5>
				<div class="ibox-tools ">
				</div>
			</div>
			<div class="ibox-content  " id="profilInfoForm ">
				<form name="profilInfoForm " novalidate>
					<div class="row ">
						<div class="col-sm-6 b-r ">
							<!-- EMAIL -->
							<div class="form-group">
								<label><i class="fa fa-at " aria-hidden="true "></i>  {{ 'COMMON_EMAIL' | translate }}</label>
								<p>{{::profileCtrl.currentUser.email}}</p>

							</div>
							<!-- FIRSTNAME -->
							<div class="form-group ">
								<label><i class="fa fa-user " aria-hidden="true "></i>    {{ 'COMMON_FIRSTNAME' | translate }}</label>
								<span style="color:red" ng-show="profilInfoForm.firstname.$error.required&&!profilInfoForm.firstname.$pristine ">{{ 'COMMON_VALIDATE_REQ'| translate }}</span>
								<span style="color:red" ng-show="profilInfoForm.firstname.$error.minlength&&!profilInfoForm.firstname.$pristine ">{{ 'SIGNUP_VALIDATE_FIRSTNAME_TO_SHORT' | translate }}</span>
								<span style="color:red" ng-show="profilInfoForm.firstname.$error.maxlength&&!profilInfoForm.firstname.$pristine ">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
								<input type="text " id="firstname " name="firstname " class="form-control " placeholder="{{ 'COMMON_FIRSTNAME'
					| translate }} " required ng-pattern="/^[a-zA-Z0-9.-ÄÖÜäöÜß]*$/ " ng-model="profileCtrl.currentUser.firstname " ng-minlength="2
					" ng-maxlength="50 ">

							</div>
							<!-- LASTNAME -->
							<div class="form-group ">
								<label><i class="fa fa-user " aria-hidden="true "></i>    {{ 'COMMON_LASTNAME' | translate }}</label>
								<span style="color:red" ng-show="profilInfoForm.lastname.$error.required&&!profilInfoForm.lastname.$pristine ">{{ 'COMMON_VALIDATE_REQ'| translate }}</span>
								<span style="color:red" ng-show="profilInfoForm.lastname.$error.minlength&&!profilInfoForm.lastname.$pristine ">{{ 'SIGNUP_VALIDATE_LASTNAME_TO_SHORT' | translate }}</span>
								<span style="color:red" ng-show="profilInfoForm.lastname.$error.maxlength&&!profilInfoForm.lastname.$pristine ">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
								<input type="text " id="lastname " name="lastname " class="form-control " placeholder="{{ 'COMMON_LASTNAME' |
										translate }} " required ng-pattern="/^[a-zA-Z0-9.-ÄÖÜäöÜß]*$/ " ng-model="profileCtrl.currentUser.lastname " ng-minlength="2
										" ng-maxlength="50 ">
							</div>
							<!-- LANGUAGE -->
							<div class="form-group ">
								<label><i class="fa fa-globe " aria-hidden="true "></i>   {{ 'PROFILE_DEFAULT_LANGUAGE' | translate }}</label>
								<select class="form-control " ng-model="profileCtrl.currentUser.language ">
                                        <option value="DE ">Deutsch(de)</option>
                                        <option value="EN ">English(en)</option>
                                    </select>
							</div>
							<!-- DEFAULT VAT -->
							<div class="form-group " ng-class="{
                                'has-error' :profilInfoForm.vat.$invalid && !profilInfoForm.vat.$pristine } ">
								<label><i class="fa fa-percent " aria-hidden="true "></i>   {{ 'PROFILE_DEFAULT_VAT' | translate }}</label>
								<input class="form-control currency" name="vat" type="number " ng-model="profileCtrl.currentUser.defaultVat  " ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/ "
									step="any" min="0 " max="100 ">
						</div>
					</div>
					<div class="col-sm-6 ">
						<!-- PHONE -->
						<div class="form-group ">
							<label><i class="fa fa-phone " aria-hidden="true "></i>   {{ 'COMMON_PHONE' | translate }}</label>
							<span style="color:red" ng-show="profilInfoForm.phone.$error.minlength&&!profilInfoForm.phone.$pristine ">{{ 'PROFIL_VALIDATE_PHONE_TO_SHORT' | translate }}</span>
							<span style="color:red" ng-show="profilInfoForm.phone.$error.maxlength&&!profilInfoForm.phone.$pristine ">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
							<input type="text " id="phone " name="phone " class="form-control " placeholder="{{ 'COMMON_PHONE' | translate}} " ng-model="profileCtrl.currentUser.phone "
								ng-minlength="2 " ng-maxlength="50 ">
						</div>
						<!-- SKYPE -->
						<div class="form-group ">
							<label><i class="fa fa-skype " aria-hidden="true "></i>   {{ 'COMMON_SKYPE' | translate }}</label>
							<span style="color:red" ng-show="profilInfoForm.skype.$error.minlength&&!profilInfoForm.skype.$pristine ">{{ 'PROFIL_VALIDATE_SKYPE_TO_SHORT' | translate }}</span>
							<span style="color:red" ng-show="profilInfoForm.skype.$error.maxlength&&!profilInfoForm.skype.$pristine ">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
							<input type="text " id="skype " name="skype " class="form-control " placeholder="{{ 'COMMON_SKYPE' | translate}} " ng-model="profileCtrl.currentUser.skype "
								ng-minlength="2 " ng-maxlength="50 ">
						</div>
						<!-- FAX -->
						<div class="form-group ">
							<label><i class="fa fa-fax " aria-hidden="true "></i> {{ 'COMMON_FAX' | translate }}</label>
							<span style="color:red" ng-show="profilInfoForm.fax.$error.minlength&&!profilInfoForm.fax.$pristine ">{{ 'PROFIL_VALIDATE_FAX_TO_SHORT' | translate }}</span>
							<span style="color:red" ng-show="profilInfoForm.fax.$error.maxlength&&!profilInfoForm.fax.$pristine ">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
							<input type="text " id="fax " name="fax " class="form-control " placeholder="{{ 'COMMON_FAX' | translate }}" ng-model="profileCtrl.currentUser.fax "
								ng-minlength="2 " ng-maxlength="50 ">
						</div>
						<!-- JOB-POSITION -->
						<div class="form-group ">
							<label><i class="fa fa-briefcase " aria-hidden="true "></i> {{ 'COMMON_JOB' | translate }}</label>
							<span style="color:red" ng-show="profilInfoForm.job.$error.minlength&&!profilInfoForm.job.$pristine ">{{ 'PROFIL_VALIDATE_JOB_TO_SHORT' | translate }}</span>
							<span style="color:red" ng-show="profilInfoForm.job.$error.maxlength&&!profilInfoForm.job.$pristine ">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
							<input type="text " id="job " name="job " class="form-control " placeholder="{{ 'COMMON_JOB' | translate }}" ng-model="profileCtrl.currentUser.job "
								ng-minlength="2 " ng-maxlength="50 ">
						</div>
					</div>
			</div>
			<button class="btn btn-success " type="button " ng-click="profileCtrl.updateProfilInfo() " ng-disabled="profilInfoForm.$invalid ">
                            <i class="fa fa-save "></i>&nbsp;{{ 'COMMON_SAVE' | translate }}
                        </button>
			</form>
		</div>
	</div>
</div>
</div>