<div class="row">
	<div class="col-lg-5 ">
		<div class="ibox float-e-margins ">

			<div class="ibox-title ">
				<h5>{{ 'PROFILE_PASSWORD_MANAGEMENT' | translate }}</h5>

			</div>

			<div class="ibox-content " id="passwordForm ">
				<form name="profileCtrl.passwordForm " novalidate>
					<!-- password -->
					<div class="form-group ">
						<label><i class="fa fa-unlock-alt " aria-hidden="true "></i> {{ 'PROFILE_OLD_PASSWORD' | translate }}</label>
						<span style="color:red" ng-show="profileCtrl.passwordForm.oldPassword.$invalid && !profileCtrl.passwordForm.oldPassword.$pristine">{{ 'PROFILE_VALIDATE_OLD_PASSWORD' | translate }}</span>
						<span style="color:red" ng-show="profileCtrl.passwordForm.oldPassword.$error.maxlength && !profileCtrl.passwordForm.oldPassword.$pristine">{{ 'COMMON_VALIDATE_PASSWORD_MAX' | translate }}</span>
						<input type="password " name="oldPassword " class="form-control " ng-model="profileCtrl.oldPassword " ng-maxlength="60" required>
					</div>
					<div class="form-group ">
						<label><i class="fa fa-unlock " aria-hidden="true "></i>  {{ 'COMMON_NEW_PASSWORD' | translate }}</label>
						<span style="color:red" ng-show="(profileCtrl.passwordForm.newPassword1.$error.minlength||profileCtrl.passwordForm.newPassword1.$error.required) && !profileCtrl.passwordForm.newPassword1.$pristine">{{ 'COMMON_VALIDATE_PASSWORD_MIN' | translate }}</span>
						<span style="color:red" ng-show="profileCtrl.passwordForm.newPassword1.$error.maxlength && !profileCtrl.passwordForm.newPassword1.$pristine">{{ 'COMMON_VALIDATE_PASSWORD_MAX' | translate }}</span>
						<input type="password " name="newPassword1 " id="newPassword1 " class="form-control " ng-model="profileCtrl.newPassword1 "
							required ng-minlength="6" ng-maxlength="60" />
					</div>
					<div class="form-group ">
						<label><i class="fa fa-unlock " aria-hidden="true "></i>  {{ 'COMMON_NEW_PASSWORD' | translate }}</label>
						<span style="color:red" ng-show="(profileCtrl.passwordForm.newPassword2.$error.minlength||profileCtrl.passwordForm.newPassword2.$error.required) && !profileCtrl.passwordForm.newPassword2.$pristine">{{ 'COMMON_VALIDATE_PASSWORD_MIN' | translate }}</span>
						<span style="color:red" ng-show="profileCtrl.passwordForm.newPassword2.$error.maxlength && !profileCtrl.passwordForm.newPassword2.$pristine">{{ 'COMMON_VALIDATE_PASSWORD_MAX' | translate }}</span>
						<span style="color:red" ng-show="profileCtrl.passwordForm.newPassword2.$error.pwmatch && !profileCtrl.passwordForm.newPassword2.$pristine">{{ 'COMMON_VALIDATE_PASSWORD_NOT_MATCH' | translate }}</span>
						<input type="password " name="newPassword2 " id="newPassword2 " class="form-control " ng-model="profileCtrl.newPassword2 "
							required ng-minlength="6 " pw-check="newPassword1" ng-maxlength="60" />
					</div>
					<button class="btn btn-success " type="button " ng-click="profileCtrl.updatePassword() " ng-disabled="profileCtrl.passwordForm.$invalid ">
                            <i class="fa fa-save "></i>&nbsp;{{ 'COMMON_SAVE' | translate }}
                        </button>
				</form>
			</div>
		</div>
	</div>


	<div class="col-lg-7">
		<div class="ibox float-e-margins ">

			<div class="ibox-title ">
				<h5>{{ 'PROFILE_PICTURE_MANAGEMENT' | translate }}</h5>
				<div class="ibox-tools ">
					<i class="fa fa-question-circle" data-toggle="tooltip" title="{{ 'TOOLTIP_PROFIL_PICTURE' | translate }}"></i>
				</div>
			</div>

			<div class="ibox-content " id="profilPicture ">
				<div style="margin-left:15px;max-width:700px" quality="50,5" savebutton="passt " imagecrop event="profileImageSaved "></div>
			</div>
		</div>
	</div>
</div>