<p>
  dashboard works!
</p>

<ng-template #content let-c="close" let-d="dismiss">
  <app-modal (dismiss)="d($event)" (close)="c($event)">
    <p step-1-title>Email</p>
    <i step-1-icon class="fa fa-envelope"></i>
    <div step-1-content>Email-content</div>
    <i step-2-icon class="fa fa-dollar"></i>
    <p step-2-title>Saleeeeeeeeeeeeeeee</p>
    <sale-wizard-step [process]="process" step-2-content>Sale</sale-wizard-step>
    <div step-3-content>
      <h1 style="min-height:0px">dies ist ein test</h1>
    </div>
    <i step-3-icon class="fa fa-envelope"></i>
    <div modal-footer>
      <button type="button" class="btn btn-secondary btn-sm" (click)="d('wtf')">Close</button>
      <button type="button" submit-button class="btn btn-success btn-sm" (click)="c('wtf');save()"><i class="fa fa-save"></i> Send</button>
    </div>
  </app-modal>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">email modal</button>

<ng-template #content2 let-c="close" let-d="dismiss">
  <app-modal (dismiss)="d($event)" (close)="c($event)">
    <p step-1-title>title 1</p>
    <i step-1-icon class="fa fa-plus fa-lg"></i>
    <h1 step-1-content>content 1</h1>
    <p step-2-title>title 2</p>
    <i step-2-icon class="fa fa-send fa-lg"></i>
    <h1 step-2-content>content 2</h1>
    <p step-3-title>title 3</p>
    <i step-3-icon class="fa fa-user fa-lg"></i>
    <h1 step-3-content>content 3</h1>
    <p step-4-title>title 4</p>
    <i step-4-icon class="fa fa-user fa-lg"></i>
    <h1 step-4-content>content 4</h1>
    <p step-5-title>title 5</p>
    <i step-5-icon class="fa fa-user fa-lg"></i>
    <h1 step-5-content>content 5</h1>
    <div modal-footer>
      <button type="button" class="btn btn-secondary btn-sm" (click)="d('wtf')">Close</button>
      <button type="button" submit-button class="btn btn-success btn-sm" (click)="c('wtf');save()"><i class="fa fa-save"></i> Save</button>
    </div>
  </app-modal>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(content2)">full wizard</button>

<ng-template #content3 let-c="close" let-d="dismiss">
  <app-modal (dismiss)="d($event)" (close)="xyz.hidden=!xyz.hidden">
    <div modal-header>Modal title...</div>
    <h1 step-1-content><strong>nice body</strong>
      <h2 #xyz>WOW</h2>
    </h1>
  </app-modal>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(content3)">basic modal</button>

<dashboard-statistic></dashboard-statistic>

<dashbhoard-managment></dashbhoard-managment>

<dashboard-to-do></dashboard-to-do>