<!DOCTYPE>
<html ng-app="app" lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>LeadPlus</title>

	<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon.ico">

	<!-- CSS -->
	<link href="assets/assets.css" rel="stylesheet">

	<link href="assets/font-awesome.min.css" rel="stylesheet">
	<link href="assets/bootstrap.min.css" rel="stylesheet">
	<link href="assets/style.css" rel="stylesheet">



	<style>
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		#outer-language ul.nav .open > a, ul.nav .open > a:hover, ul.nav .open > a:focus{
			background: transparent !important;
		}
	</style>
</head>

<body ng-controller="AppController as appCtrl">
	<div id="loading-pane-overlay">
			<div class="loader"></div>
	</div>
	<div id="wrapper">
		<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>

		<div id="loginscreen" ng-if="!user">
			<span id="outer-language" style="visibility:hidden;">
				<ul class="nav navbar-top-links" style="text-align: right; max-height: 60px;">
					<li class="dropdown">
						<a class="dropdown-toggle count-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span style="color:whitesmoke;">{{ 'LANGUAGE' | translate }}<b class="caret"></b></span>
						</a>
						<ul class="dropdown-menu animated fadeInRight m-t-xs ng-scope" style="position:relative;">
							<li>
								<a ng-click="changeLanguage('DE')">
									<img alt="image" class="img-thumbnail" src="assets/img/flags/16/Germany.png">&nbsp;&nbsp;Deutsch (de)
								</a>
							</li>
							<li>
								<a ng-click="changeLanguage('EN')">
									<img alt="image" class="img-thumbnail" src="assets/img/flags/16/United-States.png">&nbsp;&nbsp;English (en)
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</span>	
		</div>
		<div ng-if="!user" ng-view></div>
		<div ng-if="user">
			<div ng-include="'main.html'"></div>
		</div>
	</div>

	<!-- basic assets -->
	<script src="assets/js/basic/basic.js"></script>

	<!-- datepicker -->
	<script src="assets/js/unbundled/bootstrap-datepicker.min.js"></script>

	<!-- angular main lib -->
	<script src="assets/js/unbundled/angular1.6.1.min.js"></script>

	<!-- angular module libs-->
	<script src="assets/js/angular/angular.js"></script>

	<!-- other assets -->
	<script src="assets/js/others/others.js"></script>

	<!-- datatable assets -->
	<script src="assets/js/datatable/datatable.js"></script>

	<!-- angular app -->
	<script src="assets/angular.js"></script>
</body>
</html>