<html ng-app="app">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{{ 'TITLE' | translate }}</title>

	<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">

	<!-- CSS -->
	<link href="assets/assets.css" rel="stylesheet">

	<link href="assets/font-awesome.min.css" rel="stylesheet">
	<link href="assets/bootstrap.min.css" rel="stylesheet">
	<link href="assets/style.css" rel="stylesheet">

	<style>
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	</style>


</head>

<body ng-controller="AppController as appCtrl">

	<div id="wrapper">
		<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
		<div ng-if="!globals.user" ng-view></div>
		<div ng-if="globals.user">
			<div ng-include="'main.html'"></div>
		</div>
	</div>

	<!-- jQuery and Bootstrap -->
	<script src="assets/js/jquery/jquery-2.2.1.min.js"></script>
	<script src="assets/js/jquery/jquery-ui.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/jquery.ui.touch-punch.min.js"></script>

	<!-- Sparkline -->
	<script src="assets/js/jquery.sparkline.min.js"></script>

	<!-- MetsiMenu -->
	<script src="assets/js/jquery/jquery.metisMenu.js"></script>

	<!-- SlimScroll -->
	<script src="assets/js/jquery/jquery.slimscroll.min.js"></script>
	
	<!-- footable -->
	<script src="assets/js/footable.all.min.js"></script>

	<!--Steps-->
	<script src="assets/js/jquery.steps.min.js"></script>

	<!-- Pace JS -->
	<script src="assets/js/pace.min.js"></script>

	<!-- Custom and plugin javascript -->
	<script src="assets/js/inspinia.js"></script>

	<!-- Data table javascript -->
	<script src="assets/js/datatables/datatables.min.js"></script>

	<!--Highcharts-->
	<script src="assets/js/highcharts.js"></script>

	<!--Moment js-->
	<script src="assets/js/moment.mins.js"></script>
	<script src="assets/js/momentjs-business.js"></script>

	<!--Datepicker-->
	<script src="assets/js/bootstrap-datepicker.min.js"></script>
	<script src="assets/js/bootstrap-datepicker.de.min.js"></script>

	<!-- Main Angular scripts-->
	<script src="assets/js/angular/angular.js"></script>
	<script src="assets/js/angular/angular-route.min.js"></script>
	<script src="assets/js/angular/angular-resource.min.js"></script>
	<script src="assets/js/angular/angular-animate.min.js"></script>
	<script src="assets/js/angular/angular-translate.min.js"></script>
	<script src="assets/js/angular/angular-cookies.min.js"></script>
	<script src="assets/js/angular/angular-sortable-ui.js"></script>
	<script src="assets/js/angular/ng-toaster.js"></script>
	<script src="assets/js/angular/angular-highcharts.min.js"></script>
	<script src="assets/js/angular/ng-file-upload-shim.js"></script>
	<script src="assets/js/angular/ng-file-upload.js"></script>
	<script src="assets/js/angular/angular-footable.js"></script>

	<!-- Angular-Datatable-->
	<script src="assets/js/datatables/angular-datatables.min.js"></script>
	<script src="assets/js/datatables/angular-datatables.bootstrap.min.js"></script>
	<script src="assets/js/datatables/dataTables.buttons.js"></script>
	<script src="assets/js/datatables/angular-datatables.buttons.min.js"></script>
	<script src="assets/js/datatables/buttons.bootstrap.js"></script>
	<script src="assets/js/datatables/pdfmake.min.js"></script>
	<script src="assets/js/datatables/vfs_fonts.js"></script>
	<script src="assets/js/datatables/jszip.min.js"></script>
	<script src="assets/js/datatables/buttons.html5.min.js"></script>
	<script src="assets/js/datatables/buttons.print.min.js"></script>


	<!--Switch for checkbox-->
	<script src="assets/js/switchery.min.js"></script>
	<script src="assets/js/angular/ng-switchery.js"></script>

	<script src="assets/js/chosen.js"></script>

	<!--Img Crop-->
	<script src="assets/js/ng-img-crop.js"></script>
	<script src="assets/js/jasny-bootstrap.min.js"></script>

	<!--UI Bootstrap-->
	<script src="assets/js/ui-bootstrap-tpls-2.1.2.min.js"></script>

	<!--Summernote Editor-->
	<script src="assets/js/summernote.min.js"></script>
	<script src="assets/js/angular-summernote.min.js"></script>

	<!-- Image cropper -->
	<script src="assets/js/cropper.js"></script>
	<script src="assets/js/JIC.min.js"></script

	<!--Our Javascript-->
	<script src="assets/angular.js"></script>

</body>

</html>