Allgemeine Geschäftsbedingungen der FASTBILL GmbH Geltungsbereich Die FASTBILL GmbH (nachfolgend FASTBILL genannt) erbringt
ihre Dienste auch im Rahmen der Vertragsanbahnung auf der Basis dieser Geschäftsbedingungen, die Bestandteil des Leistungsvertrages
werden. Abweichungen von diesen Geschäftsbedingungen sind nur wirksam, wenn sie schriftlich von FASTBILL bestätigt wurden.
FASTBILL ist berechtigt, diese allgemeinen Geschäftsbedingungen jederzeit unter Einhaltung einer angemessenen Ankündigungsfrist
zu ändern. Nach Veröffentlichung einer Änderungsmitteilung besitzt der Kunde ein außerordentliches Kündigungsrecht. Die Änderungen
gelten als genehmigt, wenn der Kunde nicht innerhalb von 14 Tagen den Änderungen schriftlich widerspricht. Vertragsabschluss
Der Vertrag über die Nutzung der von FASTBILL angebotenen Leistungen kommt zustande, wenn ein von FASTBILL bevollmächtigter
Vertreter den vom Kunden erteilten Auftrag annimmt. Die Annahme wird schriftlich oder konkludent durch die erste Erfüllungshandlung
bestätigt. FASTBILL ist berechtigt den Vertragsabschluss ohne Angabe von Gründen zu verweigern. Soweit sich FASTBILL zur
Erfüllung der vereinbarten Dienstleistung Dritter bedient, werden diese nicht Vertragspartner des Kunden. Vertragsdauer und
Kündigung Sofern nicht anderweitig im Leistungsvertrag vereinbart, beginnen die Verträge mit Datum der ersten Erfüllungshandlung;
die Verträge werden mit unbestimmter Dauer geschlossen und können von beiden Vertragsparteien mit einer Frist von 14 Tagen
zum Monatsende ordentlich gekündigt werden. Das Recht beider Parteien zur Kündigung aus wichtigem Grund (außerordentliche
Kündigung) bleibt hiervon unberührt. Der Widerruf der Einzugsermächtigung kommt einer Kündigung aus wichtigem Grund gleich.
Die Kündigung kann online im Portal oder per Email erfolgen und wird mit Zugang wirksam. Bereits gezahlte Entgelte werden
nicht zurückerstattet. Leistungsumfang FASTBILL stellt dem Kunden nach Maßgabe des Leistungsvertrags die technischen Bedingungen
für die Publizität von Programmen im Internet zur Verfügung. FASTBILL sichert dem Kunden gegenüber eine Erreichbarkeit des
Portals von 99,85% im Jahresmittel zu. Hiervon ausgenommen sind Zeiten, in denen die Rechner aufgrund von technischen oder
sonstigen Problemen, die nicht im Einflußbereich von FASTBILL liegen (höhere Gewalt, Verschulden Dritter etc.), nicht über
das Internet zu erreichen sind. Geplante oder notwendige Wartungsarbeiten, die zu Ausfallzeiten führen und vorher als Wartungsfenster
kommuniziert wurden, werden als Verfügbar gewertet. Weiterer Bestandteil der Leistungsverpflichtung sind die vertraglich
vereinbarten Leistungspakete und Optionen. FASTBILL behält sich das Recht vor, seine Leistungen zu modifizieren oder zu verbessern.
Bei Einschränkungen des Leistungsumfanges besitzt der Kunde ein außerordentliches Kündigungsrecht. Werden Dienstleistungen
kostenlos bereitgestellt, so ist FASTBILL berechtigt diese fristlos und ohne Vorankündigung wieder einzustellen. Ein Minderungs-,
Erstattungsoder Schadensersatzanspruch kann dadurch nicht begründet werden. Eine grundlegende Änderung der rechtlichen oder
technischen Standards im Internet erlaubt es FASTBILL außerordentlich zu kündigen, wenn es für FASTBILL dadurch unzumutbar
wird, ihre Leistungen ganz oder teilweise im Rahmen des Vertragszwecks zu erbringen. Zahlungsbedingungen Sämtliche von FASTBILL
angegebenen Preise verstehen sich zuzüglich der gesetzlichen Mehrwertsteuer, sofern nicht ander gekennzeichnet. Die vereinbarten
Grundentgelte sind gemäß vertraglicher Vereinbarung jeweils einen Monat im Voraus zahlbar und werden mit Zugang der Rechnung
fällig. Zahlungen des Auftraggebers an den Auftragnehmer für die Nutzung des Dienstes oder für weitere Produkte innerhalb
des Systems erfolgen per elektronischem Lastschrifteinzug über FASTBILL oder über den Dienstleister cleverbridge GmbH in
Köln. Der Auftraggeber erhält einen Hinweis, bevor eine Weiterleitung zu den Seiten von cleverbridge für die Durchführung
der Zahlung erfolgt. Im Falle der Abrechnung über FASTBILL ermächtigt der Kunde FASTBILL, die von ihm zu leistenden Zahlungen
zu Lasten eines vom Kunden zu benennenden Kontos einzuziehen. Bei Rücklastschriften ist FASTBILL berechtigt eine Bearbeitungsgebühr
von pauschal 20,00 € pro Lastschrift zu berechnen. Die Aufrechnung mit bestrittenen und nicht rechtskräftig festgestellten
Gegenforderungen sowie die Zurückbehaltung von Zahlungen durch den Kunden aufgrund von Gegenansprüchen aus anderen Vertragsverhältnissen
ist ausgeschlossen. Zahlungen werden immer auf die älteste offene Forderung angerechnet. Mitwirkungs- und Kundenpflichten
Der Kunde ist verpflichtet, für eine entsprechende Deckung auf das von ihm in der Lastschrifteinzugsermächtigung angegebene
Konto zu sorgen. Der Kunde sichert zu, daß die von ihm gemachten Datenangaben richtig und vollständig sind. Er sichert auch
zu, dass er die Leistungen von FASTBILL nicht als Verbraucher bezieht. Er verpflichtet sich, FASTBILL jeweils unverzüglich
über Änderungen der mitgeteilten Daten (insbesondere über die Änderung der Daten zum Bankkonto des Kunden) zu unterrichten.
Der Kunde stellt FASTBILL von allen Ansprüchen Dritter aus der Verletzung ihrer Schutzrechte durch die vom Kunden über das
Internet dargebotenen bzw. übermittelten Inhalte frei. Die Freistellung erfolgt in der Weise, dass der Kunde FASTBILL den
gesamten durch die Inanspruchnahme seitens des Dritten entstandenen Aufwand einschließlich angefallener Kosten der Rechtsverteidigung
zu ersetzen hat. Haftung des Kunden Der Kunde haftet für alle Schäden und Rechtsfolgen, die FASTBILL oder ihren Erfüllungsgehilfen
durch eine missbräuchliche oder rechtswidrige Nutzung des Portals entstehen. Haftungsbeschränkungen Schadensersatzansprüche
wegen Pflichtverletzungen aus Schuldverhältnis und wegen unerlaubter Handlung können gegenüber FASTBILL und deren Erfüllungs-
und Verrichtungsgehilfen nur insoweit geltend gemacht werden, soweit vorsätzliches oder grob fahrlässiges Handeln nachgewiesen
werden kann. Der vorgenannte Haftungsausschluss betrifft nicht die Verletzung vertragswesentlicher Pflichten (Kardinalpflichten).
Die Haftung von FASTBILL wegen zugesicherter Eigenschaften, bei Personenschäden sowie aufgrund zwingender gesetzlicher Vorschriften
bleibt ebenfalls unberührt. Leistungsstörungen aufgrund höherer Gewalt, insbesondere der Ausfall oder die Überlastung von
globalen Kommunikationsnetzen, hat FASTBILL nicht zu vertreten. Der Kunde kann aus diesem Grund keine Minderung seiner Leistungspflicht
reklamieren. FASTBILL haftet nicht für die über ihre Dienste publizierten Informationen. Für deren Richtigkeit, Vollständigkeit
und Aktualität ist der Absender verantwortlich. FASTBILL haftet nicht für Schäden, die kundenseitig aufgrund mangelnder Sicherungsvorkehrungen
bei der Datenübermittlung entstehen können. Eine mögliche Schadenersatzpflicht wird in der Höhe der Jahresgebühr beschränkt.
Die Haftung für Schäden aus Datenverlusten wird auf die Höhe beschränkt, die bei ordnungsgemäßer Datensicherung entstanden
wären, maximal jedoch in Höhe der Jahresgebühr. Schadensersatzansprüche des Kunden verjähren nach einem Jahr nach ihrem Entstehen
unbeschadet der Vorschrift des § 202 BGB. Diese Verkürzung gilt nicht, wenn FASTBILL grob fahrlässig oder mit Vorsatz gehandelt
hat. Geheimhaltung und Datenschutz FASTBILL verpflichtet sich, sämtliche im Zusammenhang mit dem Vertragsschluss zugänglichen
Informationen und Unterlagen, die als vertraulich bezeichnet werden, oder nach sonstigen Umständen eindeutig als Geschäfts-
oder Betriebsgeheimnisse des Kunden erkennbar sind, geheim zu halten und sie – soweit nicht zu Erreichung des Vertragszweckes
geboten – weder aufzuzeichnen noch weiterzugeben oder zu verwerten. FASTBILL hat durch geeignete vertragliche Abreden mit
den für sie tätigen Arbeitnehmern und Arbeitnehmerinnen und/oder Beauftragten sichergestellt, dass auch diese jede eigene
Verwertung, Weitergabe oder unbefugte Aufzeichnung solcher Geschäfts- und Betriebsgeheimnisse unterlassen. Entsprechende
Verpflichtungen treffen den Kunden in Bezug auf Geschäfts- und Betriebsgeheimnisse von FASTBILL. Der Kunde ist damit einverstanden,
dass seine im Rahmen der Geschäftsbeziehungen zugehenden personenbezogenen Daten zur Abwicklung des Geschäftsverhältnisses
EDV-mäßig gespeichert und automatisiert verarbeitet werden. Der Kunde wird hiermit gemäß § 33 Absatz 1 Bundesdatenschutzgesetz
sowie auf § 4 der Teledienstedatenschutzgesetz (TDDSG) davon unterrichtet, dass FASTBILL und beauftragte Erfüllungsgehilfen
ihre Daten maschinell verarbeiten. Er ist berechtigt, jederzeit die zu seiner Person oder zu seinem Pseudonym gespeicherten
Daten unentgeltlich bei FASTBILL abzufragen. FASTBILL verpflichtet sich, diese Daten einzig zur Leistungserbringung zu verwenden
und nicht an Dritte weiterzugeben, es sei denn diese Personen sind an der Leistungserstellung beteiligt. Der Kunde stellt
FASTBILL von sämtlichen Ansprüchen Dritter hinsichtlich kundenseitig überlassener Daten frei. Soweit nichts anderes vereinbart
gestattet der Kunde die Kommunikation per Telefax und per E-Mail. Trotz aller Sorgfalt können bei der Kommunikation per E-Mail
Computerviren o.ä. übertragen werden. Der Kunde hat entsprechende Sicherungsvorkehrungen zu treffen, um Schäden an seine
Systeme zu verhindern. Sofern die E-Mail nicht elektronisch signiert ist, ist nicht 100% sichergestellt, daß die E-Mail tatsächlich
vom Absender stammt, der angegeben ist, bzw. auf dem Übertragungswege unverändert geblieben ist. E-Mails und Telefaxe können
durch Dritte mitgelesen werden. Dieses Riskio kann durch Verschlüsselung gemindert aber nicht gänzlich ausgeschlossen werden.
Dies nimmt der Kunde in Kauf. Anwendbares Recht, Gerichtsstand Es gilt deutsches Recht. Gerichtsstand für alle Streitigkeiten
aus dem Vertragsverhältnis der Parteien ist Duisburg. Stand: 7.9. 2011