<style>
	.important {
		background: #FFEBEB;
	}
</style>
<meta charset="utf-8">
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-10">
				<h2>{{ 'CUSTOMER_MENU' | translate }}</h2>
				<ol class="breadcrumb">
					<li>
						<a href="#/dashboard">Home</a>
					</li>
					<li class="active">
						<strong>{{ 'CUSTOMER_MENU' | translate }}</strong>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>{{ 'CUSTOMER_MANAGE_CUSTOMER' | translate }} - <strong>{{customerCtrl.customerService.page.totalElements}}</strong>&nbsp;{{
						'CUSTOMER_MENU' | translate }}</h5>
				</div>
				<div class="ibox-content" style="overflow-x: auto">
					<form role="form" class="form-inline">
						<button type="button" class="btn btn-success btn-primary" ng-click="customerCtrl.showCustomer(0)" >
                                <i class="fa fa-plus"></i>
                                &nbsp;{{ 'CUSTOMER_CREATE' | translate }}
                        </button>
						<span class="pull-right" style=" font-size: 1.5em;">{{ 'CUSTOMER_INCL' | translate }} &nbsp;
							<input type="checkbox" ng-model="customerCtrl.loadAllCustomers" ng-change="customerCtrl.searchCustomer('noSearchText')" 
							class="js-switch" ui-switch="{color: '#ed5565', secondaryColor: '#F3F3F3'}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input  type="text" placeholder="{{ 'COMMON_SEARCH' | translate }}" class="input-sm form-control" ng-model="customerCtrl.searchText" ng-model-options="{debounce: 600}">
						</span>
					</form>
					<div class="project-list">
						<table class="table table-hover">
							<thead>
								<tr>
									<th></th>
									<th class="text-left">{{ 'COMMON_NAME' | translate }}</th>
									<th class="text-left">{{ 'COMMON_EMAIL' | translate }}</th>
									<th class="text-left">{{ 'COMMON_PHONE' | translate }}</th>
									<th class="text-left">{{ 'COMMON_COMPANY' | translate }}</th>
                                    <th class="text-center"><i class="fa fa-cog"></i></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="customer in customerCtrl.customerService.pagingCustomers" >
									<td class="project-status col-md-1 text-center" ng-click="customerCtrl.showCustomer(customer.id)" style="cursor: pointer">
										<span ng-show="!customer.deactivated" class="label label-primary">{{ 'COMMON_ACTIVATED' | translate }}</span>
										<span ng-show="customer.deactivated" class="label label-default">{{ 'COMMON_DEACTIVATED' | translate }}</span>
									</td>
									<td  class="project-title col-md-3 text-left"  ng-click="customerCtrl.showCustomer(customer.id)" style="cursor: pointer">
										{{customer.firstname}} {{customer.lastname}}
										<br>
										<small>{{ 'CUSTOMER_CREATED' | translate }} {{customerCtrl.getLocalTimestamp(customer)}}</small>
									</td>
									<td style="white-space: nowrap;cursor: pointer" class="project-title col-md-3 text-left"  ng-click="customerCtrl.showCustomer(customer.id)" >
										{{customer.email}}
									</td>
									<td style="white-space: nowrap;cursor: pointer" class="project-title col-md-2 text-left"  ng-click="customerCtrl.showCustomer(customer.id)" >
										{{customer.phone}}
									</td>
									<td style="white-space: nowrap;cursor: pointer" class="project-completion col-md-3 text-left"  ng-click="customerCtrl.showCustomer(customer.id)" >
										{{customer.company}}
									</td>
									<td class="project-actions col-md-1 text-center" >
                                        <button type="button " class="btn btn-white btn-sm " ng-click="customerCtrl.goToCustomerDetail(customer.id)">
                                     <i class="fa fa-history "></i></button>
                                    </td>

								</tr>
							</tbody>
						</table>
						<div ng-if="!customerCtrl.customerService.page.last" class="row" style="text-align: center;">
							<a href="" ng-click="customerCtrl.loadNextCustomers()">20 {{ 'COMMON_LOAD_MORE' | translate }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>