<div class="modal inmodal fade" id="createCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 ng-show="customerCtrl.isCurrentCustomerNew" class="modal-title">{{ 'CUSTOMER_CREATE' | translate }}</h4>
                <h4 ng-show="!customerCtrl.isCurrentCustomerNew" class="modal-title">{{ 'CUSTOMER_EDIT' | translate }}</h4>

            </div>
            <div class="modal-body">
                <form name="customerCtrl.createCustomerForm" novalidate>
                    <div class="row">
                        <!-- NAME -->
                        <div class="col-sm-6 b-r">
                            <div class="form-group">
                                <label>{{ 'COMMON_TITLE' | translate }}</label>
                                <select name="title" class="form-control" ng-model="customerCtrl.currentCustomer.title">
                                    <option value="MR">{{ 'COMMON_TITLE_MR' | translate }}</option>
                                    <option value="MS">{{ 'COMMON_TITLE_MS' | translate }}</option>
                                </select>
                            </div>
                            <!-- FIRSTNAME -->
                            <div class="form-group" ng-class="{ 'has-error' : customerCtrl.createCustomerForm.firstname.$invalid && !customerCtrl.createCustomerForm.firstname.$pristine }">
                                <label>{{ 'COMMON_FIRSTNAME' | translate }}<span style="color:red">*</span></label>
                                <span style="color:red" ng-show="customerCtrl.createCustomerForm.firstname.$error.maxlength" >{{ 'COMMON_VALIDATE_MAX' | translate }}30{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
                                <span style="color:red" ng-show="customerCtrl.createCustomerForm.firstname.$error.required && !customerCtrl.createCustomerForm.firstname.$pristine"
                                    >{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
                                    <input required type="text" name="firstname" class="form-control" ng-model="customerCtrl.currentCustomer.firstname" ng-maxlength="30">
                            </div>
                            <!-- LASTNAME -->
                            <div class="form-group" ng-class="{ 'has-error' : customerCtrl.createCustomerForm.lastname.$invalid && !customerCtrl.createCustomerForm.lastname.$pristine }">
                                <label>{{ 'COMMON_LASTNAME' | translate }}<span style="color:red">*</span></label>
                                <span style="color:red" ng-show="customerCtrl.createCustomerForm.lastname.$error.maxlength" >{{ 'COMMON_VALIDATE_MAX' | translate }}30{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
                                <span style="color:red" ng-show="customerCtrl.createCustomerForm.lastname.$error.required && !customerCtrl.createCustomerForm.lastname.$pristine"
                                    >{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
                                    <input required type="text" name="lastname" class="form-control" ng-model="customerCtrl.currentCustomer.lastname" ng-maxlength="30">
                            </div>
                            <!-- COMPANY -->
                            <div class="form-group" ng-class="{ 'has-error' : customerCtrl.createCustomerForm.company.$invalid && !customerCtrl.createCustomerForm.company.$pristine }">
                                <label>{{ 'COMMON_COMPANY' | translate }}</label>
                                <span style="color:red" ng-show="customerCtrl.createCustomerForm.company.$invalid && !customerCtrl.createCustomerForm.company.$pristine" >{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
                                <input type="text" name="company" class="form-control" ng-model="customerCtrl.currentCustomer.company" ng-maxlength="50">
                            </div>
                             <!-- CUSTOMERNUMBER -->
                            <div class="form-group" ng-class="{ 'has-error' : customerCtrl.createCustomerForm.customerNumber.$invalid && !customerCtrl.createCustomerForm.customerNumber.$pristine }">
                                <label>{{ 'CUSTOMER_NUMBER' | translate }}</label>
                                <span style="color:red" ng-show="customerCtrl.createCustomerForm.customerNumber.$invalid && !customerCtrl.createCustomerForm.customerNumber.$pristine"
                                    >{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
                                    <input type="text" name="customerNumber" class="form-control" ng-model="customerCtrl.currentCustomer.customerNumber" ng-maxlength="50">
                            </div>
                        </div>
                        <div class="col-sm-6">  
                            <!-- EMAIL -->
                            <div class="form-group" ng-class="{ 'has-error' : customerCtrl.createCustomerForm.email.$invalid && !customerCtrl.createCustomerForm.email.$pristine }">
                                <label>{{ 'COMMON_EMAIL' | translate }}</label>
                                <span style="color:red" ng-show="customerCtrl.createCustomerForm.email.$invalid && !customerCtrl.createCustomerForm.email.$pristine" >{{ 'COMMON_VALIDATE_EMAIL'| translate }}</span>
                                <input type="email" name="email" class="form-control" ng-model="customerCtrl.currentCustomer.email">
                            </div>
                            <!-- PHONE -->
                            <div class="form-group" ng-class="{ 'has-error' : customerCtrl.createCustomerForm.phone.$invalid && !customerCtrl.createCustomerForm.phone.$pristine }">
                                <label>{{ 'COMMON_PHONE' | translate }}</label>
                                <span style="color:red" ng-show="customerCtrl.createCustomerForm.phone.$invalid && !customerCtrl.createCustomerForm.phone.$pristine" >{{ 'COMMON_VALIDATE_MAX' | translate }}20{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
                                <input type="text" name="phone" class="form-control" ng-model="customerCtrl.currentCustomer.phone" ng-maxlength="20">
                            </div>
                             <!-- FAX -->
                            <div class="form-group" ng-class="{ 'has-error' : customerCtrl.createCustomerForm.fax.$invalid && !customerCtrl.createCustomerForm.fax.$pristine }">
                                <label>{{ 'COMMON_FAX' | translate }}</label>
                                <span style="color:red" ng-show="customerCtrl.createCustomerForm.fax.$invalid && !customerCtrl.createCustomerForm.fax.$pristine" >{{ 'COMMON_VALIDATE_MAX' | translate }}20{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
                                <input type="text" name="fax" class="form-control" ng-model="customerCtrl.currentCustomer.fax" ng-maxlength="20">
                            </div>
                             <!-- MOBILE -->
                            <div class="form-group" ng-class="{ 'has-error' : customerCtrl.createCustomerForm.mobile.$invalid && !customerCtrl.createCustomerForm.mobile.$pristine }">
                                <label>{{ 'COMMON_MOBILE' | translate }}</label>
                                <span style="color:red" ng-show="customerCtrl.createCustomerForm.mobile.$invalid && !customerCtrl.createCustomerForm.mobile.$pristine" >{{ 'COMMON_VALIDATE_MAX' | translate }}20{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
                                <input type="text" name="mobile" class="form-control" ng-model="customerCtrl.currentCustomer.mobile" ng-maxlength="20">
                            </div>
                             <!-- ACTIVE -->
                            <div class="form-group" ng-show="!customerCtrl.isCurrentCustomerNew">
                                <label class="checkbox-inline"> <input type="checkbox"  ng-model="customerCtrl.currentCustomer.deactivated" id="inlineCheckbox1">{{ 'PRODUCT_DEACTIVATED' | translate }}</label>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'COMMON_CANCEL' | translate }}</button>
                <button type="button" class="btn btn-success" ng-disabled="customerCtrl.createCustomerForm.$invalid" ng-click="customerCtrl.saveCustomer()"
                    data-dismiss="modal">{{ 'COMMON_SAVE' | translate }}</button>
            </div>
        </div>
    </div>
</div>