<style>
    .not-sortable {
        opacity: 0.75;
        cursor: default !important;
    }

    .huge {
        font-size: 2em;
    }

    .span-left-margin {
        margin-left: 5%;
    }

    .span-right-margin {
        margin-right: 5%;
    }

    .statisticDiv {
        height: 80px;
    }
</style>
<meta charset="utf-8">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-10">
                <h2>Dashboard</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#/dashboard">Home</a>
                    </li>
                    <li class="active">
                        <strong>Dashboard</strong>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Plan example for container -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{dashboard.salesAmount}}/{{dashboard.leadsAmount}}</div>
                            <div>Ausbeute</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer statisticDiv">
                    <div class="row">
                        <span class="pull-left span-left-margin">
                             <label class="control-label">Anfragen </label>
                        </span>
                        <span class="pull-right badge span-right-margin">{{dashboard.leadsAmount}} </span>
                    </div>
                    <div class="row">
                        <span class="pull-left span-left-margin">
                             <label class="control-label">Angebote </label>
                        </span>
                        <span class="pull-right badge span-right-margin">{{dashboard.offersAmount}} </span>
                    </div>
                    <div class="row">
                        <span class="pull-left span-left-margin">
                             <label class="control-label">Sales </label>
                        </span>
                        <span class="pull-right badge span-right-margin">{{dashboard.salesAmount}} </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-usd fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{dashboard.profit | currency:'\u20AC'}}</div>
                            <div>Gewinn</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer statisticDiv">
                    <div class="row">
                        <span class="pull-left span-left-margin">
                             <label class="control-label">Umsatz </label>
                        </span>
                        <span class="pull-right badge span-right-margin">{{dashboard.turnover | currency:'\u20AC'}} </span>
                    </div>
                    <div class="row">
                        <span class="pull-left span-left-margin">
                             <label class="control-label">Gewinn </label>
                        </span>
                        <span class="pull-right badge span-right-margin">{{dashboard.profit | currency:'\u20AC'}} </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-area-chart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{dashboard.conversionRate}}%</div>
                            <div>Conversionrate &nbsp;&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer statisticDiv">
                    <div class="row">
                        <span class="pull-left span-left-margin">
                             <label class="control-label">Conversionrate </label>
                        </span>
                        <span class="pull-right badge span-right-margin">{{dashboard.conversionRate}}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Manage Leads</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h3>Open leads</h3>
                                    <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
                                    <ul ui-sortable="dashboard.sortableOptions"
                                        class="sortable-list connectList agile-list" id="lead"
                                        ng-model="dashboard.openLead">
                                        <li class="danger-element"
                                            ng-repeat="lead in dashboard.openLead | orderBy:'name'">
                                            {{$index}}
                                            {{lead.name}}
                                            <div class="agile-detail">
                                                <a ng-click="dashboard.saveDataToModal(lead)"
                                                   class="pull-right btn btn-xs btn-white"
                                                   data-toggle="modal" data-target="#infoModal">Info</a>
                                                <a href="#/leads" class="pull-right btn btn-xs btn-white">Go To</a>
                                                <i class="fa fa-clock-o"></i> 12.10.2015
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h3>Open Offers</h3>
                                    <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
                                    <ul ui-sortable="dashboard.sortableOptions"
                                        class="sortable-list connectList agile-list" id="offer"
                                        ng-model="dashboard.openOffer">
                                        <li class="warning-element"
                                            ng-repeat="offer in dashboard.openOffer | orderBy:'name'">
                                            {{$index}}
                                            {{offer.name}}
                                            <div class="agile-detail">
                                                <a ng-click="dashboard.saveDataToModal(offer)"
                                                   class="pull-right btn btn-xs btn-white"
                                                   data-toggle="modal" data-target="#infoModal">Info</a>
                                                <a href="#/offers" class="pull-right btn btn-xs btn-white">Go To</a>
                                                <i class="fa fa-clock-o"></i> 12.10.2015
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <h3>Latest sales</h3>
                                    <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>
                                    <ul ui-sortable="dashboard.sortableOptions"
                                        class="sortable-list connectList agile-list" id="sale"
                                        ng-model="dashboard.sales">
                                        <li class="info-element"
                                            ng-repeat="sale in dashboard.sales | orderBy:'name'"
                                            ng-class="{'not-sortable': sale.locked}">
                                            {{$index}}
                                            {{sale.name}}
                                            <div class="agile-detail">
                                                <a ng-click="dashboard.saveDataToModal(sale)"
                                                   class="pull-right btn btn-xs btn-white"
                                                   data-toggle="modal" data-target="#infoModal">Info</a>
                                                <a href="#/sales" class="pull-right btn btn-xs btn-white">Go To</a>
                                                <i class="fa fa-clock-o"></i> 12.10.2015
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div ng-include="'component/dashboard/infoModal.html'"></div>
                    </div>
                    <button ng-click="dashboard.refreshData()" type="button" class="btn btn-success">
                        <i class="fa fa-refresh"></i>&nbsp;Reload data
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
