<div class="modal inmodal" id="infoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Details</h4>
                <h2>{{dashboard.infoData.name}}</h2>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered table-hover table-condensed text-left">
                    <tr>
                        <td>Name</td>
                        <td>{{dashboard.infoData.name}}</td>
                    </tr>
                    <tr>
                        <td>Container</td>
                        <td>{{dashboard.infoData.name}}</td>
                    </tr>
                    <tr>
                        <td>Menge</td>
                        <td>{{dashboard.infoData.name}}</td>
                    </tr>
                    <tr>
                        <td>Preis</td>
                        <td>{{dashboard.infoData.name}}</td>
                    </tr>
                    <tr>
                        <td>Lieferort</td>
                        <td>{{dashboard.infoData.name}}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>