<div class="modal inmodal" id="newLeadModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Anfrage erstellen</h4>
            </div>
            <div class="modal-body">
                <form name="addForm" novalidate>
                    <!-- TITLE -->
                    <div class="form-group">
                        <label>Title</label>
                        <select name="title" ng-model="lead.newLead.inquirer.title">
                            <option value="Herr">Herr</option>
                            <option value="Frau">Frau</option>
                        </select>
                    </div>
                    <!-- FIRSTNAME -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : addForm.firstname.$invalid && !addForm.firstname.$pristine }">
                        <label>Vorname</label>
                        <input type="text" name="firstname" class="form-control"
                               ng-model="lead.newLead.inquirer.firstname" ng-maxlength="30">
                        <p ng-show="addForm.firstname.$invalid && !addForm.firstname.$pristine"
                           class="help-block">Max 30 letters</p>
                    </div>
                    <!-- LASTNAME -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : addForm.lastname.$invalid && !addForm.lastname.$pristine }">
                        <label>Nachname</label>
                        <input type="text" name="lastname" class="form-control"
                               ng-model="lead.newLead.inquirer.lastname" ng-maxlength="30">
                        <p ng-show="addForm.lastname.$invalid && !addForm.lastname.$pristine"
                           class="help-block">Max 30 letters</p>
                    </div>
                    <!-- COMPANY -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : addForm.company.$invalid && !addForm.company.$pristine }">
                        <label>Firma</label>
                        <input type="text" name="company" class="form-control"
                               ng-model="lead.newLead.inquirer.company" ng-maxlength="50">
                        <p ng-show="addForm.company.$invalid && !addForm.company.$pristine"
                           class="help-block">Max 50 letters</p>
                    </div>
                    <!-- EMAIL -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : addForm.email.$invalid && !addForm.email.$pristine }">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control"
                               ng-model="lead.newLead.inquirer.email">
                        <p ng-show="addForm.email.$invalid && !addForm.email.$pristine"
                           class="help-block">Enter a valid email</p>
                    </div>
                    <!-- PHONE -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : addForm.phone.$invalid && !addForm.phone.$pristine }">
                        <label>Telefon</label>
                        <input type="text" name="phone" class="form-control"
                               ng-model="lead.newLead.inquirer.phone" ng-maxlength="50">
                        <p ng-show="addForm.phone.$invalid && !addForm.phone.$pristine"
                           class="help-block">Max 50 letters</p>
                    </div>
                    <!-- CONTAINER NAME -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : addForm.containerName.$invalid && !addForm.containerName.$pristine }">
                        <label>Container Name *</label>
                        <input type="text" name="containerName" class="form-control"
                               ng-model="lead.newLead.container.name" ng-maxlength="50" required>
                        <p ng-show="addForm.containerName.$invalid && !addForm.containerName.$pristine"
                           class="help-block">Container required(Max 50 letters)</p>
                    </div>
                    <!-- CONTAINER DESCRIPTION -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : addForm.containerDescription.$invalid && !addForm.containerDescription.$pristine }">
                        <label>Container Beschreibung</label>
                        <input type="text" name="containerDescription" class="form-control"
                               ng-model="lead.newLead.container.description" ng-maxlength="100">
                        <p ng-show="addForm.containerDescription.$invalid && !addForm.containerDescription.$pristine"
                           class="help-block">Max 100 letters</p>
                    </div>
                    <!-- CONTAINER AMOUNT -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : addForm.containerAmount.$invalid && !addForm.containerAmount.$pristine }">
                        <label>Anzahl container *</label>
                        <input type="number" name="containerAmount" class="form-control"
                               ng-model="lead.newLead.containerAmount" required min="1" ng-pattern="/^[1-9]+[0-9]*$/">
                        <p ng-show="addForm.containerAmount.$invalid && !addForm.containerAmount.$pristine"
                           class="help-block">Container amount required</p>
                    </div>
                    <!-- PRICE -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : addForm.nettoPrice.$invalid && !addForm.nettoPrice.$pristine }">
                        <label>Preis pro Container(Netto) *</label>
                        <input type="number" name="nettoPrice" class="form-control"
                               ng-model="lead.newLead.container.priceNetto" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                               step="0.01" required>
                        <p ng-show="addForm.nettoPrice.$invalid && !addForm.nettoPrice.$pristine"
                           class="help-block">Container price is required</p>
                    </div>
                    <!-- CONTAINER DESTINATION -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : addForm.containerDestination.$invalid && !addForm.containerDestination.$pristine }">
                        <label>Lieferort</label>
                        <input type="text" name="containerDestination" class="form-control"
                               ng-model="lead.newLead.destination" ng-maxlength="50">
                        <p ng-show="addForm.containerDestination.$invalid && !addForm.containerDestination.$pristine"
                           class="help-block">Max 30 letters</p>
                    </div>
                    <!-- ENTIRE PRICE -->
                    <div class="form-group">
                        <h2>Gesamtpreis(Netto):  {{lead.newLead.containerAmount * lead.newLead.container.priceNetto | currency:'\u20AC'}}</h2>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-success" ng-disabled="addForm.$invalid"
                        ng-click="lead.saveLead()" data-dismiss="modal">Speichern
                </button>
            </div>
        </div>
    </div>
</div>