<style>
    .chat-view {
        word-break: break-all;
    }
</style>
<div class="row">
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h3>Container Information</h3>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered text-left">
                    <tr>
                        <td>Name</td>
                        <td>{{lead.firstName}}</td>
                    </tr>
                    <tr>
                        <td>Container</td>
                        <td>{{lead.firstName}}</td>
                    </tr>
                    <tr>
                        <td>Menge</td>
                        <td>{{lead.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Preis</td>
                        <td>{{lead.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Lieferort</td>
                        <td>{{lead.lastName}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h3>Notiz</h3>
            </div>
            <div class="ibox-content text-left">{{lead.lastName}}</div>
        </div>
    </div>
</div>
<div class="row" ng-include="'component/leads/commentView.html'"></div>
<div class="row" ng-include="'component/leads/allCommentsModal.html'"></div>