<style>
	.important {
		background: #FFEBEB;
	}
	
	#ngdatatable tr td {
		height: 65px;
	}
</style>

<meta charset="utf-8">
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-10">
				<h2>{{ 'OFFER_OFFERS' | translate }}</h2>
				<ol class="breadcrumb">
					<li>
						<a href="#/dashboard">Home</a>
					</li>
					<li class="active">
						<strong>{{ 'OFFER_OFFERS' | translate }}</strong>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<!-- <ul class="nav nav-tabs">
        <li class="active" ng-click="offerCtrl.otherTabOnClick(1)"><a data-toggle="tab" aria-expanded="true">{{
				'OFFER_TAB_OFFERS' | translate }}</a></li>
        <li ng-click="offerCtrl.otherTabOnClick(2)"><a data-toggle="tab" aria-expanded="true">{{ 'OFFER_TAB_FILES' | translate
				}}</a></li>
        <li ng-click="offerCtrl.otherTabOnClick(3)"><a data-toggle="tab" aria-expanded="true">{{ 'OFFER_TAB_TEMPLATES' | translate
				}}</a></li>
    </ul>
    </br>-->
	<div ng-include="'components/Offer/view/Offer.Offers.html'"></div>
	<!-- <div ng-include="'components/Offer/view/Offer.Files.html'"></div>
    <div ng-include="'components/Offer/view/Offer.Templates.html'"></div>
    -->
</div>