<style>
	.important {
		background: #FFEBEB;
	}
	.tooltip.noActionTooltip .tooltip-inner {
		width: 250px;
		max-width: 300px;
	}
</style>

<meta charset="utf-8">
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-10">
				<h2>{{ 'OFFER_OFFERS' | translate }}</h2>
				<ol class="breadcrumb">
					<li>
						<a href="#/dashboard">Home</a>
					</li>
					<li class="active">
						<strong>{{ 'OFFER_OFFERS' | translate }}</strong>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>{{ 'OFFER_MANAGE_OFFERS' | translate }}</h5>
				</div>
				<div class="ibox-content">
					<span class="pull-right" style=" font-size: 1.5em;">{{ 'OFFER_SHOW_ALL_OFFERS' | translate }} &nbsp;<input type="checkbox"
                                                                                               ng-model="offerCtrl.loadAllData"
                                                                                               ng-change="offerCtrl.changeDataInput()"
                                                                                               class="js-switch"
                                                                                               ui-switch="{color: '#ed5565', secondaryColor: '#F3F3F3'}"/></span>
					<br/>
					<br/>
					<div class="table-responsive text-center">
						<table id="ngdatatable" datatable="" dt-options="offerCtrl.dtOptions" dt-columns="offerCtrl.dtColumns" dt-disable-deep-watchers="true" dt-instance="offerCtrl.dtInstanceCallback"
							class="table table-bordered table-hover table-condensed text-center" style="width:100%;"></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Page level script-->
<script>
    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "date-euro-pre": function (date) {
            return moment(date, 'DD.MM.YYYY HH:mm');
        },

        "date-euro-asc": function (a, b) {
            return (a.isBefore(b) ? -1 : (a.isAfter(b) ? 1 : 0));
        },

        "date-euro-desc": function (a, b) {
            return (a.isBefore(b) ? 1 : (a.isAfter(b) ? -1 : 0));
        }
    });
</script>