<form name="cform" novalidate>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label>{{ 'CUSTOMER_MENU' | translate }}</label><i class="fa fa-question-circle" data-toggle="tooltip" title="{{ 'TOOLTIP_CUSTOMER_LOOKUP' | translate }}"></i>
				<div class="input-group" id="typeahead-autocompletion">
					<input type="text" class="form-control" ng-model="selectedCustomer" placeholder="{{ 'CUSTOMER_SELECT' | translate }}"
						uib-typeahead="customer as (customer.firstname +' '+ customer.lastname +' '+ (customer.company==null?'':customer.company)) for customer in customerService.getCustomerBySearchText($viewValue)"
						typeahead-editable="false" typeahead-on-select="selectCustomer($model)" typeahead-no-results="noResults"
						typeahead-show-hint="true" typeahead-min-length="3" typeahead-wait-ms="600" ng-blur="(noResults) ? selectCustomer($model):'doNothing'"
						ng-disabled="!editable">
					<span class="input-group-btn">
       				 <button style="height: 34px;" class="btn btn-secondary btn btn-white" type="button" ng-disabled="!editable" ng-click="selectCustomer(null);showCustomerDetails=true">&nbsp;<i class="fa fa-times"></i>&nbsp;</button>
      				</span>
				</div>
			</div>
		</div>
		<div class="col-sm-3" style="width:20%">
			<br>
			<div>
				<span ng-click="showCustomerDetails=showCustomerDetails!==true?true:false" class="pull-left" style="font-size: 1.5em;cursor:pointer">
					<h4>{{ 'CUSTOMER_DETAIL_MENU' | translate }}
						<i ng-if="showCustomerDetails===true" class="fa fa-caret-up" aria-hidden="true"></i>
						<i ng-if="showCustomerDetails!==true" class="fa fa-caret-down" aria-hidden="true"></i>
					</h4> 
				</span>	
			</div>	
			<br>
			<br>
			<div>
				<a ng-if="editWorkflowUnit.message.length > 0" style="font-size: 1.5em" tooltip-class="customMessage" uib-tooltip-template="'components/Wizard/view/Message.Template.html'" tooltip-placement="bottom-left"><i style="margin-top:-12px;" class="fa fa-envelope"></i></a>     	
			</div>
		</div>
		<div class="col-sm-3" style="width:30%">
			<!-- SOURCE -->
			<div class="form-group">
				<label>{{ 'SOURCE_SOURCE' | translate }}</label>
				<select name="source" class="form-control" ng-model="editProcess.source" ng-disabled="!editable" ng-options="s.name for s in sourceService.getActiveSources() track by s.id">
					<option></option></select>
			</div>
		</div>
	</div>
	<div class="row" ng-show="showCustomerDetails">
		<div class="col-sm-3">
			<div class="form-group">
				<label>{{ 'COMMON_TITLE' | translate }}</label>
				<select name="title" class="form-control" ng-model="editWorkflowUnit.customer.title" ng-disabled="customerSelected">
                    <option value="MR">{{ 'COMMON_TITLE_MR' | translate }}</option>
                    <option value="MS">{{ 'COMMON_TITLE_MS' | translate }}</option>
                </select>
			</div>
		</div>
		<div class="col-sm-3">
			<!-- FIRSTNAME -->
			<div class="form-group" ng-class="{ 'has-error' : cform.firstname.$invalid}">
				<label>{{ 'COMMON_FIRSTNAME' | translate }}
					<span style="color:red">*</span>
				</label>
				<span style="color:red" ng-show="cform.firstname.$error.maxlength">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
				<span style="color:red" ng-show="cform.firstname.$error.required && !cform.firstname.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
				<input required type="text" name="firstname" class="form-control" ng-model="editWorkflowUnit.customer.firstname" ng-maxlength="30"
					ng-disabled="customerSelected">
			</div>
		</div>
		<div class="col-sm-3">
			<!-- LASTNAME -->
			<div class="form-group" ng-class="{ 'has-error' : cform.lastname.$invalid}">
				<label>{{ 'COMMON_LASTNAME' | translate }}
					<span style="color:red">*</span>
				</label>
				<span style="color:red" ng-show="cform.lastname.$error.maxlength">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
				<span style="color:red" ng-show="cform.lastname.$error.required && !cform.lastname.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
				<input required type="text" name="lastname" class="form-control" ng-model="editWorkflowUnit.customer.lastname" ng-maxlength="30"
					ng-disabled="customerSelected">
			</div>
		</div>
		<div class="col-sm-3">
			<!-- COMPANY -->
			<div class="form-group" ng-class="{ 'has-error' : cform.company.$invalid && !cform.company.$pristine }">
				<label>{{ 'COMMON_COMPANY' | translate }}</label>
				<span style="color:red" ng-show="cform.company.$invalid && !cform.company.$pristine">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
				<input type="text" name="company" class="form-control" ng-model="editWorkflowUnit.customer.company" ng-maxlength="50"
					ng-disabled="customerSelected">
			</div>
		</div>
	</div>
	<div class="row" ng-show="showCustomerDetails">
		<div class="col-sm-6">
			<!-- EMAIL -->
			<div class="form-group" ng-class="{ 'has-error' : cform.email.$invalid && !cform.email.$pristine }">
				<label>{{ 'COMMON_EMAIL' | translate }}	</label>
				<span style="color:red" ng-show="cform.email.$invalid && !cform.email.$pristine">{{ 'COMMON_VALIDATE_EMAIL'| translate }}</span>
				<input type="email" name="email" class="form-control" ng-model="editWorkflowUnit.customer.email" ng-disabled="customerSelected" ng-model-options="{debounce: 300}" ng-maxlength="255">
			</div>
		</div>
		<div class="col-sm-3">
			<!-- PHONE -->
			<div class="form-group" ng-class="{ 'has-error' : cform.phone.$invalid && !cform.phone.$pristine }">
				<label>{{ 'COMMON_PHONE' | translate }}</label>
				<span style="color:red" ng-show="cform.phone.$invalid && !cform.phone.$pristine">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
				<input type="text" name="phone" class="form-control" ng-model="editWorkflowUnit.customer.phone" ng-maxlength="50"
					ng-disabled="customerSelected">
			</div>
		</div>
	</div>
</form>
<style>
.tooltip.customMessage .tooltip-inner {
	text-align: left;
	color: black;
	background-color: white;
	width: 250px;
	max-width: 250px;
	box-shadow: 0px 1px 12px rgba(0,0,0,1);
	}
#typeahead-autocompletion .dropdown-menu {
	max-height: 225px;
	max-width: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	}
</style>