<form name="sform">
	<div class="row">
		<div class="col-sm-6 text-left">
			<!-- SALE TURNOVER -->
			<div class="form-group" ng-class="{ 'has-error' : sform.saleTurnover.$invalid && !sform.saleTurnover.$pristine }">
				<label>{{ 'COMMON_PRODUCT_SALE_TURNOVER'| translate }}<span style="color:red">*</span></label>
				<div class="input-group">
					<span class="input-group-addon">{{ 'COMMON_CURRENCY'| translate }}</span>
					<input type="number" name="saleTurnover" ng-model="editWorkflowUnit.saleTurnover" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
						step="0.01" min="0" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency"  required
						ng-keyup="calculateProfit()">
				</div>
				<p ng-show="sform.saleTurnover.$invalid && !sform.saleTurnover.$pristine" class="help-block">{{ 'COMMON_VALIDATE_REQ'| translate }}({{ 'COMMON_VALIDATE_REQ_NUMBER'| translate }})</p>
			</div>
		</div>
		<div class="col-sm-6 text-left">
			<!-- SALE INVOICE NUMBER -->
			<div class="form-group" ng-class="{ 'has-error' : sform.saleInvoiceNumber.$invalid }">
				<label>{{ 'COMMON_PRODUCT_SALE_INVOICE_NUMBER'| translate }}</label>
				<input type="text" name="saleInvoiceNumber" class="form-control" ng-model="editWorkflowUnit.invoiceNumber"
					ng-blur="existsInvoiceNumber()">
				<p ng-show="invoiceNumberAlreadyExists" class="help-block" style="color:#FFCC00"> {{ 'COMMON_VALIDATE_INVOICE_NUMBER_ALREADY_EXISTS'| translate }}</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-left">
			<!-- SALE COST -->
			<div class="form-group" ng-class="{ 'has-error' : sform.saleCost.$invalid && !sform.saleCost.$pristine }">
				<label>{{ 'COMMON_PRODUCT_SALE_COST'| translate }}<span style="color:red">*</span></label>
				<div class="input-group">
					<span class="input-group-addon">{{ 'COMMON_CURRENCY'| translate }}</span>
					<input type="number" name="saleCost" ng-model="editWorkflowUnit.saleCost" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
						step="0.01" min="0" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency"  required
						ng-keyup="calculateProfit()">
				</div>
				<p ng-show="sform.saleCost.$invalid && !sform.saleCost.$pristine" class="help-block">{{ 'COMMON_VALIDATE_REQ'| translate }}({{ 'COMMON_VALIDATE_REQ_NUMBER'| translate }})</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-left">
			<!-- SALE PROFIT -->
			<div class="form-group" ng-class="{ 'has-error' : sform.saleProfit.$invalid && !sform.saleProfit.$pristine }">
				<label>{{ 'COMMON_PRODUCT_SALE_PROFIT'| translate }}<span style="color:red">*</span></label>
				<div class="input-group">
					<span class="input-group-addon">{{ 'COMMON_CURRENCY'| translate }}</span>
					<input type="number" name="saleProfit" ng-disabled="true"  ng-model="editWorkflowUnit.saleProfit"
						step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" required>
				</div>
				<p ng-show="sform.saleProfit.$invalid && !sform.saleProfit.$pristine" class="help-block">{{ 'COMMON_VALIDATE_REQ'| translate }}({{ 'COMMON_VALIDATE_REQ_NUMBER'| translate }})</p>
			</div>
		</div>
	</div>
</form>