<form id="scopeStuff" name="eform" novalidate>

	<div>
		<span ng-if="!rootScope.isSmptVerified" style="color:red; padding: 0px !important; font-size: 13px important;"><b><translate>EMAIL_SMTP_VALIDATION_WITHOUT_LINK</translate></b><br><br></span>
		<div class="form-group">
			<label>{{ 'EMAIL_NOTIFICATION_HISTORY' | translate }}</label>
			<select ng-change="onNotificationSelected()" class="form-control" ng-disabled="process.notifications==null||process.notifications.length==0"
			 style="width:100%" ng-model="notification" ng-options="(translate.instant(notification.notificationType) +' - '+notification.subject) for notification in process.notifications track by notification.id">
				<option></option>                                         
				</select>
		</div>
		<div class="row">
			<div class="col-sm-6 form-group">
				<label>{{ 'EMAIL_TEMPLATE' | translate }}</label>
				<div class="input-group m-b">
					<select ng-model="currentEmailTemplate" style="width:100%" ng-disabled="disabled" class="form-control" ng-change="generateContent(currentEmailTemplate,workflow,notification)"> 
					<option ng-value="null">- {{ 'EMAIL_TEMPLATE_SELECT' | translate }} -</option>
					<option ng-repeat="template in emailTemplates" ng-value="template">{{template.name}}</option>
				</select>
					<a ng-disabled="disabled||currentEmailTemplate===null" class="btn btn-default input-group-addon" ng-click="generateContent(currentEmailTemplate, workflow,notification)">
						<i class="fa fa-refresh" aria-hidden="true"></i>
					</a>
				</div>
			</div>


			<div class="col-sm-6 form-group">
				<label>{{ 'PDF_TEMPLATES' | translate }}</label>
				<div class="input-group m-b">
					<select ng-model="currentPdfTemplate" style="width:100%" ng-disabled="disabled||generatePdfFromTemplateInProgress===true" class="form-control" ng-change="generatePdfFromTemplate(currentPdfTemplate)"> 
					<option ng-value="null">- {{ 'EMAIL_TEMPLATE_SELECT' | translate }} -</option>
					<option ng-repeat="template in pdfTemplates" ng-value="template">{{template.name}}</option>
				</select>
					<a ng-disabled="disabled||generatePdfFromTemplateInProgress===true||currentPdfTemplate===null" class="btn btn-default input-group-addon" ng-click="generatePdfFromTemplate(currentPdfTemplate)">
						<i class="fa fa-refresh" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="form-inline">
			<label>{{ 'EMAIL_RECIPIENT' | translate }} {{ 'EMAIL_RECIPIENT_COMMA' | translate }}<span style="color:red">*</span></label>
			<span style="color:red" ng-show="eform.recipients.$error.required&&!eform.recipients.$error.maxlength&&!disabled&&!eform.recipients.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
			<span style="color:red" ng-show="eform.recipients.$error.email&&!disabled&&!eform.recipients.$pristine">{{ 'COMMON_VALIDATE_EMAIL' | translate }}</span>
			<span style="color:red" ng-show="eform.recipients.$error.maxlength&&!disabled&&!eform.recipients.$pristine">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
			<div class="form-inline">
				<div class="form-group" style="width:90%" ng-class="{ 'has-error' : eform.recipients.$invalid&&!disabled}">
					<input autocomplete="off" style="width:100%" ng-disabled="disabled" multipleemails form="eform" name="recipients" required
					 class="form-control" ng-model="notification.recipients" ng-model-options="{debounce: 350}" ng-maxlength="255">

				</div>
				<a ng-disabled="disabled" style="width:9%;height:34px" class="btn btn-default pull-right" ng-click="showCC_BCC=!showCC_BCC">CC/BCC</a>
			</div>
			<br/>
			<div class="form-inline" ng-show="showCC_BCC">
				<div style="width:49%" class="form-group" ng-class="{ 'has-error' : eform.recipientsCC.$invalid&&!disabled&&!eform.recipientsCC.$pristine}">
					<label>{{ 'EMAIL_RECIPIENT' | translate }} - CC</label>
					<span style="color:red" ng-show="eform.recipientsCC.$error.email&&!disabled">{{ 'COMMON_VALIDATE_EMAIL' | translate }}</span>
					<span style="color:red" ng-show="eform.recipientsCC.$error.maxlength&&!disabled">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
					<input autocomplete="off" style="width:100%" ng-disabled="disabled" multipleemails form="eform" name="recipientsCC" class="form-control"
					 ng-model="notification.recipientsCC" ng-model-options="{debounce: 350}" ng-maxlength="255">
				</div>
				<div style="width:49%;float:right" class="form-group" ng-class="{ 'has-error' : eform.recipientsBCC.$invalid&&!disabled&&!eform.recipientsBCC.$pristine}">
					<label>{{ 'EMAIL_RECIPIENT' | translate }} - BCC</label>
					<span style="color:red" ng-show="eform.recipientsBCC.$error.email&&!disabled">{{ 'COMMON_VALIDATE_EMAIL' | translate }}</span>
					<span style="color:red" ng-show="eform.recipientsBCC.$error.maxlength&&!disabled">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
					<input autocomplete="off" style="width:100%" ng-disabled="disabled" multipleemails form="eform" name="recipientsBCC" class="form-control"
					 ng-model="notification.recipientsBCC" ng-model-options="{debounce: 350}" ng-maxlength="255">
				</div>
			</div>
			<br ng-show="showCC_BCC" />
			<div class="row">
				<div class="col-sm-10 form-group" ng-class="{ 'has-error' : eform.subject.$invalid&&!disabled}">
					<label>{{ 'EMAIL_SUBJECT' | translate }} <span style="color:red">*</span></label>
					<span style="color:red" ng-show="eform.subject.$error.minlength&&!disabled">{{ 'COMMON_VALIDATE_MIN' | translate:'{ number: "3" }'}}</span>
					<span style="color:red" ng-show="eform.subject.$error.maxlength&&!disabled">{{ 'COMMON_VALIDATE_TOO_LONG' | translate}}</span>
					<span style="color:red" ng-show="eform.subject.$error.required&&!disabled&&!eform.subject.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
					<br>
					<input style="width:100%" ng-disabled="disabled" name="subject" required type="text" class="form-control" ng-model="notification.subject"
					 ng-minlength="3" ng-maxlength="255">
				</div>
				<div ng-if="!disabled||(disabled&&notification.attachments.length>0)" class="col-sm-2 form-group" ng-class="{ 'has-error' : parent.emailEditeform.attachement.$invalid}">
					<label style="margin-left:15px;">{{ 'EMAIL_ATTACHMENT' | translate }}</label>
					<span style="color:red" ng-if="eform.fileSize.$error.max">max 10 MB</span>
					<div hidden>
						<input hidden disabled ng-max="10*1024*1024" type="number" name="fileSize" ng-model="fileSize">
					</div>
					<br/>
					<div ng-if="!disabled" style="white-space: nowrap;margin-left:15px;" class="fileinput fileinput-new" data-provides="fileinput">
						<span class="btn btn-default btn-file">
						<span class="fileinput-new">{{ 'EMAIL_ATTACHMENT_SELECT' | translate }}</span>
						<span class="fileinput-exists">{{ 'EMAIL_ATTACHMENT_SELECT' | translate }} </span>
						<input id="fileInput" name="attachement" multiple required type="file" onchange="angular.element(document.getElementById('scopeStuff')).scope().setAttachments(files);"
						 accept="application/pdf,image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.csv,application/vnd.ms-excel,text/plain,application/vnd.ms-powerpoint, application/msword,.pps,.xlsx,.xls,.doc,.docx,.ppt,.pptx,.txt,.zip,.rar">
						</span>
					</div>
				</div>
			</div>
			<div ng-if="!disabled||(disabled&&notification.attachments.length>0)" class="form-group" ng-class="{ 'has-error' : parent.emailEditeform.attachement.$invalid}">
				<span class="attachement-box" ng-repeat="attachment in notification.attachments">				
					<a ng-if="attachment.inProgress===false||attachment.inProgress==null" ng-click="openAttachment(attachment.fileUpload)">{{attachment.fileUpload.filename}}</a>
					<a ng-if="attachment.inProgress===true" ng-click="null">{{attachment.fileUpload.filename}}</a>
					<a ng-click="deleteAttachment($index)" href="" class="close" >
						<div ng-if="attachment.inProgress===false||attachment.inProgress==null" style="margin-left: 5px;margin-top: -2px;">x</div>	
						<span ng-if="attachment.inProgress===true">
								<div class="spinner-black" style="margin-left: 5px;margin-top: 3px;"></div>	
						</span>
					</a>
				</span>
			</div>
		</div>
		<div class="form-group">
			<br>
			<label>{{ 'EMAIL_MESSAGE' | translate }}<span style="color:red">*</span></label>
			<span style="color:red" ng-show="eform.message.$error.required&&!eform.message.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
			<br/>
			<div ng-if="!disabled" style="border: 1px solid #a9a9a9" ng-style="eform.message.$invalid?{ 'border-color': 'red'}:{ 'border-color': '#a9a9a9'}">
				<summernote name="message" class="form-control" config="summernoteOptions" required ng-model="notification.content" height="220">{{notification.content}}</summernote>
			</div>
			<div ng-if="disabled" style="border: 1px solid gray;  padding: 15px;">
				<div ng-bind-html="htmlString"></div>
			</div>
		</div>
	</div>

</form>