<form id="scopeStuff" name="eform">
	<div>
		<div class="form-inline">
			<div class="form-group" style="width:45%">
				<label>{{ 'EMAIL_TEMPLATE' | translate }}</label>
				<select style="width:100%" ng-disabled="disabled" class="form-control" ng-model="templateId" ng-change="generate(templateId, process.offer,notification)">
                <option value="-1" selected> - {{ 'EMAIL_TEMPLATE_SELECT' | translate }} - </option>                                                                     
                <option value="{{template.id}}" ng-repeat="template in templates">{{template.name}}</option>                                           
            	</select>
			</div>
			<div class="form-group" style="width:9%;">
				<label>&nbsp;</label>
				<a ng-disabled="disabled" style="width:100%;height:34px" class="btn btn-default pull-right" ng-click="generate(templateId, process.offer,notification)"><i class="fa fa-refresh" aria-hidden="true"></i></a>
			</div>
			<div class="form-group" style="width:45%; float:right">
				<label>{{ 'EMAIL_NOTIFICATION_HISTORY' | translate }}</label>
				<select ng-change="onNotificationSelected()" class="form-control" ng-disabled="process.notifications==null||process.notifications.length==0" style="width:100%"
					ng-model="notification" ng-options="(notification.notificationType.toLowerCase()+' - '+notification.subject) for notification in process.notifications track by notification.id">
				<option></option>                                         
				</select>
			</div>
		</div>
		<!--<hr style="border-top: 1px dashed #8c8b8b;" />-->
		<br>
		{{eform.recipients.$error}}
		<label>{{ 'EMAIL_RECIPIENT' | translate }} {{ 'EMAIL_RECIPIENT_COMMA' | translate }}<span style="color:red">*</span></label>
		<span style="color:red" ng-show="eform.recipients.$error.required&&!disabled&&!eform.recipients.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
		<span style="color:red" ng-show="eform.recipients.$error.email&&!disabled&&!eform.recipients.$pristine">{{ 'COMMON_VALIDATE_EMAIL' | translate }}</span>
		<span style="color:red" ng-show="eform.recipients.$error.maxlength&&!disabled&&!eform.recipients.$pristine">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
		<div class="form-inline">
			<div class="form-group" style="width:90%" ng-class="{ 'has-error' : eform.recipients.$invalid&&!disabled&&!eform.recipients.$pristine}">
				<input style="width:100%" ng-disabled="disabled" multipleemails form="eform" emails="notification.recipients" name="recipients"
					required class="form-control" ng-model="notification.recipients" ng-maxlength="255">

			</div>
			<a ng-disabled="disabled" style="width:9%;height:34px" class="btn btn-default pull-right" ng-click="showCC_BCC=!showCC_BCC">CC/BCC</a>
		</div>
		<br/>
		<div class="form-inline" ng-show="showCC_BCC">
			<div style="width:49%" class="form-group" ng-class="{ 'has-error' : eform.recipientsCC.$invalid&&!disabled&&!eform.recipientsCC.$pristine}">
				<label>{{ 'EMAIL_RECIPIENT' | translate }} - CC</label>
				<span style="color:red" ng-show="eform.recipientsCC.$error.email&&!disabled">{{ 'COMMON_VALIDATE_EMAIL' | translate }}</span>
				<input style="width:100%" ng-disabled="disabled" multipleemails form="eform" emails="notification.recipientsCC" name="recipientsCC"
					class="form-control" ng-model="notification.recipientsCC">
			</div>
			<div style="width:49%;float:right" class="form-group" ng-class="{ 'has-error' : eform.recipientsBCC.$invalid&&!disabled&&!eform.recipientsBCC.$pristine}">
				<label>{{ 'EMAIL_RECIPIENT' | translate }} - BCC</label>
				<span style="color:red" ng-show="eform.recipientsBCC.$error.email&&!disabled">{{ 'COMMON_VALIDATE_EMAIL' | translate }}</span>
				<input style="width:100%" ng-disabled="disabled" multipleemails form="eform" emails="notification.recipientsBCC" name="recipientsBCC"
					class="form-control" ng-model="notification.recipientsBCC">
			</div>
		</div>
		<br ng-show="showCC_BCC" />
		<div class="form-inline">
			<div style="width:82%" class="form-group" ng-class="{ 'has-error' : eform.subject.$invalid&&!disabled&&!eform.subject.$pristine}">
				<label>{{ 'EMAIL_SUBJECT' | translate }}</label>
				<span style="color:red">*</span>
				<span style="color:red" ng-show="eform.subject.$error.minlength&&!disabled">{{ 'COMMON_VALIDATE_MIN' | translate:'{ number: "3" }'}}</span>
				<span style="color:red" ng-show="eform.subject.$error.required&&!disabled&&!eform.subject.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
				<br>
				<input style="width:100%" ng-disabled="disabled" name="subject" required type="text" class="form-control" ng-model="notification.subject"
					ng-minlength="3">
			</div>
			<div style="width:18%;float:right;" ng-if="!disabled||(disabled&&notification.attachments.length>0)" class="form-group" ng-class="{ 'has-error' : parent.emailEditeform.attachement.$invalid}">
				<label style="margin-left:15px;">{{ 'EMAIL_ATTACHMENT' | translate }}</label>
				<span style="color:red" ng-if="eform.fileSize.$error.max">max 10 MB</span>
				<div hidden>
					<input hidden disabled ng-max="10*1024*1024" type="number" name="fileSize" ng-model="fileSize">
				</div>
				<br/>
				<div ng-if="!disabled" style="white-space: nowrap;margin-left:15px;" class="fileinput fileinput-new" data-provides="fileinput">
					<span class="btn btn-default btn-file">
					<span class="fileinput-new">{{ 'EMAIL_ATTACHMENT_SELECT' | translate }}</span>
					<span class="fileinput-exists">{{ 'EMAIL_ATTACHMENT_SELECT' | translate }} </span>
					<input id="fileInput" name="attachement" multiple required type="file" onchange="angular.element(document.getElementById('scopeStuff')).scope().setAttachments(files);" accept="application/pdf,image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.csv,application/vnd.ms-excel,text/plain,application/vnd.ms-powerpoint, application/msword,.pps,.xlsx,.xls,.doc,.docx,.ppt,.pptx,.txt,.zip,.rar">
					</span>
				</div>
			</div>
		</div>
		<div style="float:left" ng-if="!disabled||(disabled&&notification.attachments.length>0)" class="form-group" ng-class="{ 'has-error' : parent.emailEditeform.attachement.$invalid}">
			<span ng-repeat="attachment in notification.attachments">
				<a ng-click="openAttachment(attachment.fileUpload)">{{attachment.fileUpload.filename}}</a>
				<a ng-click="deleteAttachment($index)" href="" class="close" style="float: none">x</a>
			</span>
		</div>
	</div>
	<div style="clear: left;" class="form-group" ng-class="{ 'has-error' : eform.message.$invalid&&!eform.message.$pristine}">
		<label>{{ 'EMAIL_MESSAGE' | translate }}</label>
		<span style="color:red">*</span>
		<span style="color:red" ng-show="eform.message.$error.required&&!eform.message.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
		<br/>
		<summernote ng-if="!disabled" name="message" class="form-control" required ng-model="notification.content" height="300px">{{notification.content}}</summernote>
		<div ng-if="disabled" style="border: 1px solid gray;  padding: 15px;">
			<div ng-bind-html="htmlString"></div>
		</div>
	</div>
</form>
