<form name="pform">
	<div class="row">
		<div class="col-sm-6 text-left b-r">
			<!-- Delivery Address -->
			<div class="form-group " ng-class="{ 'has-error' : pform.deliveryAddress.$invalid && !pform.deliveryAddress.$pristine || pform.deliveryStreet.$invalid || pform.deliveryNumber.$invalid || pform.deliveryCity.$invalid || pform.deliveryZip.$invalid || pform.deliveryState.$invalid || pform.deliveryCountry.$invalid} ">
				<label>{{ 'COMMON_PRODUCT_DESTINATION' | translate }}</label> <span ng-if="editable"><a ng-click="copyAddress(editWorkflowUnit.customer.deliveryAddress, editWorkflowUnit.deliveryAddress,'deliveryAddressLine')">{{'COMMON_DELIVERYADDRESS_FROM_CUSTOMER' | translate}}</a></span>	
				<span style="color:red" ng-show="pform.deliveryAddress.$invalid && !pform.deliveryAddress.$pristine || pform.deliveryStreet.$invalid || pform.deliveryNumber.$invalid || pform.deliveryCity.$invalid || pform.deliveryZip.$invalid || pform.deliveryState.$invalid || pform.deliveryCountry.$invalid "> {{ 'COMMON_VALIDATE_INVALID' | translate }}</span>
			<div class="input-group">
				<input type="text " name="deliveryAddress " class="form-control " ng-model-options="{debounce: 200}" ng-model="editWorkflowUnit.deliveryAddressLine
											" ng-maxlength="255" ng-disabled="true">
				<span class="input-group-btn">
					<button style="height: 34px;" class="btn btn-secondary btn btn-white" type="button" ng-click="showDeliveryAddress=!showDeliveryAddress">&nbsp;<i class="fa" ng-class="{'fa-caret-up':showDeliveryAddress,'fa-caret-down':!showDeliveryAddress}"></i>&nbsp;</button>
				</span>
			</div>
			</div>
			<div ng-if="showDeliveryAddress" class="animate-if">
				<div class="row">
					<!-- DELIVERY STREET -->
					<div class="col-xs-6">
						<div class="form-group" ng-class="{ 'has-error' : pform.deliveryStreet.$invalid && !pform.deliveryStreet.$pristine }">
							<label>{{ 'COMMON_STREET' | translate }}</label>
							<span style="color:red" ng-show="pform.deliveryStreet.$invalid && !pform.deliveryStreet.$pristine">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
							<input type="text" name="deliveryStreet" class="form-control" ng-model="editWorkflowUnit.deliveryAddress.street" ng-maxlength="30"
								ng-disabled="!editable" ng-model-options="{debounce: 500}" ng-change="getAddress(editWorkflowUnit.deliveryAddress,'deliveryAddressLine')">
						</div>
					</div>
					<!-- DELIVERY NUMBER -->
					<div class="col-xs-6">
						<div class="form-group" ng-class="{ 'has-error' : pform.deliveryNumber.$invalid && !pform.deliveryNumber.$pristine }">
							<label>{{ 'COMMON_HOUSE_NUMBER' | translate }}</label>
							<span style="color:red" ng-show="pform.deliveryNumber.$invalid && !pform.deliveryNumber.$pristine">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
							<input type="text" name="deliveryNumber" class="form-control" ng-model="editWorkflowUnit.deliveryAddress.number" ng-maxlength="10"
								ng-disabled="!editable" ng-model-options="{debounce: 500}" ng-change="getAddress(editWorkflowUnit.deliveryAddress,'deliveryAddressLine')">
						</div>
					</div>
				</div>
				<div class="row">
					<!-- DELIVERY CITY -->
					<div class="col-xs-6">
						<div class="form-group" ng-class="{ 'has-error' : pform.deliveryCity.$invalid && !pform.deliveryCity.$pristine }">
							<label>{{ 'COMMON_CITY' | translate }}</label>
							<span style="color:red" ng-show="pform.deliveryCity.$invalid && !pform.deliveryCity.$pristine">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
							<input type="text" name="deliveryCity" class="form-control" ng-model="editWorkflowUnit.deliveryAddress.city" ng-maxlength="30"
								ng-disabled="!editable" ng-model-options="{debounce: 500}" ng-change="getAddress(editWorkflowUnit.deliveryAddress,'deliveryAddressLine')">
						</div>
					</div>
					<!-- DELIVERY ZIP -->
					<div class="col-xs-6">
						<div class="form-group" ng-class="{ 'has-error' : pform.deliveryZip.$invalid && !pform.deliveryZip.$pristine }">
							<label>{{ 'COMMON_ZIP' | translate }}</label>
							<span style="color:red" ng-show="pform.deliveryZip.$invalid && !pform.deliveryZip.$pristine">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
							<input type="text" name="deliveryZip" class="form-control" ng-model="editWorkflowUnit.deliveryAddress.zip" ng-maxlength="10"
								ng-disabled="!editable" ng-model-options="{debounce: 500}" ng-change="getAddress(editWorkflowUnit.deliveryAddress,'deliveryAddressLine')">
						</div>
					</div>
				</div>
				<div class="row">
					<!-- DELIVERY STATE -->
					<div class="col-xs-6">
						<div class="form-group" ng-class="{ 'has-error' : pform.deliveryState.$invalid && !pform.deliveryState.$pristine }">
							<label>{{ 'COMMON_STATE' | translate }}</label>
							<span style="color:red" ng-show="pform.deliveryState.$invalid && !pform.deliveryState.$pristine">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
							<input type="text" name="deliveryState" class="form-control" ng-model="editWorkflowUnit.deliveryAddress.state" ng-maxlength="30"
								ng-disabled="!editable" ng-model-options="{debounce: 500}" ng-change="getAddress(editWorkflowUnit.deliveryAddress,'deliveryAddressLine')">
						</div>
					</div>
					<!-- DELIVERY COUNTRY -->
					<div class="col-xs-6">
						<div class="form-group" ng-class="{ 'has-error' : pform.deliveryCountry.$invalid && !pform.deliveryCountry.$pristine }">
							<label>{{ 'COMMON_COUNTRY' | translate }}</label>
							<span style="color:red" ng-show="pform.deliveryCountry.$invalid && !pform.deliveryCountry.$pristine">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
							<input type="text" name="deliveryCountry" class="form-control" ng-model="editWorkflowUnit.deliveryAddress.country" ng-maxlength="20"
								ng-disabled="!editable" ng-model-options="{debounce: 500}" ng-change="getAddress(editWorkflowUnit.deliveryAddress,'deliveryAddressLine')">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 text-left">
			<!-- Billing Address -->
			<div class="form-group " ng-class="{ 'has-error' : pform.billingAddress.$invalid && !pform.billingAddress.$pristine || pform.billingStreet.$invalid || pform.billingNumber.$invalid || pform.billingCity.$invalid || pform.billingZip.$invalid || pform.billingState.$invalid || pform.billingCountry.$invalid} ">
				<label>{{ 'COMMON_BILLING_ADDRESS' | translate }}</label><span ng-if="editable"><a ng-click="copyAddress(editWorkflowUnit.customer.billingAddress, editWorkflowUnit.billingAddress,'billingAddressLine')">&nbsp;{{'COMMON_BILLINGADDRESS_FROM_CUSTOMER' | translate}}</a></span>
				<span style="color:red" ng-show="pform.billingAddress.$invalid && !pform.billingAddress.$pristine || pform.billingStreet.$invalid || pform.billingNumber.$invalid || pform.billingCity.$invalid || pform.billingZip.$invalid || pform.billingState.$invalid || pform.billingCountry.$invalid"> {{ 'COMMON_VALIDATE_INVALID' | translate }}</span>
			<div class="input-group">
				<input type="text " name="billingAddress " class="form-control " ng-model-options="{debounce: 200}" ng-model="billingAddressLine
											" ng-maxlength="255" ng-disabled="true">
				<span class="input-group-btn">
					<button style="height: 34px;" class="btn btn-secondary btn btn-white" type="button" ng-click="showBillingAddress=!showBillingAddress">&nbsp;<i class="fa" ng-class="{'fa-caret-up':showBillingAddress,'fa-caret-down':!showBillingAddress}"></i>&nbsp;</button>
				</span>
			</div>
			</div>
				<div ng-if="showBillingAddress" class="animate-if">
				<div class="row">
					<!-- BILLING STREET -->
					<div class="col-xs-6">
						<div class="form-group" ng-class="{ 'has-error' : pform.billingStreet.$invalid && !pform.billingStreet.$pristine }">
							<label>{{ 'COMMON_STREET' | translate }}</label>
							<span style="color:red" ng-show="pform.billingStreet.$invalid && !pform.billingStreet.$pristine">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
							<input type="text" name="billingStreet" class="form-control" ng-model="editWorkflowUnit.billingAddress.street" ng-maxlength="30"
								ng-disabled="!editable" ng-model-options="{debounce: 500}" ng-change="getAddress(editWorkflowUnit.billingAddress,'billingAddressLine')">
						</div>
					</div>
					<!-- BILLING NUMBER -->
					<div class="col-xs-6">
						<div class="form-group" ng-class="{ 'has-error' : pform.billingNumber.$invalid && !pform.billingNumber.$pristine }">
							<label>{{ 'COMMON_HOUSE_NUMBER' | translate }}</label>
							<span style="color:red" ng-show="pform.billingNumber.$invalid && !pform.billingNumber.$pristine">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
							<input type="text" name="billingNumber" class="form-control" ng-model="editWorkflowUnit.billingAddress.number" ng-maxlength="10"
								ng-disabled="!editable" ng-model-options="{debounce: 500}" ng-change="getAddress(editWorkflowUnit.billingAddress,'billingAddressLine')">
						</div>
					</div>
				</div>
				<div class="row">
					<!-- BILLING CITY -->
					<div class="col-xs-6">
						<div class="form-group" ng-class="{ 'has-error' : pform.billingCity.$invalid && !pform.billingCity.$pristine }">
							<label>{{ 'COMMON_CITY' | translate }}</label>
							<span style="color:red" ng-show="pform.billingCity.$invalid && !pform.billingCity.$pristine">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
							<input type="text" name="billingCity" class="form-control" ng-model="editWorkflowUnit.billingAddress.city" ng-maxlength="30"
								ng-disabled="!editable" ng-model-options="{debounce: 500}" ng-change="getAddress(editWorkflowUnit.billingAddress,'billingAddressLine')">
						</div>
					</div>
					<!-- BILLING ZIP -->
					<div class="col-xs-6">
						<div class="form-group" ng-class="{ 'has-error' : pform.billingZip.$invalid && !pform.billingZip.$pristine }">
							<label>{{ 'COMMON_ZIP' | translate }}</label>
							<span style="color:red" ng-show="pform.billingZip.$invalid && !pform.billingZip.$pristine">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
							<input type="text" name="billingZip" class="form-control" ng-model="editWorkflowUnit.billingAddress.zip" ng-maxlength="10"
								ng-disabled="!editable" ng-model-options="{debounce: 500}" ng-change="getAddress(editWorkflowUnit.billingAddress,'billingAddressLine')">
						</div>
					</div>
				</div>
				<div class="row">
					<!-- BILLING STATE -->
					<div class="col-xs-6">
						<div class="form-group" ng-class="{ 'has-error' : pform.billingState.$invalid && !pform.billingState.$pristine }">
							<label>{{ 'COMMON_STATE' | translate }}</label>
							<span style="color:red" ng-show="pform.billingState.$invalid && !pform.billingState.$pristine">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
							<input type="text" name="billingState" class="form-control" ng-model="editWorkflowUnit.billingAddress.state" ng-maxlength="30"
								ng-disabled="!editable" ng-model-options="{debounce: 500}" ng-change="getAddress(editWorkflowUnit.billingAddress,'billingAddressLine')">
						</div>
					</div>
					<!-- BILLING COUNTRY -->
					<div class="col-xs-6">
						<div class="form-group" ng-class="{ 'has-error' : pform.billingCountry.$invalid && !pform.billingCountry.$pristine }">
							<label>{{ 'COMMON_COUNTRY' | translate }}</label>
							<span style="color:red" ng-show="pform.billingCountry.$invalid && !pform.billingCountry.$pristine">{{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
							<input type="text" name="billingCountry" class="form-control" ng-model="editWorkflowUnit.billingAddress.country" ng-maxlength="20"
								ng-disabled="!editable" ng-model-options="{debounce: 500}" ng-change="getAddress(editWorkflowUnit.billingAddress,'billingAddressLine')">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 text-left" style="width: 22%">
			<!-- DeliveryCosts -->
			<div class="form-group " ng-class="{ 'has-error' : pform.deliveryCosts.$invalid && !pform.deliveryCosts.$pristine} ">
				<label>{{ 'COMMON_PRODUCT_DELIVERYCOSTS'| translate }}</label>
				<span style="color:red" ng-show="pform.deliveryCosts.$invalid && !pform.deliveryCosts.$pristine"> {{ 'COMMON_VALIDATE_INVALID'| translate }}</span>
			<div class="input-group ">
			<span class="input-group-addon ">{{ 'COMMON_CURRENCY'| translate }}</span>
			<input name="deliveryCosts " type="number " ng-model="editWorkflowUnit.deliveryCosts
										" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/ " ng-keyup="reCalculateOffer(editWorkflowUnit,editWorkflowUnit.orderPositions) "
				min="0 " step="any" data-number-to-fixed="2 " data-number-stepfactor="100 " class="form-control currency
										" id="c2 " ng-disabled="!editable" ng-maxlength="15"/>
		</div>
		</div>
		</div>
		<div class="col-sm-3 text-left" style="width: 22%">
			<!-- DELIVERY DATE -->
			<div class="form-group " id="editOfferDatepicker ">
				<label>{{ 'COMMON_DELIVERY_TIME' | translate }}</label>
				<div ng-show="$root.language=='DE' " class="input-group date " data-date-language="de " data-date-format="dd.mm.yyyy ">
					<span class="input-group-addon "><i class="fa fa-calendar "></i></span>
					<input ng-readonly="true" ng-style="{'background-color': {true:'white'}[editable]}" type="text " class="form-control " name="deliveryDate " ng-model="editWorkflowUnit.deliveryDate " ng-disabled="!editable">
				</div>
				<div ng-show="$root.language=='EN' " class="input-group date " data-date-language="en " data-date-format="dd.mm.yyyy ">
					<span class="input-group-addon "><i class="fa fa-calendar "></i></span>
					<input ng-readonly="true" type="text " class="form-control " name="deliveryDate " ng-model="editWorkflowUnit.deliveryDate " ng-disabled="!editable">
				</div>
			</div>
	</div>
	<div class="col-sm-3 text-left" style="width: 22%" ng-if="isOffer() || isSale() || isInOfferTransformation()">
			<!-- Delivery Term -->
			<div class="form-group " ng-class="{ 'has-error' : pform.deliveryTerm.$invalid && !pform.deliveryTerm.$pristine} ">
				<label>{{ 'COMMON_SUPPLY_DELIVERY_TERM' | translate }}</label>
				<span style="color:red" ng-show="pform.deliveryTerm.$invalid && !pform.deliveryTerm.$pristine"> {{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
			<input type="text " name="deliveryTerm " class="form-control " ng-model="editWorkflowUnit.deliveryTerm
										" ng-maxlength="255 " ng-disabled="!editable">
			</div>
		</div>
		<div class="col-sm-3 text-left" style="width: 22%" ng-if="isOffer() || isSale() || isInOfferTransformation()">
			<!-- Delivery Term -->
			<div class="form-group " ng-class="{ 'has-error' : pform.paymentTerm.$invalid && !pform.paymentTerm.$pristine} ">
				<label>{{ 'COMMON_SUPPLY_PAYMENT_TERM' | translate }}</label>
				<span style="color:red" ng-show="pform.paymentTerm.$invalid && !pform.paymentTerm.$pristine"> {{ 'COMMON_VALIDATE_TOO_LONG' | translate }}</span>
			<input type="text " name="paymentTerm " class="form-control " ng-model="editWorkflowUnit.paymentTerm
										" ng-maxlength="255 " ng-disabled="!editable"> 
			</div>
		</div>
		<div class="col-sm-2 text-left" style="width: 12%" ng-if="isOffer() || isSale() || isInOfferTransformation()">
			<!-- Skonto -->
			<label>{{ 'COMMON_SUPPLY_SKONTO' | translate }}</label>
			<div class="input-group " ng-class="{'has-error' : pform.skonto.$invalid && !pform.skonto.$pristine } ">
			<span class="input-group-addon ">%</span>
			<input class="form-control currency" focus-me="inputfield" name="skonto" type="number " ng-model="editWorkflowUnit.skonto " 
						ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/ " step="any" min="0 " max="100 "  ng-disabled="!editable"></div>
		</div>
	</div>
		<hr style="border-top: 1px dashed #8c8b8b;" />
		<div class="row">
			<div class="col-sm-12">
				<table class="table">
					<thead>
						<tr>
							<th class="col-md-5">
								<select class="form-control" ng-model="currentProductId" ng-disabled="!editable">
									<option value="-1" selected disabled hidden>{{ 'LEAD_EDIT_SELECT_PRODUCT' | translate }}</option>                                     
									<option value="{{product.id}}" ng-repeat="product in productService.getActiveProducts()">{{product.name}} - {{product.productNumber}} - {{product.netPrice | currency:'\u20AC'}}</option>                                          
								</select>
							</th>
							<th class="col-md-2"></th>
							<th class="col-md-2"></th>
							<th class="col-md-2">
								<div style="text-align:right"> {{ 'COMMON_PRODUCT_AMOUNT'| translate }}:
		</div>
		</th>
		<th class="col-md-2">
			<input ng-pattern="/^(0|\-?[1-9][0-9]*)$/" name="addOrderPosition" type="number" class="input-sm form-control"
				ng-model="currentProductAmount" ng-disabled="!editable">
		</th>
		<th class="col-md-1">
			<button ng-disabled="currentProductAmount<1||currentProductId==-1 || pform.addOrderPosition.$invalid || !editable" type="button" class="btn btn-white btn-sm" ng-click="[addProduct(editWorkflowUnit.orderPositions, currentProductId, currentProductAmount),reCalculateOffer(editWorkflowUnit,editWorkflowUnit.orderPositions)]">
											<i class="fa fa-plus"></i>&nbsp;</button>
		</th>
		</tr>
		</thead>
		<tbody>
			<th>{{ 'PRODUCT_PRODUCTNAME' | translate }}</th>
			<th class="text-center">{{ 'PRODUCT_DISCOUNT' | translate }}</th>
			<th class="text-center">{{ 'COMMON_PRODUCT_SINGLE_PRICE' | translate }}</th>
			<th class="text-center">{{ 'COMMON_PRODUCT_AMOUNT'| translate }}</th>
			<th class="text-center">{{ 'PRODUCT_PRICE' | translate }}</th>
			<tr ng-repeat="orderPosition in editWorkflowUnit.orderPositions">
				<td class="col-md-3">
					{{orderPosition.product.name}} ({{orderPosition.product.netPrice| currency:'\u20AC'}})
				</td>
				<td class="col-md-2 text-center ">
					<div class="input-group " ng-class="{ 'has-error' : pform[
											'orderPositionDiscount'+$index].$invalid} ">
						<span class="input-group-addon ">%</span>
						<input type="number " name="{{ 'orderPositionDiscount'+$index}}" ng-model="orderPosition.discount " ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/ "
							min="0 " max="100 " step="any" data-number-to-fixed="2 " data-number-stepfactor="100
											" class="form-control currency " ng-keyup="[$parent.setPrice(orderPosition),$parent.reCalculateOffer(editProcess.offer,editWorkflowUnit.orderPositions)]"
							id="c3 " required ng-disabled="!editable">
					</div>
				</td>
				<td class="col-md-2 text-center">
					<div class="input-group" ng-class="{ 'has-error' : pform['orderPosition'+$index].$invalid}">
						<span class="input-group-addon">{{ 'COMMON_CURRENCY'| translate }}</span>
						<input type="number" name="{{'orderPosition'+$index}}" ng-model="orderPosition.netPrice" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/ "
							min="0 " step="any" data-number-to-fixed="2 " data-number-stepfactor="100" class="form-control currency " ng-keyup="[$parent.setDiscount(orderPosition),$parent.reCalculateOffer(editProcess.offer,editWorkflowUnit.orderPositions)] "
							id="c2 " required ng-disabled="!editable">
					</div>
				</td>
				<td class="col-md-2 text-center ">{{orderPosition.amount}}</td>
				<td class="col-md-2 text-center ">{{orderPosition.netPrice*orderPosition.amount| currency:'\u20AC'}}
				</td>
				<td class=" col-md-1 ">
					<button type="button " class="btn btn-white btn-sm " ng-click="[$parent.deleteProduct(editWorkflowUnit.orderPositions,$index),$parent.reCalculateOffer(editProcess.offer,editWorkflowUnit.orderPositions)] "
						ng-disabled="!editable">
										<i class="fa fa-trash " ></i>&nbsp;
									</button>
				</td>
			</tr>
		</tbody>
		</table>
		</div>
		</div>
		<div class="row">
			<div class="col-sm-6 text-right">
				<h3 ng-if="isOffer() || isSale() || isInOfferTransformation() "><b>	{{ 'CALCULATION_VAT'| translate }}:</b></h3>
			</div>
			<div class="col-sm-2 text-left">
				<div ng-if="isOffer() || isSale() || isInOfferTransformation()" class="input-group " ng-class="{'has-error' : pform.vat.$invalid} ">
					<span class="input-group-addon ">%</span>
					<input class="form-control currency" name="vat" type="number " ng-model="editProcess.offer.vat "
						ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/ " step="any" min="0 " max="100 " required style="width:70px;" ng-disabled="!editable"></div>
			</div>
			<div class="col-sm-4 text-right">
				<h3 style="margin-right: 17px;"><b>
					<span ng-if="isLead() && !isInOfferTransformation()">{{ 'COMMON_PRODUCT_ENTIRE_PRICE' | translate }}:&nbsp;{{sumOrderPositions(editWorkflowUnit.orderPositions)+editWorkflowUnit.deliveryCosts|currency:'\u20AC'}}&nbsp;<a tooltip-class="customClass"
								uib-tooltip-template="'components/Wizard/view/Price.Calculation.Template.html'" tooltip-placement="top-right"><i class="fa fa-info-circle"></i></a></span>
					<span ng-if="isOffer() || isSale() || isInOfferTransformation() ">
						<!--<div class="input-group ">
							<span class="input-group-addon ">{{ 'COMMON_CURRENCY'| translate }}</span>
							<input type="number " name="netPrice " class="form-control currency" ng-model="editProcess.offer.netPrice" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/ " step="any" min="0 " data-number-to-fixed="2 " data-number-stepfactor="100 "
								id="c2 " required ng-disabled="!editable"></div>-->
					{{ 'COMMON_PRODUCT_OFFER_PRICE' | translate }}:&nbsp;{{editProcess.offer.netPrice+editProcess.offer.deliveryCosts|currency:'\u20AC'}}
					</span>
				</b></h3>
			</div>
		</div>
		<div class="row" ng-if="isOffer() || isSale() || isInOfferTransformation() ">
			<div class="col-sm-2 text-left"></div>
			<div class="col-sm-10 text-right">
				<h3><b>{{ 'PRODUCT_GROSS_PRICE' | translate }}:&nbsp;
				{{(editProcess.offer.netPrice+editProcess.offer.deliveryCosts)*(1+(editProcess.offer.vat/100))|currency:'\u20AC'}}</b>&nbsp;<a tooltip-class="customClass"
						uib-tooltip-template="'components/Wizard/view/Price.Calculation.Template.html'" tooltip-placement="left-bottom"><i class="fa fa-info-circle"></i></a></h3>
			</div>
		</div>
		<div class="row" ng-if="(isOffer() || isSale() || isInOfferTransformation()) && editWorkflowUnit.skonto>0 ">
			<div class="col-sm-2 text-left"></div>
			<div class="col-sm-10 text-right">
				<h3 style="margin-right: 17px;"><b>{{ 'PRODUCT_GROSS_PRICE_SKONTO' | translate }}:&nbsp;
				{{(((editProcess.offer.netPrice+editProcess.offer.deliveryCosts)*(1+(editProcess.offer.vat/100)))-((editProcess.offer.netPrice+editProcess.offer.deliveryCosts)*(1+(editProcess.offer.vat/100))*(editWorkflowUnit.skonto/100)))|currency:'\u20AC'}}</b></h3>
			</div>
		</div>
</form>
<div hidden ng-include="'components/Wizard/view/Price.Calculation.Template.html'"></div>
<style>
.tooltip.customClass .tooltip-inner {
	background-color: white;
	width: 400px;
	max-width: 400px;
	box-shadow: 0px 1px 12px rgba(0,0,0,1);
}
</style>