<style>
	#typeahead-autocompletion .dropdown-menu {
		max-height: 225px;
		max-width: 400px;
		overflow-y: auto;
		overflow-x: hidden;
	}

</style>
<form name="cform" novalidate>
	<div class="row">
		<div class="col-sm-6 b-r">
			<div class="form-group">
				<label>{{ 'CUSTOMER_MENU' | translate }}</label><i class="fa fa-question-circle" data-toggle="tooltip" title="{{ 'TOOLTIP_CUSTOMER_LOOKUP' | translate }}"></i>
				<div class="input-group" id="typeahead-autocompletion">
					<input type="text" class="form-control" ng-model="selectedCustomer" placeholder="{{ 'CUSTOMER_SELECT' | translate }}"
						uib-typeahead="customer as (customer.firstname +' '+ customer.lastname +' '+ (customer.company==null?'':customer.company)) for customer in customerService.getCustomerBySearchText($viewValue)"
						typeahead-editable="false" typeahead-on-select="selectCustomer($model)" typeahead-no-results="noResults"
						typeahead-show-hint="true" typeahead-min-length="3" typeahead-wait-ms="600" ng-blur="(noResults) ? selectCustomer($model):'doNothing'"
						ng-disabled="!editable">
					<span class="input-group-btn">
       				 <button style="height: 34px;" class="btn btn-secondary btn btn-white" type="button" ng-disabled="!editable" ng-click="selectCustomer(null)">&nbsp;<i class="fa fa-times"></i>&nbsp;</button>
      				</span>
				</div>
			</div>
			<div class="form-group">
				<label>{{ 'COMMON_TITLE' | translate }}</label>
				<select name="title" class="form-control" ng-model="editWorkflowUnit.customer.title" ng-disabled="customerSelected">
                    <option value="MR">{{ 'COMMON_TITLE_MR' | translate }}</option>
                    <option value="MS">{{ 'COMMON_TITLE_MS' | translate }}</option>
                </select>
			</div>
			<!-- FIRSTNAME -->
			<div class="form-group" ng-class="{ 'has-error' : cform.firstname.$invalid}">
				<label>{{ 'COMMON_FIRSTNAME' | translate }}
					<span style="color:red">*</span>
				</label>
				<span style="color:red" ng-show="cform.firstname.$error.maxlength">{{ 'COMMON_VALIDATE_MAX' | translate }}30{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
				<span style="color:red" ng-show="cform.firstname.$error.required && !cform.firstname.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
				<input required type="text" name="firstname" class="form-control" ng-model="editWorkflowUnit.customer.firstname" ng-maxlength="30"
					ng-disabled="customerSelected">
			</div>
			<!-- LASTNAME -->
			<div class="form-group" ng-class="{ 'has-error' : cform.lastname.$invalid}">
				<label>{{ 'COMMON_LASTNAME' | translate }}
					<span style="color:red">*</span>
				</label>
				<span style="color:red" ng-show="cform.lastname.$error.maxlength">{{ 'COMMON_VALIDATE_MAX' | translate }}30{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
				<span style="color:red" ng-show="cform.lastname.$error.required && !cform.lastname.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
				<input required type="text" name="lastname" class="form-control" ng-model="editWorkflowUnit.customer.lastname" ng-maxlength="30"
					ng-disabled="customerSelected">
			</div>
			<!-- COMPANY -->
			<div class="form-group" ng-class="{ 'has-error' : cform.company.$invalid && !cform.company.$pristine }">
				<label>{{ 'COMMON_COMPANY' | translate }}</label>
				<span style="color:red" ng-show="cform.company.$invalid && !cform.company.$pristine">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
				<input type="text" name="company" class="form-control" ng-model="editWorkflowUnit.customer.company" ng-maxlength="50"
					ng-disabled="customerSelected">
			</div>
			<!-- EMAIL -->
			<div class="form-group" ng-class="{ 'has-error' : cform.email.$invalid && !cform.email.$pristine }">
				<label>{{ 'COMMON_EMAIL' | translate }}</label>
				<span style="color:red" ng-show="cform.email.$invalid && !cform.email.$pristine">{{ 'COMMON_VALIDATE_EMAIL'| translate }}</span>
				<input type="email" name="email" class="form-control" ng-model="editWorkflowUnit.customer.email" ng-disabled="customerSelected" ng-model-options="{debounce: 300}" ng-maxlength="255">
			</div>
			<!-- PHONE -->
			<div class="form-group" ng-class="{ 'has-error' : cform.phone.$invalid && !cform.phone.$pristine }">
				<label>{{ 'COMMON_PHONE' | translate }}</label>
				<span style="color:red" ng-show="cform.phone.$invalid && !cform.phone.$pristine">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</span>
				<input type="text" name="phone" class="form-control" ng-model="editWorkflowUnit.customer.phone" ng-maxlength="50"
					ng-disabled="customerSelected">
			</div>
		</div>
		<div class="col-sm-6">
			<!-- SOURCE -->
			<div class="form-group">
				<label>{{ 'SOURCE_SOURCE' | translate }}</label>
				<select name="source" class="form-control" ng-model="editProcess.source" ng-disabled="!editable" ng-options="s.name for s in sourceService.getActiveSources() track by s.id">
					<option></option></select>
			</div>
			<!-- MESSAGE -->
			<div class="form-group">
				<label>{{ 'COMMON_NOTE' | translate }}</label>
				<div style="border: 1px solid #a9a9a9">
					<summernote ng-if="editable" name="content " class="form-control" config="summernoteOptions" ng-model="editWorkflowUnit.message" height="300"></summernote>
				</div>
				<div ng-if="!editable" style="border: 1px solid gray;  padding: 15px;">
					<div ng-bind-html="getAsHtml(editWorkflowUnit.message)"></div>
				</div>
			</div>
		</div>
	</div>
</form>
