<div class="modal inmodal" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{ 'LEAD_EDIT_LEAD_MODAL' | translate }}</h4>
            </div>
            <div class="modal-body">
                <form name="leadCtrl.editForm" novalidate>
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <div class="form-group">
                                <label>{{ 'CUSTOMER_MENU' | translate }}</label>
                                <select class="form-control" ng-model="leadCtrl.currentCustomerId" ng-change="leadCtrl.selectCustomer(leadCtrl.editLead)">
                                    <option value="-1" selected > - Select Customer - </option>                                                                     
                                    <option value="{{customer.id}}" ng-repeat="customer in leadCtrl.leadService.customerService.getActiveCustomers()">{{customer.firstname}} {{customer.lastname}}</option>                                          
                                </select>
                            </div>
                            <div class="form-group">
                                <label>{{ 'COMMON_TITLE' | translate }}</label>
                                <select name="title" class="form-control" ng-model="leadCtrl.editLead.customer.title" ng-disabled="leadCtrl.customerSelected">
                                    <option value="MR">{{ 'COMMON_TITLE_MR' | translate }}</option>
                                    <option value="MS">{{ 'COMMON_TITLE_MS' | translate }}</option>
                                </select>
                            </div>
                            <!-- FIRSTNAME -->
                            <div class="form-group" ng-class="{ 'has-error' : leadCtrl.editForm.firstname.$invalid && !leadCtrl.editForm.firstname.$pristine }">
                                <label>{{ 'COMMON_FIRSTNAME' | translate }}*</label>
                                <input required type="text" name="firstname" class="form-control" ng-model="leadCtrl.editLead.customer.firstname" ng-maxlength="30"
                                    ng-disabled="leadCtrl.customerSelected">
                                <p ng-show="leadCtrl.editForm.firstname.$error.maxlength" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}30{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
                                <p ng-show="leadCtrl.editForm.firstname.$error.required " class="help-block">{{ 'COMMON_VALIDATE_REQ' | translate }}</p>
                            </div>
                            <!-- LASTNAME -->
                            <div class="form-group" ng-class="{ 'has-error' : leadCtrl.editForm.lastname.$invalid && !leadCtrl.editForm.lastname.$pristine }">
                                <label>{{ 'COMMON_LASTNAME' | translate }}</label>
                                <input required type="text" name="lastname" class="form-control" ng-model="leadCtrl.editLead.customer.lastname" ng-maxlength="30"
                                    ng-disabled="leadCtrl.customerSelected">
                                <p ng-show="leadCtrl.editForm.lastname.$error.maxlength" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}30{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
                                <p ng-show="leadCtrl.editForm.lastname.$error.required" class="help-block">{{ 'COMMON_VALIDATE_REQ' | translate }}</p>
                            </div>
                            <!-- COMPANY -->
                            <div class="form-group" ng-class="{ 'has-error' : leadCtrl.editForm.company.$invalid && !leadCtrl.editForm.company.$pristine }">
                                <label>{{ 'COMMON_COMPANY' | translate }}</label>
                                <input type="text" name="company" class="form-control" ng-model="leadCtrl.editLead.customer.company" ng-maxlength="50" ng-disabled="leadCtrl.customerSelected">
                                <p ng-show="leadCtrl.editForm.company.$invalid && !leadCtrl.editForm.company.$pristine" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- EMAIL -->
                            <div class="form-group" ng-class="{ 'has-error' : leadCtrl.editForm.email.$invalid && !leadCtrl.editForm.email.$pristine }">
                                <label>{{ 'COMMON_EMAIL' | translate }}</label>
                                <input type="email" name="email" class="form-control" ng-model="leadCtrl.editLead.customer.email" ng-disabled="leadCtrl.customerSelected">
                                <p ng-show="leadCtrl.editForm.email.$invalid && !leadCtrl.editForm.email.$pristine" class="help-block">{{ 'COMMON_VALIDATE_EMAIL'| translate }}</p>
                            </div>
                            <!-- PHONE -->
                            <div class="form-group" ng-class="{ 'has-error' : leadCtrl.editForm.phone.$invalid && !leadCtrl.editForm.phone.$pristine }">
                                <label>{{ 'COMMON_PHONE' | translate }}</label>
                                <input type="text" name="phone" class="form-control" ng-model="leadCtrl.editLead.customer.phone" ng-maxlength="50" ng-disabled="leadCtrl.customerSelected">
                                <p ng-show="leadCtrl.editForm.phone.$invalid && !leadCtrl.editForm.phone.$pristine" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
                            </div>
                            <!-- MESSAGE -->
                            <div>
                                <div class="form-group">
                                    <label>{{ 'COMMON_NOTE' | translate }}</label>
                                    <textarea class="form-control" rows="5" name="message" style="resize:vertical;" ng-model="leadCtrl.editLead.message"></textarea>
                                </div>
                            </div>
                            <!-- CONTAINER DESTINATION -->
                            <div class="form-group" ng-class="{ 'has-error' : leadCtrl.editForm.containerDestination.$invalid && !leadCtrl.editForm.containerDestination.$pristine }">
                                <label>{{ 'COMMON_CONTAINER_DESTINATION' | translate }}</label>
                                <input type="text" name="containerDestination" class="form-control" ng-model="leadCtrl.editLead.deliveryAddress" ng-maxlength="50">
                                <p ng-show="leadCtrl.editForm.containerDestination.$invalid && !leadCtrl.editForm.containerDestination.$pristine" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
                            </div>
                        </div>
                        <div>
                            <h2>{{ 'PRODUCT_MENU' | translate }}</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <select class="form-control" ng-model="leadCtrl.currentProductId">
                                            <option value="-1" selected disabled hidden>{{ 'LEAD_EDIT_SELECT_PRODUCT' | translate }}</option>                                     
                                            <option value="{{product.id}}" ng-repeat="product in leadCtrl.leadService.productService.getActiveProducts()">{{product.name}} {{product.priceNetto | currency:'\u20AC'}}</option>                                          
                                        </select>
                                        </th>
                                        <th class="col-md-1"></th>
                                        <th style="width:100px">
                                            <input type="number" class="input-sm form-control" ng-model="leadCtrl.currentProductAmount">
                                        </th>
                                        <th class="col-md-1">
                                            <button type="button" class="btn btn-white btn-sm" ng-click="leadCtrl.addProduct(leadCtrl.currentOrderPositions)">
                                     <i class="fa fa-plus"></i>&nbsp;</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="orderPosition in leadCtrl.currentOrderPositions">
                                        <td>{{orderPosition.product.name}}</td>
                                        <td class="col-md-1 ">{{orderPosition.product.priceNetto*orderPosition.amount| currency:'\u20AC'}}</td>
                                        <td style="width:100px">{{orderPosition.amount}}</td>
                                        <td class=" col-md-1 ">
                                            <button type="button " class="btn btn-white btn-sm " ng-click="leadCtrl.deleteProduct(leadCtrl.currentOrderPositions,$index) ">
                                        <i class="fa fa-trash "></i>&nbsp;
                                     </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- ENTIRE PRICE -->
                        <div>
                            <div class="form-group ">
                                <h2>{{ 'COMMON_CONTAINER_ENTIRE_PRICE' | translate }}: {{leadCtrl.sumOrderPositions(leadCtrl.currentOrderPositions)|
                                    currency:'\u20AC'}}
                                </h2>
                            </div>
                        </div>
                </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'COMMON_CANCEL'| translate }}
                </button>
                    <button type="submit" class="btn btn-success" ng-disabled="leadCtrl.editForm.$invalid" ng-click="leadCtrl.saveLead(leadCtrl.edit)"
                        data-dismiss="modal">{{ 'COMMON_SAVE'| translate }}
                </button>
                </div>
            </div>
        </div>
    </div>