<style>
    .chat-view {
        word-break: break-all;
    }
</style>
<div class="row">
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h3>{{ 'COMMON_CHILDROW_ADDITONAL_TITLE' | translate }}</h3>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered text-left">
                    <tr>
                        <td>{{ 'COMMON_NAME' | translate }}</td>
                        <td>{{ childData.lead.customer.title | translate }} {{childData.lead.customer.firstname}} {{childData.lead.customer.lastname}}
                            <a ng-href="#/customer/detail/{{childData.lead.customer.id}}" class="btn btn-xs btn-success btn-circle pull-right" type="button"><i class="fa fa-user"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ 'COMMON_PHONE' | translate }}</td>
                        <td>{{childData.lead.customer.phone}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'COMMON_CONTAINER_ENTIRE_PRICE' | translate }}</td>
                        <td>{{childData.lead.leadPrice | currency:'\u20AC'}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'COMMON_CONTAINER_DESTINATION' | translate }}</td>
                        <td>{{childData.lead.deliveryAddress}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6" ng-if="childData.processor != null">
        <div class="ibox">
            <div class="ibox-title">
                <h3>{{ 'COMMON_PROCESSOR' | translate }}: {{childData.processor.username}}</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h3>{{ 'COMMON_NOTE' | translate }}</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-12" ng-include="'components/Common/view/ProductView.html'"></div>
</div>
<div class="ibox-content text-left">{{childData.lead.message}}</div>
<div class="row" ng-include="'components/Common/view/CommentView.html'"></div>
<div class="row" ng-include="'components/Common/view/AllComments.Modal.html'"></div>