<div class="modal inmodal" id="commentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{ 'COMMON_COMMENTS_MODAL_HISTORY' | translate }}</h4>
            </div>
            <div class="modal-body chat-view">

                <div class="text-left">
                    {{ 'COMMON_COMMENTS' | translate }}
                    <small class="pull-right text-muted">{{ 'COMMON_COMMENTS_LAST' | translate }}:
                    {{getTimestamp(process.comments[process.comments.length-1].timestamp)}}
                    </small>
                </div>
                <div class=" text-left">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="chat-discussion" ng-model="process.comments">
                                <div ng-repeat="comment in process.comments | orderBy: '-timestamp'">
                                    <div ng-if="$index%2==0" class="chat-message left">
                                        <img class="message-avatar" pictureid="{{process.processor.thumbnail.id}}" httpsrc="/api/rest/files/content/" alt="">
                                        <div class="message">
                                            <a ng-if="(comment.creator.firstname==null&&comment.creator.lastname==null)" class="message-author" href="#" onclick="return false;"> {{comment.creator.username}} </a>
                                            <a ng-if="!(comment.creator.firstname==null&&comment.creator.lastname==null)" class="message-author" href="#" onclick="return false;"> {{comment.creator.firstname}} {{comment.creator.lastname}} </a>
                                            <span class="message-date"> {{getTimestamp(comment.timestamp)}} </span>
                                            <span class="message-content">
                                                {{comment.commentText}}
                                            </span>
                                        </div>
                                    </div>
                                    <div ng-if="$index%2!=0" class="chat-message right">
                                        <img class="message-avatar" pictureid="{{process.processor.thumbnail.id}}" httpsrc="/api/rest/files/content/" alt="">
                                        <div class="message">
                                            <a ng-if="comment.creator.firstname==null&&comment.creator.lastname==null" class="message-author" href="#" onclick="return false;"> {{comment.creator.username}} </a>
                                            <a ng-if="!(comment.creator.firstname==null&&comment.creator.lastname==null)" class="message-author" href="#" onclick="return false;"> {{comment.creator.firstname}} {{comment.creator.lastname}} </a>
                                            <span class="message-date"> {{getTimestamp(comment.timestamp)}} </span>
                                            <span class="message-content">
                                                {{comment.commentText}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <form name="commentform">
                                <div class="chat-message-form" style="width:100%">
                                    <div class="form-group" style="width:100%" ng-class="{ 'has-error' : commentform.message.$error.maxlength && !commentform.message.$pristine }">
                                        <textarea class="form-control message-input" ng-model="parent.commentModalInput[process.id]" required ng-maxlength="5000"
                                            style="resize: none; width:100%;box-sizing: border-box;" name="message" placeholder="{{ 'COMMON_COMMENTS_ENTER' | translate }}"
                                        />
                                        <p ng-show="commentform.message.$error.maxlength && !commentform.message.$pristine" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}5000{{ 'COMMON_VALIDATE_MAX_END' | translate
                                            }}</p>
                                    </div>
                                    <button style="width:40%; margin-top: 10px;" class="btn btn-success" ng-disabled="commentform.message.$invalid" ng-click="parent.addComment(process.id,parent.commentModalInput)">
                                    <i class="fa fa-comment-o"></i>&nbsp; {{ 'COMMON_COMMENTS_ADD' | translate }}
                                </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal"> {{ 'COMMON_CANCEL' | translate }}</button>
            </div>
        </div>
    </div>
</div>