<div class="modal inmodal" id="commentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{ 'COMMON_COMMENTS_MODAL_HISTORY' | translate }}</h4>
            </div>
            <div class="modal-body chat-view">

                <div class="text-left">
                    {{ 'COMMON_COMMENTS' | translate }}
                    <small class="pull-right text-muted">{{ 'COMMON_COMMENTS_LAST' | translate }}:
                        {{(parent.comments[parent.currentCommentModalId])[(parent.comments[parent.currentCommentModalId]).length-1].timestamp|
                        date:'dd.MM.yyyy HH:mm'}}
                    </small>
                </div>
                <div class=" text-left">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="chat-discussion" ng-model="parent.comments[parent.currentCommentModalId]">
                                <div ng-repeat="comment in parent.comments[parent.currentCommentModalId] | orderBy: '-timestamp'">
                                    <div ng-if="$index%2==0" class="chat-message left">
                                        <img class="message-avatar" src="assets/img/guest.png" alt="">
                                        <div class="message">
                                            <a class="message-author" href="#"> {{comment.creator.username}} </a>
                                            <span class="message-date"> {{comment.timestamp|  date:'dd.MM.yyyy HH:mm'}} </span>
                                            <span class="message-content">
                                                {{comment.commentText}}
                                            </span>
                                        </div>
                                    </div>
                                    <div ng-if="$index%2!=0" class="chat-message right">
                                        <img class="message-avatar" src="assets/img/guest.png" alt="">
                                        <div class="message">
                                            <a class="message-author"> {{comment.creator.username}} </a>
                                            <span class="message-date"> {{comment.timestamp |  date:'dd.MM.yyyy HH:mm'}} </span>
                                            <span class="message-content">
                                                {{comment.commentText}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="chat-message-form" style="width:100%">

                                <div class="form-group" style="width:100%">
                                    <textarea class="form-control message-input" ng-model="parent.commentModalInput[parent.currentCommentModalId]" style="resize: none; width:100%;box-sizing: border-box;"
                                        name="message" placeholder="{{ 'COMMON_COMMENTS_ENTER' | translate }}" />
                                </div>
                                <button style="width:40%; margin-top: 10px;" class="btn btn-success" ng-click="parent.addComment(parent.currentCommentModalId,parent.commentModalInput)">
                                    <i class="fa fa-comment-o"></i>&nbsp; {{ 'COMMON_COMMENTS_ADD' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal"> {{ 'COMMON_CANCEL' | translate }}</button>
            </div>
        </div>
    </div>
</div>