<div class="col-lg-12">
    <div class="ibox chat-view">
        <div class="ibox-title text-left">
            {{ 'COMMON_COMMENTS' | translate }}
            <small ng-if="process.comments.length>0" class="pull-right text-muted">{{ 'COMMON_COMMENTS_LAST' | translate }}:
                {{process.comments[process.comments.length-1].timestamp|
                date:'dd.MM.yyyy HH:mm'}}
            </small>
        </div>
        <div class="ibox-content text-left">
            <div class="row" ng-if="process.comments.length>0">
                <div class="col-md-12">
                    <div class="chat-discussion" ng-model="process.comments">
                        <div ng-repeat="comment in process.comments | orderBy: '-timestamp' | limitTo: 3">
                            <div ng-if="$index%2==0" class="chat-message left">
                                <img class="message-avatar" ng-src="data:image/png;base64,{{comment.creator.picture.content}}" alt="">
                                <div class="message">
                                    <a class="message-author" href="#" onClick="return false;"> {{comment.creator.username}} </a>
                                    <span class="message-date"> {{comment.timestamp|  date:'dd.MM.yyyy HH:mm'}} </span>
                                    <span class="message-content">
                                                {{comment.commentText}}
                                            </span>
                                </div>
                            </div>
                            <div ng-if="$index%2!=0" class="chat-message right">                                
                                <img class="message-avatar" ng-src="data:image/png;base64,{{comment.creator.picture.content}}" alt="">
                                <div class="message">
                                    <a class="message-author" href="#" onClick="return false;"> {{comment.creator.username}} </a>
                                    <span class="message-date"> {{comment.timestamp |  date:'dd.MM.yyyy HH:mm'}} </span>
                                    <span class="message-content">
                                                {{comment.commentText}}
                                            </span>
                                </div>
                            </div>
                        </div>
                        </br>
                        <div ng-if="process.comments.length>3" class="text-center"><a data-toggle="modal" data-target="#commentModal">{{ 'COMMON_COMMENTS_HISTORY' | translate }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="chat-message-form" style="width:100%">

                        <div class="form-group" style="width:100%">
                            <textarea class="form-control message-input" ng-model="parent.commentInput[process.id]" style="resize: none; width:100%;box-sizing: border-box;"
                                name="message" placeholder="{{ 'COMMON_COMMENTS_ENTER' | translate }}" />
                        </div>
                        <button style="width:200px; margin-top: 10px;" class="btn btn-success" ng-click="parent.addComment(process.id,parent.commentInput)">
                            <i class="fa fa-comment-o"></i>&nbsp;{{ 'COMMON_COMMENTS_ADD' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>