<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Leadplus+ | 403 Error</title>
</head>

<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown" ng-style="::(!user?{ 'color': 'whitesmoke'}:{ 'color': '#676a6c'} )">
        <h1>403</h1>
        <h3 class="font-bold">{{'ERROR_PAGE_403_HEADLINE' | translate}}</h3>

        <div class="error-desc">{{'ERROR_PAGE_403_TEXT' | translate}}
            <br/><a href="/#/dashboard" class="btn btn-success m-t">{{'ERROR_PAGE_GO_BACK' | translate}}</a>
        </div>
    </div>
</body>
</html>
