<form name="form">

	<div>

		<div class="form-group">
			<label>{{ 'EMAIL_NOTIFICATION_HISTORY' | translate }}</label>
			<select class="form-control" ng-disabled="parent.editProcess.notifications.length==0" ng-model="notificationId" ng-change="parent.setFormerNotification(notificationId)">
                <option value="-1" selected disabled hidden>{{ 'EMAIL_NOTIFICATION_SELECT' | translate }}</option>                                                                     
                <option value="{{notification.id}}" ng-repeat="notification in parent.editProcess.notifications track by $index">{{notification.notificationType.toLowerCase()+" - "+notification.subject}}</option>                                           
            </select>
		</div>

		<div class="form-group">
			<label>{{ 'EMAIL_TEMPLATE' | translate }}</label>
			<select ng-disabled="parent.editEmail" class="form-control" ng-model="templateId" ng-change="parent.generate(templateId, parent.editWorkflowUnit)">
                <option value="-1" selected> - {{ 'EMAIL_TEMPLATE_SELECT' | translate }} - </option>                                                                     
                <option value="{{template.id}}" ng-repeat="template in parent.templates">{{template.name}}</option>                                           
            </select>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : parent.emailEditForm.recipient.$invalid&&!parent.editEmail}">
			<label>{{ 'EMAIL_RECIPIENT' | translate }}</label><span style="color:red">*</span>
			<input ng-disabled="parent.editEmail" name="recipient" required type="email" class="form-control" ng-model="parent.currentNotification.recipient"
				ng-minlength="5">
			<p ng-show="parent.emailEditForm.recipient.$error.minlength&&!parent.editEmail" class="help-block">{{ 'COMMON_VALIDATE_MIN' | translate:'{ number: "5" }' }}</p>
			<p ng-show="parent.emailEditForm.recipient.$error.required&&!parent.editEmail&&!parent.emailEditForm.recipient.$pristine"
				class="help-block">{{ 'COMMON_VALIDATE_REQ' | translate }}</p>
			<p ng-show="parent.emailEditForm.recipient.$error.email&&!parent.editEmail" class="help-block">{{ 'COMMON_VALIDATE_EMAIL' | translate }}</p>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : parent.emailEditForm.subject.$invalid&&!parent.editEmail}">
			<label>{{ 'EMAIL_SUBJECT' | translate }}</label><span style="color:red">*</span>
			<input ng-disabled="parent.editEmail" name="subject" required type="text" class="form-control" ng-model="parent.currentNotification.subject"
				ng-minlength="3">
			<p ng-show="parent.emailEditForm.subject.$error.minlength&&!parent.editEmail" class="help-block">{{ 'COMMON_VALIDATE_MIN' | translate:'{ number: "3" }'}}</p>
			<p ng-show="parent.emailEditForm.subject.$error.required&&!parent.editEmail&&!parent.emailEditForm.subject.$pristine" class="help-block">{{ 'COMMON_VALIDATE_REQ' | translate }}</p>
		</div>

		<div class="form-group" ng-class="{ 'has-error' : parent.emailEditForm.attachement.$invalid}">
			<label>{{ 'EMAIL_ATTACHMENT' | translate }}</label>
			<br/>
			<div ng-if="!parent.editEmail" class="fileinput fileinput-new" data-provides="fileinput">
				<span class="btn btn-default btn-file"><span class="fileinput-new">{{ 'EMAIL_ATTACHMENT_SELECT' | translate }}</span>
				<span class="fileinput-exists">{{ 'EMAIL_ATTACHMENT_CHANGE' | translate }} </span>
				<input ng-disabled="parent.editEmail" name="attachement" required type="file" name="..." multiple ng-files="parent.currentNotification.attachment.id=null;parent.getTheFiles($files);"
					accept="application/pdf,image/gif,image/jpeg">
				<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
				</input>
				</span>
				<span class="fileinput-filename"></span>
				<a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
			</div>
			<i class="fa fa-paperclip" aria-hidden="true"></i>
			<a ng-if="parent.currentNotification.attachment.id!=null" ng-click="parent.openAttachment(parent.currentNotification.attachment.id)">{{parent.currentNotification.attachment.filename}}</a>
			<br/>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : parent.emailEditForm.message.$invalid}">
			<label>{{ 'EMAIL_MESSAGE' | translate }}</label><span style="color:red">*</span>
			<br/>
			<summernote ng-if="!parent.editEmail" name="message" class="form-control" required ng-model="parent.currentNotification.content">{{parent.currentNotification.content}}</summernote>
			<div ng-if="parent.editEmail" style="border: 1px solid gray;  padding: 15px;">
				<div ng-bind-html="parent.getAsHtml(parent.currentNotification.content)"></div>
			</div>
			<p ng-show="parent.emailEditForm.message.$error.required&&!parent.editEmail&&!parent.emailEditForm.message.$pristine" class="help-block">{{ 'COMMON_VALIDATE_REQ' | translate }}</p>
		</div>
	</div>
</form>