<div ng-if="parent.currentWizard==6">
    <h1 id="wizard-h-4" tabindex="-1" class="title current">Verkauf</h1>
    <div class="current" id="wizard-p-4" role="tabpanel" aria-labelledby="wizard-h-4" aria-hidden="false" style="display: block;">
        <div class="m-t-md">
            <div>
                <div class="form-group">
                    <label>Email - Template</label>
                    <select class="form-control" ng-model="templateId" ng-change="parent.generate(templateId, parent.editWorkflowUnit)">
                            <option value="-1" selected> - Select Template - </option>                                                                     
                            <option value="{{template.id}}" ng-repeat="template in parent.templates">{{template.name}}</option>                                          
                        </select>
                </div>
            </div>
            <div>
                <div class="form-group" ng-class="{ 'has-error' : parent.editForm.recipient.$invalid}">
                    <label>Empfänger</label>
                    <input name="recipient" required type="email" class="form-control" ng-model="parent.notification.recipient" ng-minlength="5">
                    <p ng-show="parent.editForm.recipient.$error.minlength" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}5{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
                    <p ng-show="parent.editForm.recipient.$error.required" class="help-block">{{ 'COMMON_VALIDATE_REQ' | translate }}</p>
                    <p ng-show="parent.editForm.recipient.$error.email" class="help-block">{{ 'COMMON_VALIDATE_EMAIL' | translate }}</p>
                    <p ng-show="parent.editForm.recipient.$invalid" class="help-block">{{ 'COMMON_VALIDATE_REQ' | translate }}</p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : parent.editForm.subject.$invalid}">
                    <label>Betreff</label>
                    <input name="subject" required type="text" class="form-control" ng-model="parent.notification.subject" ng-minlength="3">
                    <p ng-show="parent.editForm.subject.$error.minlength" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}3{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
                    <p ng-show="parent.editForm.subject.$error.required" class="help-block">{{ 'COMMON_VALIDATE_REQ' | translate }}</p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : parent.editForm.attachement.$invalid}">
                    <label>Anhang</label>
                    <br/>
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <span class="btn btn-default btn-file"><span class="fileinput-new">Select file</span>
                        <span class="fileinput-exists">Change </span>
                        <input name="attachement" required type="file" name="..." multiple ng-files="parent.getTheFiles($files)">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </input>
                        </span>
                        <span class="fileinput-filename"></span>
                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                    </div>
                    <br/>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : parent.editForm.message.$invalid}">
                    <label>Nachricht</label>
                    <br/>
                    <div class="summernote">
                        <summernote name="message" required ng-model="parent.notification.content">{{parent.notification.content}}</summernote>
                    </div>
                    <p ng-show="parent.editForm.message.$error.required" class="help-block">{{ 'COMMON_VALIDATE_REQ' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">
$(".btn-toolbar").css("margin-left","0");
$(".note-toolbar").css("margin-left","4");
</script>