<form name="parent.editForm" novalidate>
    <div class="row">
        <div class="col-sm-6 b-r">
            <div class="form-group">
                <label>{{ 'CUSTOMER_MENU' | translate }}</label>
                <select class="form-control" ng-model="parent.currentCustomerId" ng-change="parent.selectCustomer(parent.editWorkflowUnit)">
                                    <option value="-1" selected > - {{ 'CUSTOMER_CREATE' | translate }} - </option>                                                                     
                                    <option value="{{customer.id}}" ng-repeat="customer in service.customerService.getActiveCustomers()">{{customer.firstname}} {{customer.lastname}}</option>                                          
                                </select>
            </div>
            <div class="form-group">
                <label>{{ 'COMMON_TITLE' | translate }}</label>
                <select name="title" class="form-control" ng-model="parent.editWorkflowUnit.customer.title" ng-disabled="parent.customerSelected">
                                    <option value="MR">{{ 'COMMON_TITLE_MR' | translate }}</option>
                                    <option value="MS">{{ 'COMMON_TITLE_MS' | translate }}</option>
                                </select>
            </div>
            <!-- FIRSTNAME -->
            <div class="form-group" ng-class="{ 'has-error' : parent.editForm.firstname.$invalid && !parent.editForm.firstname.$pristine }">
                <label>{{ 'COMMON_FIRSTNAME' | translate }}<span style="color:red">*</span></label>
                <input required type="text" name="firstname" class="form-control" ng-model="parent.editWorkflowUnit.customer.firstname" ng-maxlength="30"
                    ng-disabled="parent.customerSelected">
                <p ng-show="parent.editForm.firstname.$error.maxlength" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}30{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
                <p ng-show="parent.editForm.firstname.$error.required && !parent.editForm.firstname.$pristine" class="help-block">{{ 'COMMON_VALIDATE_REQ' | translate }}</p>
            </div>
            <!-- LASTNAME -->
            <div class="form-group" ng-class="{ 'has-error' : parent.editForm.lastname.$invalid && !parent.editForm.lastname.$pristine }">
                <label>{{ 'COMMON_LASTNAME' | translate }}<span style="color:red">*</span></label>
                <input required type="text" name="lastname" class="form-control" ng-model="parent.editWorkflowUnit.customer.lastname" ng-maxlength="30"
                    ng-disabled="parent.customerSelected">
                <p ng-show="parent.editForm.lastname.$error.maxlength" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}30{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
                <p ng-show="parent.editForm.lastname.$error.required && !parent.editForm.lastname.$pristine" class="help-block">{{ 'COMMON_VALIDATE_REQ' | translate }}</p>
            </div>
            <!-- COMPANY -->
            <div class="form-group" ng-class="{ 'has-error' : parent.editForm.company.$invalid && !parent.editForm.company.$pristine }">
                <label>{{ 'COMMON_COMPANY' | translate }}</label>
                <input type="text" name="company" class="form-control" ng-model="parent.editWorkflowUnit.customer.company" ng-maxlength="50"
                    ng-disabled="parent.customerSelected">
                <p ng-show="parent.editForm.company.$invalid && !parent.editForm.company.$pristine" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
            </div>
            <!-- EMAIL -->
            <div class="form-group" ng-class="{ 'has-error' : parent.editForm.email.$invalid && !parent.editForm.email.$pristine }">
                <label>{{ 'COMMON_EMAIL' | translate }}</label>
                <input type="email" name="email" class="form-control" ng-model="parent.editWorkflowUnit.customer.email" ng-disabled="parent.customerSelected">
                <p ng-show="parent.editForm.email.$invalid && !parent.editForm.email.$pristine" class="help-block">{{ 'COMMON_VALIDATE_EMAIL'| translate }}</p>
            </div>
            <!-- PHONE -->
            <div class="form-group" ng-class="{ 'has-error' : parent.editForm.phone.$invalid && !parent.editForm.phone.$pristine }">
                <label>{{ 'COMMON_PHONE' | translate }}</label>
                <input type="text" name="phone" class="form-control" ng-model="parent.editWorkflowUnit.customer.phone" ng-maxlength="50"
                    ng-disabled="parent.customerSelected">
                <p ng-show="parent.editForm.phone.$invalid && !parent.editForm.phone.$pristine" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- MESSAGE -->
            <div>
                <div class="form-group">
                    <label>{{ 'COMMON_NOTE' | translate }}</label>
                    <textarea class="form-control" rows="5" name="message" style="resize:vertical;" ng-model="parent.editWorkflowUnit.message"></textarea>
                </div>
            </div>
            <!-- Delivery Address -->
            <div class="form-group" ng-class="{ 'has-error' : parent.editForm.deliveryAddress.$invalid && !parent.editForm.deliveryAddress.$pristine }">
                <label>{{ 'COMMON_PRODUCT_DESTINATION' | translate }}</label>
                <input type="text" name="deliveryAddress" class="form-control" ng-model="parent.editWorkflowUnit.deliveryAddress" ng-maxlength="50">
                <p ng-show="parent.editForm.deliveryAddress.$invalid && !parent.editForm.deliveryAddress.$pristine" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
            </div>
            <!-- DeliveryCosts -->
            <div class="form-group" ng-class="{ 'has-error' : parent.editForm.deliveryCosts.$invalid && !parent.editForm.deliveryCosts.$pristine }">
                <label>{{ 'COMMON_PRODUCT_DELIVERYCOSTS'| translate }}</label>
                <div class="input-group">
                    <span class="input-group-addon">{{ 'COMMON_CURRENCY'| translate }}</span>
                    <input name="deliveryCosts" type="number" ng-model="parent.editWorkflowUnit.deliveryCosts" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                        min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency"
                        id="c2" />
                </div>
                <p ng-show="parent.editForm.deliveryCosts.$invalid && !parent.editForm.deliveryCosts.$pristine" class="help-block">{{ 'COMMON_VALIDATE_REQ'| translate }}({{ 'COMMON_VALIDATE_REQ_NUMBER'| translate }})</p>
            </div>
            <!-- DELIVERY DATE -->
            <div ng-show="type=='offer'" class="form-group" id="editOfferDatepicker">
                <label>{{ 'COMMON_DELIVERY_TIME' | translate }}</label>
                <div ng-show="$root.language == 'DE'" class="input-group date" data-date-language="de" data-date-format="dd.mm.yyyy">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" class="form-control" name="deliveryDate" ng-model="parent.editWorkflowUnit.deliveryDate">
                </div>
                <div ng-show="$root.language == 'EN'" class="input-group date" data-date-language="en" data-date-format="dd.mm.yyyy">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" class="form-control" name="deliveryDate" ng-model="parent.editWorkflowUnit.deliveryDate">
                </div>
            </div>
            <!-- OFFER PRICE -->
            <div ng-if="type=='offer'" class="form-group" ng-class="{ 'has-error' : parent.editForm.offerPrice.$invalid && !parent.editForm.offerPrice.$pristine }">
                <label>{{ 'COMMON_PRODUCT_OFFER_PRICE'| translate }} *</label>
                <div class="input-group">
                    <span class="input-group-addon">{{ 'COMMON_CURRENCY'| translate }}</span>
                    <input type="number" name="offerPrice" class="form-control" ng-model="parent.editWorkflowUnit.offerPrice" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                        step="0.01" min="0" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency"
                        id="c2" required>
                </div>
                <p ng-show="parent.editForm.offerPrice.$invalid && !parent.editForm.offerPrice.$pristine" class="help-block">{{ 'COMMON_VALIDATE_REQ'| translate }}({{ 'COMMON_VALIDATE_REQ_NUMBER'| translate }})</p>
            </div>
            <!-- SALE TURNOVER -->
            <div ng-if="type=='sale'" class="form-group" ng-class="{ 'has-error' : parent.editForm.saleTurnover.$invalid && !parent.editForm.saleTurnover.$pristine }">
                <label>{{ 'COMMON_PRODUCT_SALE_TURNOVER'| translate }} *</label>
                <div class="input-group">
                    <span class="input-group-addon">{{ 'COMMON_CURRENCY'| translate }}</span>
                    <input type="number" name="saleTurnover" class="form-control" ng-model="parent.editWorkflowUnit.saleTurnover" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                        step="0.01" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency"
                        id="c2" required>
                </div>
                <p ng-show="parent.editForm.saleTurnover.$invalid && !parent.editForm.saleTurnover.$pristine" class="help-block">{{ 'COMMON_VALIDATE_REQ'| translate }}({{ 'COMMON_VALIDATE_REQ_NUMBER'| translate }})</p>
            </div>
            <!-- SALE PROFIT -->
            <div ng-if="type=='sale'" class="form-group" ng-class="{ 'has-error' : parent.editForm.saleProfit.$invalid && !parent.editForm.saleProfit.$pristine }">
                <label>{{ 'COMMON_PRODUCT_SALE_PROFIT'| translate }} *</label>
                <div class="input-group">
                    <span class="input-group-addon">{{ 'COMMON_CURRENCY'| translate }}</span>
                    <input type="number" name="saleProfit" class="form-control" ng-model="parent.editWorkflowUnit.saleProfit" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                        min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency"
                        id="c2" required>
                </div>
                <p ng-show="parent.editForm.saleProfit.$invalid && !parent.editForm.saleProfit.$pristine" class="help-block">{{ 'COMMON_VALIDATE_REQ'| translate }}({{ 'COMMON_VALIDATE_REQ_NUMBER'| translate }})</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ 'PRODUCT_MENU' | translate }}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-5">
                            <select class="form-control" ng-model="parent.currentProductId">
                                            <option value="-1" selected disabled hidden>{{ 'LEAD_EDIT_SELECT_PRODUCT' | translate }}</option>                                     
                                            <option value="{{product.id}}" ng-repeat="product in service.productService.getActiveProducts()">{{product.name}} {{product.priceNetto | currency:'\u20AC'}}</option>                                          
                                        </select>
                        </th>
                        <th class="col-md-2"></th>
                        <th class="col-md-2"></th>
                        <th class="col-md-2">
                            <div style="text-align:right">
                                {{ 'COMMON_PRODUCT_AMOUNT'| translate }}:
                            </div>
                        </th>
                        <th class="col-md-2">
                            <input min="1" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" name="addOrderPosition" type="number" class="input-sm form-control"
                                ng-model="parent.currentProductAmount">
                        </th>
                        <th class="col-md-1">
                            <button ng-disabled="parent.editForm.addOrderPosition.$invalid||parent.currentProductId==-1" type="button" class="btn btn-white btn-sm"
                                ng-click="parent.addProduct(parent.currentOrderPositions, parent.currentProductId, parent.currentProductAmount)">
                                     <i class="fa fa-plus"></i>&nbsp;</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <th>{{ 'PRODUCT_PRODUCTNAME' | translate }}</th>
                    <th class="text-center">{{ 'PRODUCT_DISCOUNT' | translate }}</th>
                    <th class="text-center">{{ 'COMMON_PRODUCT_SINGLE_PRICE' | translate }}</th>
                    <th class="text-center">{{ 'COMMON_PRODUCT_AMOUNT'| translate }}</th>
                    <th class="text-center">{{ 'PRODUCT_PRICE' | translate }}</th>
                    <tr ng-repeat="orderPosition in parent.currentOrderPositions">
                        <td class="col-md-3">
                            {{orderPosition.product.name}} ({{orderPosition.product.priceNetto| currency:'\u20AC'}})
                        </td>
                        <td class="col-md-2 text-center ">
                            <div class="input-group " ng-class="{ 'has-error' : parent.editForm[
                                    'orderPositionDiscount'+$index].$invalid && !parent.editForm[ 'orderPositionDiscount'+$index].$pristine } ">
                                <span class="input-group-addon ">%</span>
                                <input type="number " name="{{ 'orderPositionDiscount'+$index}} " class="form-control
                                    " ng-model="orderPosition.discount " ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/ " min="0 "
                                    max="100 " step="0.1 " data-number-to-fixed="2 " data-number-stepfactor="100
                                    " class="form-control currency " ng-keyup="parent.workflowService.setPrice(orderPosition) "
                                    id="c3 " required>
                            </div>
                        </td>
                        <td class="col-md-2 text-center">
                            <div class="input-group" ng-class="{ 'has-error' : parent.editForm['orderPosition'+$index].$invalid && !parent.editForm['orderPosition'+$index].$pristine  }">
                                <span class="input-group-addon">{{ 'COMMON_CURRENCY'| translate }}</span>
                                <input type="number" name="{{'orderPosition'+$index}}" class="form-control" ng-model="orderPosition.price" " ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/ "
                                    min="0 " step="0.01 " data-number-to-fixed="2 " data-number-stepfactor="100
                                    " class="form-control currency " ng-keyup="parent.workflowService.setDiscount(orderPosition) "
                                    id="c2 " required>
                            </div>
                        </td>
                        <td class="col-md-2 text-center ">{{orderPosition.amount}}</td>
                        <td class="col-md-2 text-center "> {{orderPosition.price*orderPosition.amount|
                        currency:'\u20AC'}}
                        </td>
                        <td class=" col-md-1 ">
                            <button type="button " class="btn btn-white btn-sm " ng-click="parent.deleteProduct(parent.currentOrderPositions,$index) ">
                                        <i class="fa fa-trash "></i>&nbsp;
                                     </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- ENTIRE PRICE -->
    <div class="row ">
        <div class="col-sm-6 ">
            <div>
                <div class="form-group ">
                    <table class="table ">
                        <tr>
                            <td></td>
                            <td>{{ 'COMMON_PRODUCT_BASE_PRICE' | translate }}</td><td>{{parent.sumBasicPriceOrderPositions(parent.currentOrderPositions)|
                        currency:'\u20AC'}}</td>
                        </tr>
                         <tr>
                            <td><b>-</b></td>
                            <td>{{ 'PRODUCT_DISCOUNT' | translate }}</td>
                            <td>{{parent.sumBasicPriceOrderPositions(parent.currentOrderPositions) - parent.sumOrderPositions(parent.currentOrderPositions)|
                             currency:'\u20AC'}} ({{parent.workflowService.calculateDiscount(parent.sumBasicPriceOrderPositions(parent.currentOrderPositions),parent.sumOrderPositions(parent.currentOrderPositions))}}%)
                          </td>
                        </tr>
                        <tr>
                            <td><b>+</b></td>
                            <td>{{ 'COMMON_PRODUCT_DELIVERYCOSTS' | translate }}</td>
                            <td>{{parent.editWorkflowUnit.deliveryCosts|currency:'\u20AC'}}</td>
                        </tr>
                         <tr>
                            <td><b>=</b></td>
                            <td><h3>{{ 'COMMON_PRODUCT_ENTIRE_PRICE' | translate }}</h3></td>
                            <td><h3>{{parent.sumOrderPositions(parent.currentOrderPositions)+parent.editWorkflowUnit.deliveryCosts|currency:'\u20AC'}}</h3></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#editOfferDatepicker .input-group.date').datepicker({
            todayBtn: "linked ",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
    });
</script>