<div class="row">
    <div class="col-sm-6 text-left">
        <!-- Delivery Address -->
        <div class="form-group " ng-class="{ 'has-error' : parent.editForm.deliveryAddress.$invalid && !parent.editForm.deliveryAddress.$pristine
                                } ">
            <label>{{ 'COMMON_PRODUCT_DESTINATION' | translate }}</label>
            <input type="text " name="deliveryAddress " class="form-control " ng-model="parent.editWorkflowUnit.deliveryAddress
                                " ng-maxlength="50 ">
            <p ng-show="parent.editForm.deliveryAddress.$invalid && !parent.editForm.deliveryAddress.$pristine
                                " class="help-block ">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
        </div>
        <!-- DELIVERY DATE -->
        <div ng-show="type=='offer' " class="form-group " id="editOfferDatepicker ">
            <label>{{ 'COMMON_DELIVERY_TIME' | translate }}</label>
            <div ng-show="$root.language=='DE' " class="input-group date " data-date-language="de " data-date-format="dd.mm.yyyy ">
                <span class="input-group-addon "><i class="fa fa-calendar "></i></span>
                <input type="text " class="form-control " name="deliveryDate " ng-model="parent.editWorkflowUnit.deliveryDate ">
            </div>
            <div ng-show="$root.language=='EN' " class="input-group date " data-date-language="en " data-date-format="dd.mm.yyyy ">
                <span class="input-group-addon "><i class="fa fa-calendar "></i></span>
                <input type="text " class="form-control " name="deliveryDate " ng-model="parent.editWorkflowUnit.deliveryDate ">
            </div>
        </div>
        <!-- DeliveryCosts -->
        <div class="form-group " ng-class="{ 'has-error' : parent.editForm.deliveryCosts.$invalid && !parent.editForm.deliveryCosts.$pristine} ">
            <label>{{ 'COMMON_PRODUCT_DELIVERYCOSTS'| translate }}</label>
            <div class="input-group ">
                <span class="input-group-addon ">{{ 'COMMON_CURRENCY'| translate }}</span>
                <input name="deliveryCosts " type="number " ng-model="parent.editWorkflowUnit.deliveryCosts
                                " ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/ " ng-keyup="parent.workflowService.reCalculateOffer(parent.editWorkflowUnit,parent.currentOrderPositions) "
                    min="0 " step="0.01 " data-number-to-fixed="2 " data-number-stepfactor="100 " class="form-control currency
                                " id="c2 " />
            </div>
            <p ng-show="parent.editForm.deliveryCosts.$invalid && !parent.editForm.deliveryCosts.$pristine " class="help-block ">{{ 'COMMON_VALIDATE_REQ'| translate }}({{ 'COMMON_VALIDATE_REQ_NUMBER'| translate }})</p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#editOfferDatepicker .input-group.date').datepicker({
            todayBtn: "linked ",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
    });
</script>