<form name="form">
	<div class="row">
		<div class="col-sm-6 b-r">
			<div class="form-group">
				<label>{{ 'CUSTOMER_MENU' | translate }}</label>
				<select class="form-control" ng-model="parent.currentCustomerId" ng-change="parent.selectCustomer(parent.editWorkflowUnit)">
                    <option value="-1" selected > - {{ 'CUSTOMER_CREATE' | translate }} - </option>                                                                     
                    <option value="{{customer.id}}" ng-repeat="customer in service.customerService.getActiveCustomers()">{{customer.firstname}} {{customer.lastname}}</option>                                          
                </select>
			</div>
			<div class="form-group">
				<label>{{ 'COMMON_TITLE' | translate }}</label>
				<select name="title" class="form-control" ng-model="parent.editWorkflowUnit.customer.title" ng-disabled="parent.customerSelected">
                    <option value="MR">{{ 'COMMON_TITLE_MR' | translate }}</option>
                    <option value="MS">{{ 'COMMON_TITLE_MS' | translate }}</option>
                </select>
			</div>
			<!-- FIRSTNAME -->
			<div class="form-group" ng-class="{ 'has-error' : parent.customerEditForm.firstname.$invalid && !parent.customerEditForm.firstname.$pristine }">
				<label>{{ 'COMMON_FIRSTNAME' | translate }}<span style="color:red">*</span></label>
				<input required type="text" name="firstname" class="form-control" ng-model="parent.editWorkflowUnit.customer.firstname" ng-maxlength="30"
					ng-disabled="parent.customerSelected">
				<p ng-show="parent.customerEditForm.firstname.$error.maxlength" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}30{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
				<p ng-show="parent.customerEditForm.firstname.$error.required && !parent.customerEditForm.firstname.$pristine" class="help-block">{{ 'COMMON_VALIDATE_REQ' | translate }}</p>
			</div>
			<!-- LASTNAME -->
			<div class="form-group" ng-class="{ 'has-error' : parent.customerEditForm.lastname.$invalid && !parent.customerEditForm.lastname.$pristine }">
				<label>{{ 'COMMON_LASTNAME' | translate }}<span style="color:red">*</span></label>
				<input required type="text" name="lastname" class="form-control" ng-model="parent.editWorkflowUnit.customer.lastname" ng-maxlength="30"
					ng-disabled="parent.customerSelected">
				<p ng-show="parent.customerEditForm.lastname.$error.maxlength" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}30{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
				<p ng-show="parent.customerEditForm.lastname.$error.required && !parent.customerEditForm.lastname.$pristine" class="help-block">{{ 'COMMON_VALIDATE_REQ' | translate }}</p>
			</div>
			<!-- COMPANY -->
			<div class="form-group" ng-class="{ 'has-error' : parent.customerEditForm.company.$invalid && !parent.customerEditForm.company.$pristine }">
				<label>{{ 'COMMON_COMPANY' | translate }}</label>
				<input type="text" name="company" class="form-control" ng-model="parent.editWorkflowUnit.customer.company" ng-maxlength="50"
					ng-disabled="parent.customerSelected">
				<p ng-show="parent.customerEditForm.company.$invalid && !parent.customerEditForm.company.$pristine" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
			</div>
			<!-- EMAIL -->
			<div class="form-group" ng-class="{ 'has-error' : parent.customerEditForm.email.$invalid && !parent.customerEditForm.email.$pristine }">
				<label>{{ 'COMMON_EMAIL' | translate }}</label>
				<input type="email" name="email" class="form-control" ng-model="parent.editWorkflowUnit.customer.email" ng-disabled="parent.customerSelected">
				<p ng-show="parent.customerEditForm.email.$invalid && !parent.customerEditForm.email.$pristine" class="help-block">{{ 'COMMON_VALIDATE_EMAIL'| translate }}</p>
			</div>
			<!-- PHONE -->
			<div class="form-group" ng-class="{ 'has-error' : parent.customerEditForm.phone.$invalid && !parent.customerEditForm.phone.$pristine }">
				<label>{{ 'COMMON_PHONE' | translate }}</label>
				<input type="text" name="phone" class="form-control" ng-model="parent.editWorkflowUnit.customer.phone" ng-maxlength="50"
					ng-disabled="parent.customerSelected">
				<p ng-show="parent.customerEditForm.phone.$invalid && !parent.customerEditForm.phone.$pristine" class="help-block">{{ 'COMMON_VALIDATE_MAX' | translate }}50{{ 'COMMON_VALIDATE_MAX_END' | translate }}</p>
			</div>
		</div>
		<div class="col-sm-6">
			<!-- MESSAGE -->
			<div>
				<div class="form-group">
					<label>{{ 'COMMON_NOTE' | translate }}</label>
					<summernote type="text" id="summernote" name="message" class="form-control" ng-model="parent.editWorkflowUnit.message"></summernote>
				</div>
			</div>
		</div>
	</div>
</form>
<style>
	.btn-toolbar {
		margin-left: 0px;
	}
</style>
<script>
    $(document).ready(function () {
        $('#editOfferDatepicker .input-group.date').datepicker({
            todayBtn: "linked ",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
    });

    $('#summernote').summernote({
        height: ($(window).height() - 580),
        focus: false
    });
</script>