<div class="modal-body">

    <button type="button" class="close" ng-click="parent.close()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <div id="wizard" role="application" class="wizard clearfix">
        <div class="steps clearfix">
            <ul role="tablist">
                <li ng-click="parent.tabOnClick(1)" role="tab" class="{{parent.currentTab1Class}}" aria-disabled="false" aria-selected="true"><a aria-controls="wizard-p-0"><span class="current-info audible">current step: </span><span class="number">1.</span> Kunde</a></li>
                <li ng-click="parent.tabOnClick(2)" role="tab" class="{{parent.currentTab2Class}}" aria-disabled="false" aria-selected="false"><a aria-controls="wizard-p-1"><span class="number">2.</span> Bestellung</a></li>
                <li ng-click="parent.tabOnClick(3)" role="tab" class="{{parent.currentTab3Class}}" aria-disabled="false" aria-selected="false"><a aria-controls="wizard-p-2"><span class="number">3.</span> Email</a></li>
            </ul>
        </div>
        <div class="clearfix">

            <div ng-include="'components/Common/view/Workflow.Send.Step1.html'"></div>
            <div ng-include="'components/Common/view/Workflow.Send.Step2.html'"></div>
            <div ng-include="'components/Common/view/Workflow.Send.Step3.html'"></div>

        </div>
        <div class="actions clearfix">
            <ul role="menu" aria-label="Pagination">
                <li ng-if="parent.currentTab==3" aria-hidden="false" style="background:red;"><a role="menuitem">Angebot versenden</a></li>
                <li><a ng-click="parent.close()" role="menuitem">Cancel</a></li>
            </ul>
        </div>
    </div>

</div>
<!--
<div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="parent.close()">{{ 'COMMON_CANCEL'| translate }}</button>
    <button type="submit" class="btn btn-success" ng-disabled="offer.editForm.$invalid" ng-click="parent.send()">{{ 'COMMON_SEND'| translate }}</button>
</div>
-->

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#editOfferDatepicker .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });     
    });
</script>