<form name="form">

	<div>

		<div class="form-group">
			<label>{{ 'EMAIL_NOTIFICATION_HISTORY' | translate }}</label>
			<select ng-change="onNotificationSelected()" class="form-control" ng-disabled="process.notifications==null||process.notifications.length==0"
				ng-model="notification" ng-options="(notification.notificationType.toLowerCase()+' - '+notification.subject) for notification in process.notifications track by notification.id">
               <option></option>                                         
            </select>
		</div>
		<label>{{ 'EMAIL_TEMPLATE' | translate }}</label>
		<div class="form-inline">
			<div class="form-group" style="width:90%">
				<select style="width:100%" ng-disabled="disabled" class="form-control" ng-model="templateId" ng-change="generate(templateId, process.offer,notification)">
                <option value="-1" selected> - {{ 'EMAIL_TEMPLATE_SELECT' | translate }} - </option>                                                                     
                <option value="{{template.id}}" ng-repeat="template in templates">{{template.name}}</option>                                           
            	</select>
			</div>
			<a ng-disabled="disabled" style="width:9%;height:34px" class="btn btn-default pull-right" ng-click="generate(templateId, process.offer,notification)"><i class="fa fa-refresh" aria-hidden="true"></i></a>
		</div>
		<hr style="border-top: 1px dashed #8c8b8b;" />
		<span><label>{{ 'EMAIL_RECIPIENT' | translate }} {{ 'EMAIL_RECIPIENT_COMMA' | translate }}</label>
		<span style="color:red">*</span>
		<span style="color:red" ng-show="form.recipients.$error.required&&!disabled&&!form.recipients.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
		<span style="color:red" ng-show="form.recipients.$error.email&&!disabled&&!form.recipients.$pristine">{{ 'COMMON_VALIDATE_EMAIL' | translate }}</span>
		<div class="form-inline">
			<div class="form-group" style="width:90%" ng-class="{ 'has-error' : form.recipients.$invalid&&!disabled&&!form.recipients.$pristine}">
				<input style="width:100%" ng-disabled="disabled" multipleemails form="form" emails="notification.recipients" name="recipients"
					required class="form-control" ng-model="notification.recipients">

			</div>
			<a ng-disabled="disabled" style="width:9%;height:34px" class="btn btn-default pull-right" ng-click="showCC_BCC=!showCC_BCC">CC/BCC</a>
		</div>
		<br/>
		<div ng-show="showCC_BCC" class="form-group" ng-class="{ 'has-error' : form.recipientsCC.$invalid&&!disabled&&!form.recipientsCC.$pristine}">
			<label>{{ 'EMAIL_RECIPIENT' | translate }} - CC</label>
			<span style="color:red" ng-show="form.recipientsCC.$error.email&&!disabled">{{ 'COMMON_VALIDATE_EMAIL' | translate }}</span>
			<input style="width:100%" ng-disabled="disabled" multipleemails form="form" emails="notification.recipientsCC" name="recipientsCC"
				class="form-control" ng-model="notification.recipientsCC">
		</div>
		<div ng-show="showCC_BCC" class="form-group" ng-class="{ 'has-error' : form.recipientsBCC.$invalid&&!disabled&&!form.recipientsBCC.$pristine}">
			<label>{{ 'EMAIL_RECIPIENT' | translate }} - BCC</label>
			<span style="color:red" ng-show="form.recipientsBCC.$error.email&&!disabled">{{ 'COMMON_VALIDATE_EMAIL' | translate }}</span>
			<input style="width:100%" ng-disabled="disabled" multipleemails form="form" emails="notification.recipientsBCC" name="recipientsBCC"
				class="form-control" ng-model="notification.recipientsBCC">
		</div>
		<div class="form-group" ng-class="{ 'has-error' : form.subject.$invalid&&!disabled&&!form.subject.$pristine}">
			<label>{{ 'EMAIL_SUBJECT' | translate }}</label>
			<span style="color:red">*</span>
			<span style="color:red" ng-show="form.subject.$error.minlength&&!disabled">{{ 'COMMON_VALIDATE_MIN' | translate:'{ number: "3" }'}}</span>
			<span style="color:red" ng-show="form.subject.$error.required&&!disabled&&!form.subject.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
			<input ng-disabled="disabled" name="subject" required type="text" class="form-control" ng-model="notification.subject" ng-minlength="3">

		</div>
		<div ng-if="!disabled||(disabled&&notification.attachments.length>0)" class="form-group" ng-class="{ 'has-error' : parent.emailEditForm.attachement.$invalid}">
			<label>{{ 'EMAIL_ATTACHMENT' | translate }}</label>
			<span style="color:red" ng-if="true||form.fileSize.$error.max">max 10 MB</span>
			<div hidden>
				<input hidden disabled ng-max="10*1024*1024" type="number" name="fileSize" ng-model="fileSize">
			</div>
			<br/>
			<div ng-if="!disabled" style="white-space: nowrap;float:left;margin-right:7px" ng-if="!parent.editEmail" class="fileinput fileinput-new"
				data-provides="fileinput">
				<span class="btn btn-default btn-file"><span class="fileinput-new">{{ 'EMAIL_ATTACHMENT_SELECT' | translate }}</span>
				<span class="fileinput-exists">{{ 'EMAIL_ATTACHMENT_SELECT' | translate }} </span>
				<input name="attachement" multiple required type="file" name="..." ng-files="setAttachments($files);" accept="application/pdf,image/*,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.csv,application/vnd.ms-excel,text/plain,application/vnd.ms-powerpoint, application/msword,.pps,.xlsx,.xls,.doc,.docx,.ppt,.pptx,.txt,.zip,.rar">
				</span>
			</div>
			<div style="white-space: nowrap;float:left;margin-right:5px" ng-repeat="attachment in notification.attachments">
				<a ng-click="openAttachment(attachment.fileUpload)">{{attachment.fileUpload.filename}}</a>
				<a ng-click="deleteAttachment($index)" href="" class="close" style="float: none">x</a>
			</div>
		</div>
	</div>
	<div style="clear: left;" class="form-group" ng-class="{ 'has-error' : form.message.$invalid&&!form.message.$pristine}">
		<label>{{ 'EMAIL_MESSAGE' | translate }}</label>
		<span style="color:red">*</span>
		<span style="color:red" ng-show="form.message.$error.required&&!form.message.$pristine">{{ 'COMMON_VALIDATE_REQ' | translate }}</span>
		<br/>
		<summernote ng-if="!disabled" name="message" class="form-control" required ng-model="notification.content">{{notification.content}}</summernote>
		<div ng-if="disabled" style="border: 1px solid gray;  padding: 15px;">
			<div ng-bind-html="htmlString"></div>
		</div>
	</div>
	</div>
</form>