<div class="modal" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content animated fadeIn">

			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span></button>
				<div id="wizard" role="application" class="wizard clearfix">
					<div class="steps clearfix">
						<ul role="tablist">
							<li ng-click="parent.wizardOnClick(1)" role="tab" ng-class="{error:parent.customerEditForm.$invalid&&!parent.customerEditForm.$pristine,current:parent.currentWizard==1,done:parent.currentWizard!=1}"
								aria-disabled="false" aria-selected="true"><a aria-controls="wizard-p-0"><span class="current-info audible">current step: </span><span class="number">1.</span> {{ 'CUSTOMER'| translate }}</a></li>
							<li ng-click="parent.wizardOnClick(2)" role="tab" ng-class="{error:parent.leadEditForm.$invalid,current:parent.currentWizard==2,done:parent.currentWizard!=2}"
								aria-disabled="false" aria-selected="false"><a aria-controls="wizard-p-1"><span class="number">2.</span> {{ 'LEAD'| translate }}</a></li>
							<li ng-click="parent.wizardOnClick(3)" role="tab" ng-class="{error:parent.supplyEditForm.$invalid,current:parent.currentWizard==3,done:parent.currentWizard!=3}"
								aria-disabled="false" aria-selected="false"><a aria-controls="wizard-p-2"><span class="number">3.</span> {{ 'SUPPLY'| translate }}</a></li>
							<li ng-click="parent.wizardOnClick(4)" role="tab" ng-class="{error:parent.priceEditForm.$invalid,current:parent.currentWizard==4,done:parent.currentWizard!=4}"
								aria-disabled="false" aria-selected="false"><a aria-controls="wizard-p-3"><span class="number">4.</span> {{ 'COMMON_PRODUCT_CALCULATION'| translate }}</a></li>
							<li ng-if="type=='offer' || type=='sale'" ng-click="parent.wizardOnClick(5)" role="tab" ng-class="{error:parent.emailEditForm.$invalidinvalid&&!parent.emailEditForm.$pristine,current:parent.currentWizard==5,done:parent.currentWizard!=5}"
								aria-disabled="false" aria-selected="false"><a aria-controls="wizard-p-5"><span class="number">5.</span> {{ 'EMAIL'| translate }}</a></li>
							<li ng-if="type=='sale'" ng-click="parent.wizardOnClick(6)" role="tab" ng-class="{error:parent.saleEditForm.$invalid,current:parent.currentWizard==6,done:parent.currentWizard!=6}"
								aria-disabled="false" aria-selected="false"><a aria-controls="wizard-p-6"><span class="number">6.</span> {{ 'SALE'| translate }}</a></li>
							<li ng-click="parent.wizardOnClick(7)" role="tab" ng-class="{error:parent.prosessorHistoryEditForm.$invalid,current:parent.currentWizard==7,done:parent.currentWizard!=7}"
								aria-disabled="false" aria-selected="false"><a aria-controls="wizard-p-6">
									<span ng-if="type=='lead'" class="number">5.</span>
									<span ng-if="type=='offer'" class="number">6.</span>
									<span ng-if="type=='sale'" class="number">7.</span>									
									 {{ 'FORMER_PROCESSOR'| translate }}</a></li>
						</ul>
					</div>
					<div class="clearfix">
						<div ng-include="'components/Common/view/Workflow.Edit.Step1.html'"></div>
						<div ng-include="'components/Common/view/Workflow.Edit.Step2.html'"></div>
						<div ng-include="'components/Common/view/Workflow.Edit.Step3.html'"></div>
						<div ng-include="'components/Common/view/Workflow.Edit.Step4.html'"></div>
						<div ng-include="'components/Common/view/Workflow.Edit.Step5.html'"></div>
						<div ng-include="'components/Common/view/Workflow.Edit.Step6.html'"></div>
						<div ng-include="'components/Common/view/Workflow.Edit.Step7.html'"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer ">
				<button type="button" class="btn btn-white" data-dismiss="modal">{{ 'COMMON_CANCEL'| translate }}</button>
				<button type="submit" class="btn btn-primary" ng-disabled="parent.customerEditForm.$invalid || parent.leadEditForm.$invalid || parent.supplyEditForm.$invalid || parent.priceEditForm.$invalid || parent.saleEditForm.$invalid"
					ng-click="parent.save(parent.edit)" data-dismiss="modal ">{{ 'COMMON_SAVE'| translate }}</button>
			</div>
		</div>
	</div>
</div>