<form name="form">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <th>
                        {{ 'FORMER_PROCESSOR_NAME' | translate }}
                    </th>
                    <th>
                        {{ 'FORMER_PROCESSOR_ACTIVITY' | translate }}
                    </th>
                    <th>
                        {{ 'FORMER_PROCESSOR_TIMESTAMP' | translate }}
                    </th>
                    <th>

                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="processor in process.formerProcessors">

                        <td>
                            {{processor.user.firstname}}
                        </td>
                        <td>
                            <select disabled class="form-control" ng-model="processor.activity">                               
                                <option value="LEAD">LEAD</option>
                                <option value="OFFER">OFFER</option>
                                <option value="SALE">SALE</option>
                            </select>
                        </td>
                        <td>
                            {{toLocalDate(processor.timestamp)}}
                        </td>
                        <td>
                            <button type="button " class="btn btn-white btn-sm " ng-click="deletFormerProcessor(process,$index);checkForDups(process.formerProcessors,currentSelectedFomerProcessor,currentSelectedActivity) ">
                                <i class="fa fa-trash " ></i>&nbsp;
                            </button>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="form-control" ng-change="setUserById(currentSelectedFomerProcessorId);checkForDups(process.formerProcessors,currentSelectedFomerProcessor,currentSelectedActivity)"
                                ng-model="currentSelectedFomerProcessorId">
                                <option value="-1" hidden disabled>{{ 'FORMER_PROCESSOR_SELECT_FOMER_PROCESSOR' | translate }}</option>
                                <option value="{{user.id}}" ng-repeat="user in workflowService.users| filter:{role:'!API'}">{{user.firstname}} {{user.lastname}}</option>
                              
                            </select>
                        </td>
                        <td>
                            <select class="form-control" ng-change="checkForDups(process.formerProcessors,currentSelectedFomerProcessor,currentSelectedActivity)"
                                ng-model="currentSelectedActivity">
                                <option value="-1" hidden disabled>{{ 'FORMER_PROCESSOR_SELECT_ACTIVITY' | translate }}</option>
                                <option value="LEAD">LEAD</option>
                                <option value="OFFER">OFFER</option>
                                <option value="SALE">SALE</option>
                            </select>
                        </td>
                        <td></td>
                        <td>
                            <button ng-disabled="currentSelectedActivity==-1||existsDups" type="button" class="btn btn-white btn-sm" ng-click="addFormerProcessor(process,currentSelectedFomerProcessor,currentSelectedActivity);
                                    checkForDups(process.formerProcessors,currentSelectedFomerProcessor,currentSelectedActivity)">
                                     <i class="fa fa-plus"></i>&nbsp;</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</form>