<div style="white-space: nowrap;">
    <button ng-if="type=='lead' || type =='offer'" class="btn btn-white" ng-disabled="directiveData.config.disabled" ng-click="parent.createNextWorkflowUnit(parent.processes[directiveData.process.id]) "
        title="{{directiveData.translation.nextWorkflowUnit}}">
        <i class="fa fa-check"></i>
    </button>
    <button ng-if="type=='lead'|| type =='offer'" class="btn btn-white" ng-disabled="directiveData.config.disablePin" ng-click="parent.pin(parent.processes[directiveData.process.id])"
        title="{{'LEAD_PIN'| translate }}">
         <i class="fa fa-thumb-tack"></i>
        </button>
    <button ng-if="type=='offer'" class="btn btn-white" ng-disabled="directiveData.config.disablePin" ng-click="parent.followUp(parent.processes[directiveData.process.id])"
        title="{{'OFFER_FOLLOW_UP'| translate }}">
         <i class="fa fa-eye"></i>
        </button>
    <button ng-if="type=='lead' || type =='offer'" class="btn btn-white" ng-disabled="directiveData.config.closeOrOpenDisable"
        ng-click="parent.closeOrOpen(parent.processes[directiveData.process.id])" title="{{directiveData.config.openOrLock}}">
         <i class="{{directiveData.config.faOpenOrLock}}"></i>
    </button>
    <button class="btn btn-white" ng-disabled="directiveData.config.closeOrOpenDisable" ng-click="parent.loadDataToModal(parent.processes[directiveData.process.id])"
        data-toggle="modal" data-target="#editModal" title="{{directiveData.translation.editWorkflowUnit}}">
    <i class="fa fa-edit"></i>
    </button>
    <button class="btn btn-white" ng-disabled="directiveData.config.hasRightToDelete" ng-click="parent.deleteRow(parent.processes[directiveData.process.id])"
        title="{{directiveData.translation.deleteWorkflowUnit}}">
    <i class="fa fa-trash-o"></i>
   </button>
</div>