<style>
	.chat-view {
		word-break: break-all;
	}
</style>
<div class="row">
	<div class="col-lg-6">
		<div class="ibox">
			<div class="ibox-title">
				<h3>{{ 'COMMON_CHILDROW_ADDITONAL_TITLE' | translate }}</h3>
			</div>
			<div class="ibox-content">
				<table class="table table-bordered text-left">
					<tr>
						<td>{{ 'COMMON_NAME' | translate }}</td>
						<td>{{ workflowUnit.customer.title | translate }} {{workflowUnit.customer.firstname}} {{workflowUnit.customer.lastname}}
							<a ng-href="#/customer/detail/{{workflowUnit.customer.id}}" class="btn btn-xs btn-success btn-circle pull-right" type="button"><i class="fa fa-user"></i></a>
						</td>
					</tr>
					<tr>
						<td>{{ 'COMMON_PHONE' | translate }}</td>
						<td>{{workflowUnit.customer.phone}}</td>
					</tr>
					<tr>
						<td>{{ 'COMMON_PRODUCT_DELIVERYCOSTS' | translate }}</td>
						<td>{{workflowUnit.deliveryCosts | currency:'\u20AC'}}</td>
					</tr>
					<tr>
						<td>{{ 'COMMON_PRODUCT_DESTINATION' | translate }}</td>
						<td>{{workflowUnit.deliveryAddress}}</td>
					</tr>
					<tr ng-if="type=='offer'">
						<td>{{ 'COMMON_DELIVERY_TIME' | translate }}</td>
						<td>{{workflowUnit.deliveryDate}}</td>
					</tr>
					<tr>
						<td>{{ 'COMMON_PRODUCT_ENTIRE_PRICE' | translate }}</br>{{'COMMON_PRODUCT_INCL_DELIVERY_COSTS' | translate}}</td>
						<td style="vertical-align:middle">{{parent.sumOrderPositions(workflowUnit.orderPositions)+workflowUnit.deliveryCosts| currency:'\u20AC'}}</td>
					</tr>
					<tr ng-if="type=='offer'">
						<td>{{ 'COMMON_PRODUCT_OFFER_PRICE' | translate }}</td>
						<td>{{workflowUnit.offerPrice | currency:'\u20AC'}}</td>
					</tr>
					<tr ng-if="type=='sale'">
						<td>{{ 'COMMON_PRODUCT_SALE_INVOICE_NUMBER' | translate }}</td>
						<td>{{workflowUnit.invoiceNumber }}
						</td>
					</tr>
					<tr ng-if="type=='sale'">
						<td>{{ 'COMMON_PRODUCT_SALE_TURNOVER' | translate }}</td>
						<td>{{workflowUnit.saleTurnover | currency:'\u20AC'}}
						</td>
					</tr>
					<tr ng-if="type=='sale'">
						<td>{{ 'COMMON_PRODUCT_SALE_PROFIT' | translate }}</td>
						<td>{{workflowUnit.saleProfit | currency:'\u20AC'}}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg-6" ng-if="process.processor != null">
		<div class="ibox">
			<div class="ibox-title">
				<h3 ng-if="(process.processor.firstname==null||process.processor.firstname=='')&&(process.processor.lastname==null||process.processor.lastname=='')">
					{{ 'COMMON_PROCESSOR' | translate }}: {{process.processor.username}}</h3>
				<h3 ng-if="!((process.processor.firstname==null||process.processor.firstname=='')&&(process.processor.lastname==null||process.processor.lastname==''))">
					{{ 'COMMON_PROCESSOR' | translate }}: {{process.processor.firstname}} {{process.processor.lastname}}</h3>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="ibox">
			<div class="ibox-title">
				<h3>{{ 'COMMON_NOTE' | translate }}</h3>
			</div>
			<div class="ibox-content text-left">
				<div ng-bind-html="parent.getAsHtml(workflowUnit.message)" ></div>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-12" ng-include="'components/Common/view/ProductView.html'"></div>
</div>
<div class="row" ng-include="'components/Common/view/CommentView.html'"></div>
<div class="row" ng-include="'components/Common/view/AllComments.Modal.html'"></div>

<style>
	.btn-toolbar {
		margin-left: 0px;
	}
</style>