<form name="form">
	<div class="row">
		<div class="col-sm-4 text-left">
			<!-- OFFER PRICE -->
			<div ng-if="type=='offer' " class="form-group" ng-class="{ 'has-error' : parent.priceEditForm.netPrice.$invalid
                                && !parent.priceEditForm.netPrice.$pristine } ">
				<label>{{ 'COMMON_PRODUCT_OFFER_PRICE'| translate }}<span style="color:red ">*</span></label>
				<div class="input-group ">
					<span class="input-group-addon ">{{ 'COMMON_CURRENCY'| translate }}</span>
					<input type="number " name="netPrice " class="form-control currency" ng-model="parent.editWorkflowUnit.netPrice
                                " ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/ " step="0.01 " min="0 " data-number-to-fixed="2 "
						data-number-stepfactor="100 " id="c2 " required>
				</div>
				<p ng-show="parent.priceEditForm.netPrice.$invalid && !parent.priceEditForm.netPrice.$pristine " class="help-block ">{{ 'COMMON_VALIDATE_REQ'| translate }}({{ 'COMMON_VALIDATE_REQ_NUMBER'| translate }})</p>
			</div>
		</div>
		<div class="col-sm-12">
			<div>
				<div class="form-group ">
					<table class="table ">
						<tr>
							<td></td>
							<td>{{ 'COMMON_PRODUCT_BASE_PRICE' | translate }}</td>
							<td>{{parent.sumBasicPriceOrderPositions(parent.editWorkflowUnit.orderPositions)| currency:'\u20AC'}}
							</td>
						</tr>
						<tr>
							<td><b>-</b></td>
							<td>{{ 'PRODUCT_DISCOUNT' | translate }}</td>
							<td>{{parent.sumBasicPriceOrderPositions(parent.editWorkflowUnit.orderPositions) - parent.sumOrderPositions(parent.editWorkflowUnit.orderPositions)|
								currency:'\u20AC'}} ({{parent.workflowService.calculateDiscount(parent.sumBasicPriceOrderPositions(parent.editWorkflowUnit.orderPositions),parent.sumOrderPositions(parent.editWorkflowUnit.orderPositions))}}%)
							</td>
						</tr>
						<tr>
							<td><b>+</b></td>
							<td>{{ 'COMMON_PRODUCT_DELIVERYCOSTS' | translate }}</td>
							<td>{{parent.editWorkflowUnit.deliveryCosts|currency:'\u20AC'}}</td>
						</tr>
						<tr>
							<td><b>=</b></td>
							<td>
								<h3>{{ 'COMMON_PRODUCT_ENTIRE_PRICE' | translate }}({{ 'CALCULATION_NET' | translate }})</h3>
							</td>
							<td>
								<h3>{{parent.sumOrderPositions(parent.editWorkflowUnit.orderPositions)+parent.editWorkflowUnit.deliveryCosts|currency:'\u20AC'}}</h3>
							</td>
						</tr>
						<tr ng-if="type=='offer' ">
							<td><b>-</b></td>
							<td>{{ 'PRODUCT_DISCOUNT' | translate }}</td>
							<td>{{(parent.sumOrderPositions(parent.editWorkflowUnit.orderPositions)+parent.editWorkflowUnit.deliveryCosts)-parent.editWorkflowUnit.netPrice|
								currency:'\u20AC'}} ({{parent.workflowService.calculateDiscount(parent.sumOrderPositions(parent.editWorkflowUnit.orderPositions)+parent.editWorkflowUnit.deliveryCosts,parent.editWorkflowUnit.netPrice)}}%)
							</td>
						</tr>
						<tr ng-if="type=='offer' ">
							<td><b>=</b></td>
							<td>
								<h3>{{ 'COMMON_PRODUCT_OFFER_PRICE' | translate }}({{ 'CALCULATION_NET' | translate }})</h3>
							</td>
							<td>
								<h3>{{parent.editWorkflowUnit.netPrice|currency:'\u20AC'}}</h3>
							</td>
						</tr>
						<tr ng-if="type=='sale' ">
							<td><b>-</b></td>
							<td>{{ 'PRODUCT_DISCOUNT' | translate }}</td>
							<td>{{(parent.sumOrderPositions(parent.editWorkflowUnit.orderPositions)+parent.editWorkflowUnit.deliveryCosts)-parent.editProcess.offer.netPrice|
								currency:'\u20AC'}} ({{parent.workflowService.calculateDiscount(parent.sumOrderPositions(parent.editWorkflowUnit.orderPositions)+parent.editWorkflowUnit.deliveryCosts,parent.editProcess.offer.netPrice)}}%)
							</td>
						</tr>
						<tr ng-if="type=='sale' ">
							<td><b>=</b></td>
							<td>
								<h3>{{ 'COMMON_PRODUCT_OFFER_PRICE' | translate }}({{ 'CALCULATION_NET' | translate }})</h3>
							</td>
							<td>
								<h3>{{parent.editProcess.offer.netPrice|currency:'\u20AC'}}</h3>
							</td>
						</tr>
						<tr ng-if="type=='sale' || type=='offer'">
							<td><b>+</b></td>
							<td>
								<table style="table-layout:fixed;">
									<td ng-if="type=='offer'" style="vertical-align:top; overflow: hidden;">
										{{ 'CALCULATION_VAT' | translate }} &nbsp;<span ng-show="!inputfield ">{{parent.editWorkflowUnit.vat}}%</span>
									</td>
									<td ng-if="type=='sale'" style="vertical-align:top; overflow: hidden;">
										{{ 'CALCULATION_VAT' | translate }} &nbsp;<span>{{parent.editProcess.offer.vat}}%</span>
									</td>
									<td ng-if="type=='offer'" style="overflow: hidden;">
										<div class="input-group " ng-show="inputfield " ng-class="{
                                'has-error' : parent.priceEditForm.vat.$invalid && !parent.priceEditForm.vat.$pristine } ">
											<span class="input-group-addon ">%</span>
											<input class="form-control currency" focus-me="inputfield" name="vat" type="number " ng-model="parent.editWorkflowUnit.vat "
												ng-blur="inputfield = !(inputfield && !(parent.priceEditForm.vat.$invalid && !parent.priceEditForm.vat.$pristine))"
												ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/ " step="0.01 " min="0 " max="100 " required>
										</div>&nbsp;
										<a class="close-link " ng-click="inputfield=! inputfield" ng-show="type!=='sale' && !inputfield"><i class="fa fa-pencil-square-o "></i></a>
									</td>
								</table>
							</td>
							<td ng-if="type=='sale' ">{{parent.editProcess.offer.netPrice*(parent.editProcess.offer.vat/100)|currency:'\u20AC'}}</td>
							<td ng-if="type=='offer' ">{{parent.editWorkflowUnit.netPrice*(parent.editWorkflowUnit.vat/100)|currency:'\u20AC'}}</td>
						</tr>
						<tr ng-if="type=='offer' ">
							<td><b>=</b></td>
							<td>
								<h3>{{ 'COMMON_PRODUCT_OFFER_PRICE' | translate }}({{ 'CALCULATION_GROSS' | translate }})</h3>
							</td>
							<td>
								<h3>{{parent.editWorkflowUnit.netPrice*(1+(parent.editWorkflowUnit.vat/100))|currency:'\u20AC'}}</h3>
							</td>
						</tr>
						<tr ng-if="type=='sale' ">
							<td><b>=</b></td>
							<td>
								<h3>{{ 'COMMON_PRODUCT_OFFER_PRICE' | translate }}({{ 'CALCULATION_GROSS' | translate }})</h3>
							</td>
							<td>
								<h3>{{parent.editProcess.offer.netPrice*(1+(parent.editProcess.offer.vat/100))|currency:'\u20AC'}}</h3>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</form>