<div class="modal-body">
	<button type="button" class="close" ng-click="parent.close()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<div id="wizard" role="application" class="wizard clearfix">
		<div class="steps clearfix">
			<ul role="tablist">
				<li ng-click="parent.wizardOnClick(1)" role="tab" ng-class="{error:parent.customerEditForm.$invalid,current:parent.currentWizard==1,done:parent.currentWizard!=1}"
					aria-disabled="false" aria-selected="true"><a aria-controls="wizard-p-0"><span class="number">1.</span> {{ 'CUSTOMER'| translate }}</a></li>
				<li ng-click="parent.wizardOnClick(2)" role="tab" ng-class="{error:parent.leadEditForm.$invalid,current:parent.currentWizard==2,done:parent.currentWizard!=2}"
					aria-disabled="false" aria-selected="false"><a aria-controls="wizard-p-1"><span class="number">2.</span> {{ 'LEAD'| translate }}</a></li>
				<li ng-click="parent.wizardOnClick(3)" role="tab" ng-class="{error:parent.supplyEditForm.$invalid,current:parent.currentWizard==3,done:parent.currentWizard!=3}"
					aria-disabled="false" aria-selected="false"><a aria-controls="wizard-p-2"><span class="number">3.</span> {{ 'SUPPLY'| translate }}</a></li>
				<li ng-click="parent.wizardOnClick(4)" role="tab" ng-class="{error:parent.priceEditForm.$invalid,current:parent.currentWizard==4,done:parent.currentWizard!=4}"
					aria-disabled="false" aria-selected="false"><a aria-controls="wizard-p-3"><span class="number">4.</span> {{ 'COMMON_PRODUCT_CALCULATION'| translate }}</a></li>
				<li ng-click="parent.wizardOnClick(5)" role="tab" ng-class="{error:parent.emailEditForm.$invalid&&!parent.emailEditForm.$pristine,current:parent.currentWizard==5,done:parent.currentWizard!=5}"
					aria-disabled="false" aria-selected="false"><a aria-controls="wizard-p-4"><span class="number">5.</span> {{ 'EMAIL'| translate }}</a></li>
				<li ng-if="type=='sale'" ng-click="parent.wizardOnClick(6)" role="tab" ng-class="{error:parent.saleEditForm.$invalid,current:parent.currentWizard==6,done:parent.currentWizard!=6}"
					aria-disabled="false" aria-selected="false"><a aria-controls="wizard-p-5"><span class="number">6.</span> {{ 'SALE'| translate }}</a></li>
			</ul>
		</div>
		<div class="clearfix">
			<div ng-include="'components/Common/view/Workflow.Edit.Step1.html'"></div>
			<div ng-include="'components/Common/view/Workflow.Edit.Step2.html'"></div>
			<div ng-include="'components/Common/view/Workflow.Edit.Step3.html'"></div>
			<div ng-include="'components/Common/view/Workflow.Edit.Step4.html'"></div>
			<div ng-include="'components/Common/view/Workflow.Edit.Step5.html'"></div>
			<div ng-include="'components/Common/view/Workflow.Edit.Step6.html'"></div>
		</div>
	</div>
</div>
<div class="modal-footer ">
	<button type="button " class="btn btn-white " ng-click="parent.close()">{{ 'COMMON_CANCEL'| translate }}</button>
	<button type="button " class="btn btn-primary " ng-disabled="parent.customerEditForm.$invalid || parent.leadEditForm.$invalid || parent.supplyEditForm.$invalid || parent.priceEditForm.$invalid"
		ng-click="parent.save() ">{{ 'COMMON_SAVE'| translate }}</button>
	<button ng-if="parent.currentWizard==5 && type == 'offer'" type="button " class="btn btn-warning " ng-disabled="parent.customerEditForm.$invalid || parent.leadEditForm.$invalid || parent.supplyEditForm.$invalid || parent.priceEditForm.$invalid || parent.emailEditForm.$invalid"
		ng-click="parent.send() ">{{ 'COMMON_CONTINUE_AND_SENDING'| translate }}</button>
	
</div>

<script language="javascript " type="text/javascript ">
    $(document).ready(function () {
        $('#editOfferDatepicker .input-group.date').datepicker({
            todayBtn: "linked ",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });     
    });
</script>