#ngdatatable tr td {
		height: 62px;
		vertical-align: middle;
	}
    #ngdatatable .shown{
        background-color: whitesmoke;
	}
	#ngdatatable_wrapper {
		width: 99%;
		margin-left: 0.5%;
	}
	#ngdatatable_filter label{
		margin-right: 0px;
	}
	#ngdatatable_info{
		float:left;
	}
    .childstyle{
        background-color:whitesmoke;
    }
    .b-l {
         border-left: 1px solid #e7eaec;
}