div#loginscreen:after
{   content: ""; 
    display: block;
    left: 0; 
    background-image: url(img/leadplus_background.png); 
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover; 
    position: absolute; 
    background-position: center; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    opacity: 0.25; 
}
