div#loginscreen
{   content: ""; 
    display: block;
    left: 0; 
    background-image: url(img/leadplus_background.png); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover; 
    position: absolute; 
    background-position: center; 
    width: 100%; 
    min-height: 100%; 
    top: 0;  
}
